<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Trainer
        </v-card-title>

        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="characters"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td>
              {{ props.item.user ? props.item.user.username : '' }}
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                :to="`/trainer/${props.item._id}`"
                target="_blank"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                class="mx-0"
                flat
                icon
                small
                @click="deleteTrainer(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>
  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';
  import userMixins from '@/mixins/user';

  export default {
    layout: 'admin',
    mixins: [
      appMixins,
      dialogMixins,
      userMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/characters');
      return {
        characters: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'User', value: 'user.username' },
          { text: '', value: '' },
        ],
        selectedTrainer: {
          username: '',
          permissions: [],
          currency: 0,
          premium_currency: 0,
          password: this.randString(12),
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/characters');
          this.characters = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Trainer has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Trainer has been successfully updated.'
        });
      },
      selectTrainer(user) {
        this.selectedTrainer = JSON.parse(JSON.stringify(user));
        this.toggleDialog();
      },
      async deleteTrainer({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/characters/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Item has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Item could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedTrainer = {
          username: '',
          permissions: [],
          currency: 0,
          premium_currency: 0,
          password: this.randString(12),
        };
      }
    },
  }
</script>
