<template>
  <v-dialog
    v-model="value"
    persistent
    max-width="900px"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!thread">
              Create thread
            </template>
            <template v-else-if="!!post._id">
              Edit post
            </template>
            <template v-else>
              Create post
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <v-text-field
            v-model="post.title"
            label="Title"
            required
            v-if="!thread"
          >
          </v-text-field>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Body</div>
            <wysiwyg v-model="post.body" />
          </div>
        </v-card-text>
      </v-form>

    </v-card>
  </v-dialog>
</template>
<script>
  import "vue-wysiwyg/dist/vueWysiwyg.css";

  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      post: {
        type: Object,
        required: true,
      },
      thread: {
        type: Object,
        required: false,
      },
    },
    mixins: [formMixins],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.post);

        if(!this.thread) {
          try {
            result = await this.$axios.$post('/threads', payload);

            this.$emit('createThread', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else if(!!payload._id) {
          try {
            result = await this.$axios.$patch(`/posts/${payload._id}`, payload);

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post('/posts', payload);

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
    }
  }
</script>
<style scoped>
.editor {
  height: 800px;
}
</style>
