<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!item._id">
              Edit Gacha Item
            </template>
            <template v-else>
              Add Gacha Item
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
              v-if="!!canEditUsers"
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-autocomplete
            v-model="item.item"
            :items="items"
            label="Item"
            item-text="name"
            item-value="_id"
          >
          </v-autocomplete>

          <v-text-field
            v-model="item.amount"
            label="Amount"
          >
          </v-text-field>

          <v-text-field
            v-model="item.weight"
            label="Weight"
          >
          </v-text-field>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      item: {
        type: Object,
        required: true,
      },
      items: {
        type: Array,
        required: false,
      },
    },
    mixins: [formMixins, userMixins],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.item);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(`/gacha/${payload._id}`, payload);

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post('/gacha', payload);

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
    },
  }
</script>
