<template>
  <v-card
    class="mb-0"
    flat
  >
    <v-card-title
      class="py-4 pointer"
      :class="{
        'read' : !notRead && !expand
      }"
      @click="expandMessage"
    >
      <span class="subheading">
        <v-icon
          :color="!!notRead ? 'rgba(0,0,0,0.3)' : '#4caf50'"
          small
        >
          check
        </v-icon>
        {{ value.title }}

      </span>
      <v-spacer />
      <span
        class="caption"
        v-if="value.type === 'message'"
      >
        Conversation with
        <span class="font-weight-bold">
          <template v-if="value.to._id === user._id">
            {{ value.from.username }}
          </template>
          <template v-else>
            {{ value.to.username }}
          </template>
        </span>
      </span>
      <v-spacer />
      <span class="caption">
        {{ hoomenTime(value.updatedAt) }}
      </span>
    </v-card-title>
    <v-expand-transition>
      <v-card
        color="grey lighten-3"
        class="mb-0"
        flat
        v-show="!!expand"
      >

        <v-card-text>
          <v-card
            color="white"
            class="mb-0"
            flat
          >
            <v-card-text v-if="value.type === 'message'">
              <MessageForm
                @create="$emit('create')"
                @update="$emit('update')"
                :thread="value"
              />
            </v-card-text>

            <v-card-text
              v-for="(message, i) in value.messages"
              :key="`message-${i}`"
            >
              <v-layout
                row
                wrap
                v-if="value.type === 'message'"
              >
                <span class="caption font-weight-bold">
                  From:
                  <template v-if="message.author === value.from._id">
                    {{ value.from.username }}
                  </template>
                  <template v-else>
                    {{ value.to.username }}
                  </template>
                </span>
                <v-spacer />
                <span class="caption">
                  {{ hoomenTime(message.createdAt) }}
                </span>
              </v-layout>

              <div v-html="message.content"></div>
            </v-card-text>
          </v-card>
        </v-card-text>
      </v-card>
    </v-expand-transition>

  </v-card>
</template>

<script>
  import MessageForm from '@/components/Messages/MessageForm';

  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    props: {
      value: {
        type: Object,
        required: true,
      }
    },
    components: {
      MessageForm
    },
    mixins: [userMixins, dateTimeMixins],
    data() {
      return {
        expand: false,
      }
    },
    methods: {
      expandMessage() {
        this.expand = !this.expand;

        if(!!this.notRead)
          this.markRead()
      },
      async markRead() {
        if(this.value.to._id === this.user._id) {
          this.value.toRead = true;
        } else {
          this.value.fromRead = true;
        }
        this.$axios.post(`/messages/${this.value._id}/markread`);
      }
    },
    computed: {
      notRead() {
        return this.value.to._id === this.user._id ? !this.value.toRead : !this.value.fromRead;
      }
    }
  }
</script>
<style lang="stylus" scoped>
.read {
  opacity: 0.6;
}
</style>
