<template>
  <div class="message-form">
    <v-alert
      type="success"
      :value="!!success"
    >
      Message was successfully sent!
    </v-alert>
    <v-alert
      type="error"
      :value="true"
      v-for="(error, i) in serverErrors"
      :key="i"
    >
      {{ error }}
    </v-alert>
    <UserSelect
      v-model="message.to"
      class="mb-4"
      v-if="!isAnswering && !recipient"
    />
    <v-text-field
      :value="message.to.username"
      label="Recipient"
      box
      :disabled="!!isAnswering || !!recipient"
      v-else
    />
    <v-text-field
      v-model="message.title"
      box
      placeholder="Enter title here..."
      label="Title"
      v-if="!isAnswering"
    />
    <wysiwyg
      v-model="message.content"
      placeholder="Enter comment here..."
      label="Add comment"
    />
    </v-textarea>
    <v-btn
      color="success"
      depressed
      block
      :disabled="
        (
          !message.title
          && !isAnswering
        )
        || !message.content
        || !message.to._id
      "
      @click="onSubmit"
    >
      Send Message
    </v-btn>
  </div>
</template>

<script>
  import "vue-wysiwyg/dist/vueWysiwyg.css";

  import UserSelect from '@/components/App/UserSelect';

  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      thread: {
        type: Object,
        required: false,
      },
      recipient: {
        type: Object,
        required: false,
      }
    },
    components: {
      UserSelect
    },
    mixins: [formMixins, userMixins],
    data() {
      return {
        message: {
          to: {},
          title: null,
          content: '',
        },
        success: false,
        serverErrors: []
      }
    },
    mounted() {
      if(!!this.recipient) {
        this.message.to = this.recipient;
      } else if(!!this.isAnswering) {
        this.message._id = this.thread._id;
        this.message.to = this.thread.from._id === this.user._id ? this.thread.to : this.thread.from;
      }
    },
    methods: {
      async onSubmit() {
        this.serverErrors = [];

        let result;

        const payload = this.createPayload(this.message);

        if(typeof payload.to === 'object')
          payload.to = payload.to._id;
        
        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/messages/${payload._id}`,
              payload
            );

            this.$emit('update', result);
            this.success = true;
            this.reset();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/messages',
              payload
            );

            this.$emit('create', result);
            this.success = true;
            this.reset();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      reset() {
        if(!this.isAnswering && !this.recipient) {
          this.message.to = {};
        }

        if(!this.isAnswering) {
          this.message.title = null;
        }

        this.message.content = '';
      }
    },
    computed: {
      isAnswering() {
        return !!this.thread;
      },
    }
  }
</script>
