<template>
  <v-card
    class="mb-0"
    flat
  >
    <v-card-title
      class="py-4 pointer"
      :class="{
        'read' : !notRead
      }"
      @click="openMessage"
    >
      <span class="subheading">
        <v-icon
          :color="!!notRead ? 'rgba(0,0,0,0.3)' : '#4caf50'"
          small
        >
          check
        </v-icon>
        {{ value.title }}

      </span>
      <v-spacer />
      <span
        class="caption"
        v-if="value.type === 'message'"
      >
        Conversation with
        <span class="font-weight-bold">
          <template v-if="value.to._id === user._id">
            {{ value.from.username }}
          </template>
          <template v-else>
            {{ value.to.username }}
          </template>
        </span>
      </span>
      <v-spacer />
      <span class="caption">
        {{ hoomenTime(value.updatedAt) }}
      </span>
    </v-card-title>

  </v-card>
</template>

<script>
  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    props: {
      value: {
        type: Object,
        required: true,
      }
    },
    mixins: [userMixins, dateTimeMixins],
    methods: {
      openMessage() {
        this.$store.commit('messages/setThread', JSON.parse(JSON.stringify(this.value)))
        this.$store.commit('messages/showMessageDialog')

        if(!!this.notRead)
          this.markRead()
      },
      async markRead() {
        if(this.value.to._id === this.user._id) {
          this.value.toRead = true;
        } else {
          this.value.fromRead = true;
        }
        this.$axios.post(`/messages/${this.value._id}/markread`);
      }
    },
    computed: {
      notRead() {
        return this.value.to._id === this.user._id ? !this.value.toRead : !this.value.fromRead;
      }
    }
  }
</script>
<style lang="stylus" scoped>
.read {
  opacity: 0.6;
}
</style>
