<template>
  <v-dialog
    persistent
    v-model="dialog"
    max-width="800"
  >
    <v-card>
      <v-toolbar
        color="rgb(141, 183, 118)"
        class="white--text px-2 text-truncate"
        flat
      >
        <v-btn
          icon
          dark
          @click="closeDialog"
        >
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title class="grow">
          <div class="flex">
            {{ thread.title }}
          </div>
        </v-toolbar-title>
      </v-toolbar>

      <v-card-text v-if="!alert">
        <v-card
          color="white"
          class="mb-0"
          flat
        >
          <v-card-text v-if="thread.type === 'message'">
            <MessageForm
              @create="$emit('create')"
              @update="$emit('update')"
              :thread="thread"
            />
          </v-card-text>
        </v-card>
      </v-card-text>
      <v-card-title class="grey lighten-2" v-if="!alert">Messages</v-card-title>

      <v-card-text
        v-for="(message, i) in thread.messages"
        :class="{
          'grey lighten-4' : i % 2 !== 0
        }"
        :key="`message-${thread._id}-${i}`"
      >
        <v-layout
          row
          wrap
          v-if="thread.type === 'message'"
        >
          <span class="caption font-weight-bold">
            From:
            <template v-if="message.author === thread.from._id">
              {{ thread.from.username }}
            </template>
            <template v-else>
              {{ thread.to.username }}
            </template>
          </span>
          <v-spacer />
          <span class="caption">
            {{ hoomenTime(message.createdAt) }}
          </span>
        </v-layout>

        <div v-html="message.content"></div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
  import MessageForm from '@/components/Messages/MessageForm';

  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    props: {
      alert: {
        type: Boolean,
        required: false,
        default: false,
      }
    },
    components: {
      MessageForm
    },
    mixins: [userMixins, dateTimeMixins],
    computed: {
      dialog: {
        get() {
          return this.$store.state.messages.dialog
        },
        set(value) {
          this.$store.commit('messages/setMessageDialog', value)
        }
      },
      thread: {
        get() {
          return this.$store.state.messages.thread
        },
        set(value) {
          this.$store.commit('messages/setThread', value)
        }
      }
    },
    methods: {
      closeDialog() {
        this.$store.commit('messages/hideMessageDialog');
      },
    }
  }
</script>
