<template>
  <v-dialog
    persistent
    v-model="value"
    max-width="800"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            Add section
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="section.name"
            label="Name"
            required
          >
          </v-text-field>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      section: {
        type: Object,
        required: true,
      },
    },
    mixins: [formMixins, userMixins],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.section);

        try {
          result = await this.$axios.$post('/sections', payload);

          this.$emit('create', result);
          this.toggleDialog();
        } catch (e) {
          console.error(e);

          if(
            !!e.response
            && !!e.response.data
          ) {
            if(!!e.response.data.errors)
              this.serverErrors = e.response.data.errors;
          }

          this.$emit('error');
        }
      }
    }
  }
</script>
