<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Pokemon
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Pokemon
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="companions"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                @click="selectCompanion(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                class="mx-0"
                flat
                icon
                small
                @click="deleteCompanion(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :edited-companion="selectedCompanion"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Companions/CompanionDialog';

  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [
      appMixins,
      dialogMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/companions');
      return {
        companions: result.data,
      };
    },
    data() {
      return {
        headers: [
          { text: 'Name', value: 'name' },
          { text: '', value: '' },
        ],
        selectedCompanion: {
          name: '',
        },
        showDialog: false,
        search: '',
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/companions');
          this.companions = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully updated.'
        });
      },
      selectCompanion(companion) {
        this.selectedCompanion = JSON.parse(JSON.stringify(companion));
        this.toggleDialog();
      },
      async deleteCompanion({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/companions/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Pokemon has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Pokemon could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedCompanion = {
          name: '',
        };
      }
    },
  }
</script>
