<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Content
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Content
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.slug }}</strong>
            </td>
            <td>{{ props.item.category }}</td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                flat
                icon
                small
                :to="`/c/${props.item.slug}`"
                target="_blank"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectContent(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteContent(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :content="selectedContent"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Content/ContentDialog';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/content');
      return {
        items: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Slug', value: 'slug' },
          { text: 'Category', value: 'category' },
          { text: '', value: '' },
        ],
        selectedContent: {
          slug: '',
          title: '',
          category: 'news',
          hasComments: true,
          navLabel: '',
          notifyUsers: false,
          notificationMessage: '',
          body: '',
        },
        showDialog: false,
      }
    },
    mounted() {
      if(this.$route.hash) {
        const id = this.$route.hash.replace('#', '');

        const item = this.items.find(({_id}) => _id === id);

        if(item)
          this.selectContent(item);
      }
    },
    methods: {

      async get() {
        try {
          const result = await this.$axios.get('/content');
          this.items = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Content has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Content has been successfully updated.'
        });
      },
      selectContent(item) {
        this.selectedContent = JSON.parse(JSON.stringify(item));
        this.toggleDialog();
      },
      async deleteContent({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/content/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Content has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Content could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedContent = {
          slug: '',
          title: '',
          category: 'news',
          hasComments: true,
          body: '',
        };
      }
    },
  }
</script>
