<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Trade Ins
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Trade In
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="tradeIns"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td>/{{ props.item.slug }}</td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                :to="`/trade_ins/${props.item.slug}`"
                target="_blank"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectTradeIn(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteTradeIn(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :tradeIn="selectedTradeIn"
      :items="items"
      :companions="companions"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/TradeIns/TradeInDialog';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
        const [
          {data:tradeIns},
          {data:items},
          {data:companions}
        ] = await Promise.all([
          $axios.get('/trade_ins'),
          $axios.get('/items'),
          $axios.get('/companions'),
        ])

      return {
        tradeIns,
        items,
        companions,
      };
    },
    data() {
      return {
        search: '',
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Slug', value: 'slug' },
          { text: '', value: '' },
        ],
        selectedTradeIn: {
          name: '',
          slug: '',
          description: '',
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const [
            {data:tradeIns},
            {data:items},
            {data:companions}
          ] = await Promise.all([
            this.$axios.get('/trade_ins'),
            this.$axios.get('/items'),
            this.$axios.get('/companions'),
          ])

          this.tradeIns = tradeIns;
          this.items = items;
          this.companions = companions;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'TradeIn has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'TradeIn has been successfully updated.'
        });
      },
      async selectTradeIn({_id}) {
        const { data:tradeIn } = await this.$axios.get(`/trade_ins/id/${_id}`);

        if(!tradeIn.inventory)
          tradeIn.inventory = [];

        this.selectedTradeIn = tradeIn;
        this.toggleDialog();
      },
      async deleteTradeIn({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/trade_ins/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'TradeIn has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'TradeIn could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedTradeIn = {
          name: '',
          slug: '',
          value: '',
        };
      }
    },
  }
</script>
