<template>
  <div class="rank">
    <v-layout row wrap align-center>
      <v-flex shrink>
        <v-img
          :src="value.icon"
          height="12px"
          width="12px"
          v-if="!!value && !!value.icon"
        />
      </v-flex>

      <span class="caption">{{ value ? value.name : 'Unranked' }}</span>
    </v-layout>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: Object,
        required: false
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .rank
    cursor: pointer
</style>
