<template>
  <v-layout row wrap justify-center>
    <v-flex
      xs12
      class="mb-4"
    >
      <card
        v-if="
          !!isAdmin
          || !!canEditUsers
          || !!canEditCharacters
          || !!canModerate
          || !!isUser()
        "
        lite
      >
        <v-card-text>
          <div class="text-xs-right">
            <v-btn
              color="success"
              depressed
              small
              v-if="!!isUser()"
              @click="toggleSubmissionDialog"
            >
              Add Submission
            </v-btn>
            <v-btn
              color="success"
              depressed
              small
              v-if="!!canEditUsers || !!isUser()"
              @click="toggleLogDialog"
            >
              Show Logs
            </v-btn>

            <template v-if="!!editMode">

              <v-btn
                color="success"
                depressed
                small
                @click="saveUserAndToggleEditMode"
              >
                Save
              </v-btn>
            </template>
            <template v-else>
              <v-btn
                color="success"
                depressed
                small
                @click="toggleEditMode"
              >
                Edit
              </v-btn>
            </template>

          </div>
        </v-card-text>
      </card>
      <Card
        class="mb-3"
        lite
      >
        <v-card-text>
          <v-layout row wrap>
            <v-flex
              md12
              lg3
              xl4
              :class="{
                'pr-4' : $vuetify.breakpoint.mdAndUp
              }"
              class="text-xs-center"
            >
              <template
                v-if="
                  !!editMode
                  && (
                    !!canEditUsers
                    || !!isUser()
                  )
                "
              >
                <picture-input
                  ref="icon"
                  margin="16"
                  accept="image/jpeg,image/png,image/gif"
                  width="200"
                  height="300"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Drag & Drop Icon'
                  }"
                  @change="onChange"
                >
                </picture-input>
              </template>
              <template v-else-if="!!profile.icon">
                <img
                  :src="profile.icon"
                  :alt="profile.username"
                  style="max-width:100%"
                />
              </template>
            </v-flex>
            <v-flex
              md12
              lg9
              xl8
            >
              <v-card
                color="grey lighten-3"
                class="mb-2"
                flat
              >
                <v-card-text>
                  <div class="title">
                    <template
                      v-if="
                        !!editMode
                        && !!canEditUsers
                      "
                    >
                      <v-text-field
                        v-model="profile.username"
                        label="Name"
                        large
                        light
                        box
                      ></v-text-field>

                      <v-autocomplete
                        v-model="profile.rank"
                        :items="ranks"
                        label="Job"
                        item-text="name"
                        item-value="_id"
                        return-object
                        large
                        light
                        box
                      >
                    </v-autocomplete>
                    </template>
                    <template v-else>
                      {{ profile.username }}

                      <TitleCard
                        class="my-1"
                        :value="profile.rank"
                      />
                    </template>
                  </div>
                  <template
                    v-if="
                      !!editMode
                      && (
                        !!canEditUsers
                        || !!isUser()
                      )
                    "
                  >
                    <wysiwyg
                      v-model="profile.bio"
                      box
                      label="About"
                    />
                  </template>
                  <template v-else>
                    <div v-html="profile.bio" />
                  </template>
                </v-card-text>
              </v-card>


              <v-card
                color="grey lighten-3"
                flat
              >
                <v-card-title class="pb-0">
                  Currency
                </v-card-title>
                <v-card-text>
                  <v-layout
                    v-if="
                      !!editMode
                      && !!canEditUsers
                    "
                    row
                    wrap
                  >
                    <v-flex
                      xs12
                      lg6
                      class="px-1"
                    >
                      <v-text-field
                        v-model="profile.currency"
                        label="Pokedollars"
                        required
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex
                      xs12
                      lg6
                      class="px-1"
                    >
                      <v-text-field
                        v-model="profile.thorn_reputation_points"
                        label="Thorn Reputation Points"
                        required
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex
                      xs12
                      lg6
                      class="px-1"
                    >
                      <v-text-field
                        v-model="profile.aurora_faction_points"
                        label="Aurora Reputation Points"
                        required
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex
                      xs12
                      lg6
                      class="px-1"
                    >
                      <v-text-field
                        v-model="profile.eventide_faction_points"
                        label="Eventide Reputation Points"
                        required
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex
                      xs12
                      lg6
                      class="px-1"
                    >
                      <v-text-field
                        v-model="profile.casino_tickets"
                        label="Casino Tickets"
                        required
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex
                      xs12
                      lg6
                      class="px-1"
                    >
                      <v-text-field
                        v-model="profile.pledge_points"
                        label="Pledge Points"
                        required
                      >
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout
                    v-else
                    row
                    wrap
                  >
                    <v-flex
                      xs6
                      lg4
                    >
                      <span class="caption">
                        {{ profile.currency }}
                        PD
                      </span>
                    </v-flex>
                    <v-flex
                      xs6
                      lg4
                    >
                      <span class="caption">
                        {{ profile.thorn_reputation_points }}
                        Thorn Reputation Points
                      </span>
                    </v-flex>
                    <v-flex
                      xs6
                      lg4
                    >
                      <span class="caption">
                        {{ profile.aurora_faction_points }}
                        Aurora Reputation Points
                      </span>
                    </v-flex>
                    <v-flex
                      xs6
                      lg4
                    >
                      <span class="caption">
                        {{ profile.eventide_faction_points }}
                        Eventide Reputation Points
                      </span>
                    </v-flex>
                    <v-flex
                      xs6
                      lg4
                    >
                      <span class="caption">
                        {{ profile.casino_tickets }}
                        Casino Tickets
                      </span>
                    </v-flex>
                    <v-flex
                      xs6
                      lg4
                    >
                      <span class="caption">
                        {{ profile.pledge_points }}
                        Pledge Points
                      </span>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>

        </v-card-text>
      </Card>

      <Card>
        <v-card-text>
          <v-tabs
            v-model="tab"
            color="transparent"
            background-color="transparent"
            slider-color="#b2bba2"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.key"
              ripple
            >
              {{ tab.label }}
            </v-tab>
            <v-tab-item key="trainer">
              <div class="layout row justify-center wrap py-4 px-2">
                <v-flex
                  lg12
                  v-for="(character, i) in profile.characters"
                  :key="`character-${i}`"
                >
                  <Card>
                    <v-card-title>
                      <nuxt-link
                        :to="`/trainer/${character._id}`"
                      >
                        {{ character.name }}
                      </nuxt-link>
                    </v-card-title>
                    <v-card-text class="grey lighten-3">
                      <draggable
                        :list="character.companions"
                        group="user"
                        handle=".draggiboi"
                        class="layout row wrap"
                        @change="onSort($event, character._id)"
                      >
                        <CompanionCard
                          :value="companion.companion"
                          :color-statuses="companion.colorStatuses"
                          :pokeball="companion.pokeball"
                          :salon="companion.salon"
                          style="width:auto"
                          class="ma-1"
                          v-for="(companion, index) in character.companions"
                          :key="companion._id"
                        >
                          <div>
                            <v-btn
                              small
                              icon
                              @click="selectCompanion(companion)"
                            >
                              <v-icon
                                small
                                class="icon-border"
                              >
                                edit
                              </v-icon>
                            </v-btn>
                            <v-icon
                              small
                              class="draggiboi icon-border"
                            >
                              drag_indicator
                            </v-icon>
                          </div>
                        </CompanionCard>
                      </draggable>
                    </v-card-text>
                  </Card>
                </v-flex>
                <v-flex
                  lg12
                  v-for="(section, i) in profile.sections"
                  :key="`section-${i}`"
                >
                  <Card>
                    <v-card-title>
                      {{ section.name }}

                      <v-icon
                        size="18"
                        color="error"
                        class="ml-1"
                        v-if="
                          section.companions.length === 0
                          && !!canEditUsers
                        "
                        @click="deleteSection(section)"
                      >
                        close
                      </v-icon>
                    </v-card-title>
                    <v-card-text class="grey lighten-3">
                      <draggable
                        :list="section.companions"
                        group="user"
                        class="layout row wrap"
                        @change="onSort($event, section._id, true)"
                      >
                        <CompanionCard
                          :value="companion.companion"
                          :color-statuses="companion.colorStatuses"
                          :pokeball="companion.pokeball"
                          :salon="companion.salon"
                          style="width:auto"
                          class="ma-1"
                          v-for="(companion, index) in section.companions"
                          :key="companion._id"
                        >
                          <div>
                            <v-btn
                              small
                              icon
                              @click="selectCompanion(companion)"
                            >
                              <v-icon
                                small
                                class="icon-border"
                              >
                                edit
                              </v-icon>
                            </v-btn>
                            <v-icon
                              small
                              class="draggiboi icon-border"
                            >
                              drag_indicator
                            </v-icon>
                          </div>
                        </CompanionCard>
                      </draggable>
                    </v-card-text>
                  </Card>
                </v-flex>
              </div>
              <v-layout
                row
                wrap
                v-if="!!editMode"
              >
                <v-flex
                  class="pa-1"
                  v-if="!!canEditCharacters"
                >
                  <v-btn
                    class="white--text"
                    color="rgb(141, 183, 118)"
                    depressed
                    block
                    @click="toggleCreateCharacterDialog"
                  >
                    Add Character
                  </v-btn>
                </v-flex>
                <v-flex
                  class="pa-1"
                  v-if="!!canEditCharacters"
                >
                  <v-btn
                    class="white--text"
                    color="rgb(141, 183, 118)"
                    depressed
                    block
                    @click="toggleEditCompanionDialog"
                  >
                    Add Pokemon
                  </v-btn>
                </v-flex>
                <v-flex
                  class="pa-1"
                  v-if="!!canEditSections"
                >
                  <v-btn
                    class="white--text"
                    color="rgb(141, 183, 118)"
                    depressed
                    block
                    @click="toggleCreateSectionDialog"
                  >
                    Add Section
                  </v-btn>
                </v-flex>

              </v-layout>
            </v-tab-item>
            <v-tab-item key="gallery">
              <div class="ma-2 my-3">
                <v-checkbox
                  v-model="showAllSubmissions"
                  label="Show all submissions"
                  hide-details
                />
              </div>
              <isotope ref="gallery" :options='galleryOptions' v-images-loaded:on.progress="layout" :list="filteredSubmissions">
                <div
                  class="submission ma-2"
                  v-for="(submission, i) in filteredSubmissions"
                  :key="`submission-${i}`"
                >
                  <SubmissionCard
                    :value="submission"
                    profile
                    @clickImage="selectSubmission(submission)"
                    @approve="onApproveSubmission"
                    @decline="onDeclineSubmission"
                    @delete="onDeleteSubmission"
                    @changeVisibility="onChangeVisibility"
                  />
                </div>
              </isotope>
              <v-alert
                :value="!filteredSubmissions.length"
                color="primary"
                outline
              >
                No submissions found.
              </v-alert>
              <v-btn
                class="white--text"
                color="rgb(141, 183, 118)"
                depressed
                block
                @click="toggleSubmissionDialog"
                v-if="!!isUser()"
              >
                Add Submission
              </v-btn>
            </v-tab-item>
            <v-tab-item key="inventory">
              <div
                v-for="(category, i) in inventory"
                :key="`category-${i}`"
              >
                <div class="body-2 ma-2 mb-0">{{ category.category }}</div>
                <div class="layout row wrap">
                  <div
                    class="ma-2"
                    v-for="(item, j) in category.items"
                    :key="`item-${j}`"
                    @click="selectItem(item.userItems)"
                  >
                    <ItemCard
                      :value="item"
                      :soulbound="item.soulbound"
                    />
                  </div>
                </div>
                <hr
                  v-if="!!canEditUsers || i-1 !== inventory.length"
                />
              </div>
              <v-btn
                class="white--text"
                color="rgb(141, 183, 118)"
                depressed
                block
                @click="toggleEditItemDialog"
                v-if="!!canEditUsers"
              >
                Add Item
              </v-btn>
            </v-tab-item>

            <v-tab-item key="achievements">
              <div class="py-4 px-2">
                <MonacoEditor
                  language="html"
                  v-model="profile.achievements"
                  class="editor"
                  :options="{minimap: { enabled: false }}"
                  v-if="!!showEditor
                    && !!editMode
                    && !!canEditUsers"
                >
                </MonacoEditor>
                <div
                  v-html="profile.achievements"
                  v-else-if="!!profile.achievements"
                >
                </div>
                <div v-else>
                  This user currenty does not have any achievements.
                </div>
              </div>
            </v-tab-item>
          </v-tabs>
        </v-card-text>
      </Card>
    </v-flex>

    <EditItemDialog
      v-model="showEditItemDialog"
      :item="selectedItem"
      :items="items"
      :profile="profile"
      @create="onCreateItem"
      @update="onUpdateItem"
      @sell="onSellItem"
      @delete="onDeleteItem"
      @error="onError"
      @close="resetSelectedItem"
    />

    <EditCompanionDialog
      v-model="showEditCompanionDialog"
      :companion="selectedCompanion"
      :companions="companions"
      :color-statuses="colorStatuses"
      :items="items"
      @create="onCreateCompanion"
      @update="onUpdateCompanion"
      @delete="onDeleteCompanion"
      @error="onError"
      @close="resetSelectedCompanion"
    />

    <CreateCharacterDialog
      v-model="showCreateCharacterDialog"
      :character="selectedCharacter"
      @create="onCreateCharacter"
      @error="onError"
    />

    <CreateSectionDialog
      v-model="showCreateSectionDialog"
      :section="selectedSection"
      @create="onCreateSection"
      @error="onError"
    />

    <CreateSectionDialog
      v-model="showCreateSectionDialog"
      :section="selectedSection"
      @create="onCreateSection"
      @error="onError"
    />

    <LogDialog
      v-model="showLogDialog"
      :logs="logs"
      :log-user="profile"
      @success="getLogs"
    />

    <MediaDialog
      v-model="showMediaDialog"
      :submission="selectedSubmission"
      @close="onCloseMediaDialog"
    />

    <SubmissionDialog
      v-model="showSubmissionDialog"
      @create="onCreateSubmission"
      @error="onError"
    />
  </v-layout>
</template>

<script>
  import draggable from "vuedraggable";
  import PictureInput from 'vue-picture-input';
  import MonacoEditor from 'vue-monaco';
  import imagesLoaded from 'vue-images-loaded';

  import CharacterCard from '@/components/Characters/CharacterCard';
  import CreateCharacterDialog from '@/components/Characters/CreateCharacterDialog';
  import CreateSectionDialog from '@/components/Sections/CreateSectionDialog';
  import CompanionCard from '@/components/Companions/CompanionCard';
  import ItemCard from '@/components/Items/ItemCard';
  import EditItemDialog from '@/components/Users/EditItemDialog';
  import TitleCard from '@/components/Titles/TitleCard';
  import SubmissionCard from '@/components/Submissions/SubmissionCard';
  import MediaDialog from '@/components/Submissions/MediaDialog';
  import SubmissionDialog from '@/components/Users/SubmissionDialog';
  import EditCompanionDialog from '@/components/Characters/EditCompanionDialog';
  import LogDialog from '@/components/Users/LogDialog';

  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';
  import dialogMixins from '@/mixins/dialog';
  import formMixins from '@/mixins/form';
  import galleryMixins from '@/mixins/gallery';


  export default {
    layout: 'guest',
    components: {
      draggable,
      PictureInput,
      MonacoEditor,
      CharacterCard,
      CreateCharacterDialog,
      CreateSectionDialog,
      CompanionCard,
      ItemCard,
      EditItemDialog,
      TitleCard,
      SubmissionCard,
      MediaDialog,
      SubmissionDialog,
      EditCompanionDialog,
      LogDialog,
    },
    mixins: [
      userMixins,
      dateTimeMixins,
      dialogMixins,
      formMixins,
      galleryMixins,
    ],
    directives: { imagesLoaded },
    data() {
      return {
        editMode: false,
        tab: null,
        icon: null,
        logs: [],
        showEditor: false,
        tabs: [
          {
            key: 'trainer',
            label: 'Trainer',
          },
          {
            key: 'gallery',
            label: 'Gallery',
          },
          {
            key: 'inventory',
            label: 'Inventory',
          },
          {
            key: 'achievements',
            label: 'Achievements',
          },
        ],
        selectedSubmission: {
          image: '',
        },
        showEditItemDialog: false,
        showEditCompanionDialog: false,
        showCreateCharacterDialog: false,
        showCreateSectionDialog: false,
        showSubmissionDialog: false,
        showMediaDialog: false,
        showLogDialog: false,
      }
    },
    watch: {
      tab() {
        if(this.tab === 1) {
          setTimeout(() => {
            this.layout();
          }, 100)
        }

        this.showEditor = false;

        this.$nextTick(() => {
          this.showEditor = true;
        });
      },
      showAllSubmissions() {
        setTimeout(() => {
          this.layout();
        }, 250)
      },
    },
    async asyncData({ $axios, params, store }) {
      let items, ranks, companions, colorStatuses;
      const profile = await $axios.get(`/users/by_username/${params.username}`);

      if(
        store.getters['auth/authUser']
        && store.getters['user/user'].permissions.indexOf('can_edit_users') !== -1
      ) {
        [items, ranks] = await Promise.all([
          $axios.get('/items'),
          $axios.get('/ranks')
        ]);
      }

      [companions, colorStatuses] = await Promise.all([
        $axios.get('/companions'),
        $axios.get('/color_statuses')
      ]);

      return {
        profile: profile.data,
        items: !!items ? items.data : [],
        ranks: !!ranks ? ranks.data : [],
        companions: !!companions ? companions.data : [],
        colorStatuses: !!colorStatuses ? colorStatuses.data : [],
        selectedItem: {
          item: null,
          character: null,
          user: profile.data._id,
        },
        selectedCompanion: {
          companion: null,
          character: null,
          user: profile.data._id,
        },
        selectedCharacter: {
          name: 'Unnamed',
          user: profile.data._id,
        },
        selectedSection: {
          name: 'Unnamed',
          user: profile.data._id,
        }
      };
    },
    mounted() {
      if(
        location.hash
        && location.hash.startsWith('#gallery-')
      ) {
        const [,id] = location.hash.split('-');

        if(id == 'add') {
          this.toggleSubmissionDialog();
        } else if(this.profile.submissions) {
          const submission = this.profile.submissions.find(({_id}) => _id === id);

          if(submission) {
            this.tab = 1;
            this.selectSubmission(submission);
          }
        }
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get(`/users/by_username/${this.$route.params.username}`);
          this.profile = result.data;
        } catch (e) {
          console.error(e);
          this.$bus.$emit('error', {
            message: 'Could not get profile data.'
          });
        }
      },
      async getLogs() {
        const {data:logs} = await this.$axios.get(`/users/${this.profile._id}/logs`);

        this.logs = logs;
      },
      async toggleLogDialog() {
        this.getLogs();

        this.showLogDialog = true;
      },
      async onCreateSubmission() {
        this.$bus.$emit('success', {
          message: 'Submission has been successfully made.'
        });

        await this.get();
        setTimeout(() => {
          this.layout();
        }, 250)
      },
      async toggleSubmissionDialog() {
        this.showSubmissionDialog = true;
        this.get();
      },
      async toggleMediaDialog() {
        this.showMediaDialog = true;
      },
      selectSubmission(submission) {
        history.pushState(null, null, `#gallery-${submission._id}`);
        this.selectedSubmission = JSON.parse(JSON.stringify(submission));
        this.toggleMediaDialog();
      },
      saveUserAndToggleEditMode() {
        this.toggleEditMode();
        this.saveUser();
      },
      async saveUser() {
        const payload = this.createPayload(this.profile);

        if(!!this.icon)
          payload.icon = this.icon;

        if(!!this.profile.rank && !!this.profile.rank._id)
          payload.rank = payload.rank._id;


        const formData = this.createFormData(payload);

        try {
          const updatedProfile = await this.$axios.$patch(
            `/users/${payload._id}`,
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          );

          this.profile = {
            icon: updatedProfile.icon,
            ...this.profile
          };

          this.$bus.$emit('success', {
            message: 'Profile has been successfully updated.'
          });
        } catch (e) {
          console.error(e);

          this.$bus.$emit('error', {
            message: 'Profile could not be updated.'
          });
        }
      },
      toggleEditMode() {
        this.editMode = !this.editMode;
      },
      toggleEditItemDialog() {
        this.showEditItemDialog = !this.showEditItemDialog;
      },
      onCreateItem() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully created.'
        });
        this.resetSelectedItem();
      },
      onUpdateItem() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully created.'
        });
        this.resetSelectedItem();
      },
      onSellItem(newBalance) {
        this.get();
        this.$store.commit('user/setPD', newBalance)
        this.$bus.$emit('success', {
          message: `Item has been successfully sold. Your new balance is $${newBalance}`
        });
        this.resetSelectedItem();
      },
      onDeleteItem() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully deleted.'
        });
        this.resetSelectedItem();
      },
      selectCompanion(companion) {
        this.selectedCompanion = JSON.parse(JSON.stringify(companion));
        this.toggleEditCompanionDialog();
      },
      toggleEditCompanionDialog() {
        this.showEditCompanionDialog = !this.showEditCompanionDialog;
      },
      onCreateCompanion() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully created.'
        });
        this.resetSelectedCompanion();
      },
      onUpdateCompanion() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully updated.'
        });
        this.resetSelectedCompanion();
      },
      onDeleteCompanion() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully deleted.'
        });
        this.resetSelectedCompanion();
      },
      resetSelectedCompanion() {
        this.selectedCompanion = {
          companion: null,
          character: null,
          user: this.profile._id,
        };
      },
      selectItem(items) {
        const selectedItem = JSON.parse(JSON.stringify(items[0]))
        selectedItem.userItems = items.map(({_id}) => _id);

        this.selectedItem = selectedItem;
        this.toggleEditItemDialog();
      },
      resetSelectedItem() {
        this.selectedItem = {
          item: null,
          character: null,
          user: this.profile._id,
        };
      },
      toggleCreateCharacterDialog() {
        this.showCreateCharacterDialog = !this.showCreateCharacterDialog;
      },
      toggleCreateSectionDialog() {
        this.showCreateSectionDialog = !this.showCreateSectionDialog;
      },
      onCreateCharacter() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Character has been successfully created.'
        });
        this.resetSelectedCharacter();
      },
      onCreateSection() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Section has been successfully created.'
        });
        this.resetSelectedSection();
      },
      onCloseMediaDialog() {
        history.pushState(null, null, '#');
      },
      onChange(image) {
        if (image) {
          this.icon = this.$refs.icon.file
        }
      },
      onSort({added, moved}, list, isSection=false) {
        let companion,
            index;

        if(!!added) {
          companion = added.element;
          index = added.newIndex;
        } else if(!!moved) {
          companion = moved.element;
          index = moved.newIndex;
        } else {
          return;
        }

        companion.order = index;

        if(!isSection) {
          companion.character = list;
          companion.section = null;
        } else {
          companion.character = null;
          companion.section = list;
        }


        this.$axios.patch(`/character_companions/${companion._id}`, companion)
      },
      resetSelectedCharacter() {
        this.selectedCharacter = {
          name: 'Unnamed',
          user: this.profile._id,
        };
      },
      resetSelectedSection() {
        this.selectedSection = {
          name: 'Unnamed',
          user: this.profile._id,
        };
      },
      isUser() {
        return !!this.user._id && this.user._id === this.profile._id;
      },
      async deleteSection({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/sections/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Section has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Section could not be deleted.'
            });
          }
      },
    },
    computed: {
      inventory() {
        let items = {};

        this.profile.inventory.forEach((item) => {
          let itemId = `${item.item._id}`;

          if(item.soulbound)
            itemId = `${itemId}-soulbound`;

          if(!items[itemId])
            items[itemId] = {
              ...item.item,
              soulbound: item.soulbound,
              userItems: []
            };

          items[itemId].userItems.push(item);
        });

        items = Object.values(items);

        const inventory = {};

        items.forEach((item) => {
          const category = item.category || 'Other';
          if(!inventory[category])
            inventory[category] = {
              category,
              items: []
            };

          inventory[category].items.push(item);
        })

        return Object.values(inventory);
      },
      canReadLogs() {
        return !!this.user._id
        && (
          !!isUser()
          || this.user.permissions.indexOf('admin') !== -1
          || this.user.permissions.indexOf('moderate') !== -1
        )
      },
      filteredSubmissions() {
        if(this.showAllSubmissions)
          return this.profile.submissions;

        return this.profile.submissions.filter(({status}) => status !== 'declined')
      }
    },
  }
</script>
<style scoped>
.editor {
  height: 400px;
}
</style>
