<template>
  <v-card
    color="grey lighten-4"
  >
    <v-card-text>
      <v-layout row wrap>
        <v-flex grow>
          <v-text-field
            v-model="value.weight"
            label="Weight"
            type="number"
            class="mx-1"
            suffix="Weight"
            solo
            required
          >
          </v-text-field>
        </v-flex>
        <v-flex grow>
          <v-text-field
            v-model="value.currency"
            label="PD"
            type="number"
            class="mx-1"
            suffix="PD Reward"
            solo
            required
          >
          </v-text-field>
        </v-flex>
        <v-flex shrink>
          <v-btn
            color="danger"
            flat
            icon
            small
            @click="$emit('delete')"
          >
            <v-icon>delete</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex grow>
          <v-switch
            v-model="value.randomCompanion"
            label="Gives 1 random pokemon"
            required
          >
          </v-switch>
        </v-flex>
        <v-flex grow>
          <v-switch
            v-model="value.randomItem"
            label="Gives 1 random item"
            required
          >
          </v-switch>
        </v-flex>
      </v-layout>

      <v-autocomplete
        v-model="value.items"
        :items="items"
        item-text="name"
        item-value="_id"
        label="Items"
        multiple
        chips
        small-chips
        deletable-chips
        required
        solo
      />

      <v-autocomplete
        v-model="value.companions"
        :items="companions"
        item-text="name"
        item-value="_id"
        label="Pokemon"
        multiple
        chips
        small-chips
        deletable-chips
        required
        solo
      />
    </v-card-text>
  </v-card>
</template>
<script>
  export default {
    props: {
      value: {
        type: Object,
        required: true,
      },
      companions: {
        type: Object,
        required: true,
      },
      items: {
        type: Object,
        required: true,
      },
    },
  }
</script>
