<template>
  <v-dialog
    v-model="value"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!tradeIn._id">
              Edit {{ tradeIn.name }}
            </template>
            <template v-else>
              Create Trade In
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <v-text-field
            v-model="tradeIn.name"
            label="Name"
            required
          >
          </v-text-field>

          <v-text-field
            v-model="tradeIn.slug"
            prefix="/"
            label="Slug"
          >
          </v-text-field>

          <v-text-field
            v-model="tradeIn.numberOfItemsRequired"
            label="Number of items required"
            type="number"
          >
          </v-text-field>

          <v-textarea
            v-model="tradeIn.description"
            label="Description"
          >
          </v-textarea>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Pricing</div>

            <v-layout row wrap>
              <v-flex
                xs12
                md6
              >
                <v-text-field
                  v-model="tradeIn.price"
                  label="Price"
                  type="number"
                  class="mx-1"
                  hint="Leave this empty or set it to 0 if optional"
                >
                </v-text-field>
              </v-flex>
              <v-flex
                xs12
                md6
              >
                <v-select
                  v-model="tradeIn.currency"
                  :items="currencies"
                  label="Currency"
                  item-text="label"
                    class="mx-1"
                  item-value="key"
                  :disabled="tradeIn.price < 1"
                />
              </v-flex>
            </v-layout>
          </div>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Limits</div>

            <v-layout row wrap>
              <v-flex xs12>
                <v-switch
                  v-model="tradeIn.isLimited"
                  label="Limit trade ins?"
                  required
                >
                </v-switch>
              </v-flex>
              <template v-if="tradeIn.isLimited">
                <v-flex xs12 md6>
                  <v-text-field
                    v-model="tradeIn.limitValue"
                    label="How often can users trade in?"
                    type="number"
                    required
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs12 md6>
                  <v-select
                    v-model="tradeIn.limitType"
                    :items="limitTypes"
                    label="Timeframe"
                    required
                  >
                  </v-select>
                </v-flex>
              </template>
            </v-layout>
          </div>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Show choices (?)</div>

            <v-layout row wrap>
              <v-flex xs12>
                <v-switch
                  v-model="tradeIn.showChoices"
                  label="Show choices"
                  required
                >
                </v-switch>
              </v-flex>
              <template v-if="tradeIn.showChoices">
                <v-flex xs12 md6>
                  <v-text-field
                    v-model="tradeIn.numberOfChoices"
                    label="Number of choices"
                    type="number"
                    required
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs12 md6>
                  <v-switch
                    v-model="tradeIn.isCancelable"
                    label="Choices are cancelable"
                    required
                  >
                  </v-switch>
                </v-flex>
              </template>
            </v-layout>
          </div>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Conditions and Rewards</div>

            <v-card
              color="grey lighten-4"
              class="my-3"
              v-for="(condition, i) in tradeIn.conditions"
              :key="`condition-${i}`"
            >
              <v-card-text>
                <v-layout row wrap class="mb-3">
                  <v-btn
                    color="success"
                    small
                    @click="addItemCondition(i)"
                  >
                    Add item to conditon
                  </v-btn>
                  <v-spacer />
                  <v-btn
                    color="error"
                    small
                    @click="deleteCondition(condition)"
                  >
                    Delete Condition
                  </v-btn>
                </v-layout>

                <v-layout
                  v-for="(item, j) in condition.items"
                  :key="`condition-${i}-item-${j}`"
                  row
                  wrap
                >
                  <v-flex grow>
                    <v-autocomplete
                      v-model="tradeIn.conditions[i].items[j]"
                      :items="items"
                      item-text="name"
                      item-value="_id"
                      label="Item Condition"
                      chips
                      required
                      solo
                    />
                  </v-flex>
                  <v-flex shrink>
                    <v-btn
                      color="danger"
                      flat
                      icon
                      small
                      @click="deleteItemCondition(i, j)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>

                <v-card>
                  <v-card-title>
                    Rewards
                    <v-spacer />

                    <v-btn
                      class="mx-1"
                      icon
                      flat
                      @click="show=!show"
                    >
                      <v-icon>
                        {{ show ? 'expand_less' : 'expand_more' }}
                      </v-icon>
                    </v-btn>
                  </v-card-title>
                  <v-card-text v-show="show">
                    <Reward
                      class="my-3"
                      v-model="condition.rewards[j]"
                      :items="items"
                      :companions="companions"
                      v-for="(reward, j) in condition.rewards"
                      :key="`condition-${i}-reward-${j}`"
                      @delete="deleteReward(i, j)"
                    />
                    <v-btn
                      color="success"
                      small
                      block
                      @click="addReward(i)"
                    >
                      Add New Reward
                    </v-btn>
                  </v-card-text>
                </v-card>
              </v-card-text>
            </v-card>

            <v-card flat v-if="!tradeIn.conditions || !tradeIn.conditions.length">
              <v-card-text>
                No conditions. Please add one.
              </v-card-text>
            </v-card>

            <v-btn
              color="success"
              large
              block
              @click="addCondition"
            >
              Add Conditon
            </v-btn>
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import Vue from 'vue';
  import Reward from '@/components/TradeIns/Reward';

  import formMixins from '@/mixins/form';
  import shopMixins from '@/mixins/shop';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      tradeIn: {
        type: Object,
        required: true,
      },
      items: {
        type: Array,
        required: false,
        default: []
      },
      companions: {
        type: Array,
        required: false,
        default: []
      }
    },
    components: { Reward },
    mixins: [formMixins, shopMixins],
    data() {
      return {
        icon: null,
        show: false,
        limitTypes: ['daily', 'weekly', 'monthly']
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.tradeIn);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/trade_ins/${payload._id}`,
              payload
            );

            await this.saveConditions();

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/trade_ins',
              payload
            );

            Vue.set(this.tradeIn, '_id', result._id);

            await this.saveConditions();

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }


      },
      onChange (image) {
        if (image) {
          this.icon = this.$refs.icon.file
        }
      },
      saveConditions: async function() {
        if(this.tradeIn.conditions)
          for(let condition of this.tradeIn.conditions) {
            if(!!condition._id) {
              await this.$axios.$patch(
                `/trade_in_conditions/${condition._id}`,
                condition
              );
            } else {
              await this.$axios.$post(
                '/trade_in_conditions',
                {
                  tradeIn: this.tradeIn._id,
                  ...condition
                }
              );
            }
          }

        if(this.tradeIn.companionInventory)
          for(let tradeInCompanion of this.tradeIn.companionInventory) {
            if(!!tradeInCompanion._id) {
              await this.$axios.$patch(
                `/tradeIn_companions/${tradeInCompanion._id}`,
                tradeInCompanion
              );
            } else {
              await this.$axios.$post(
                '/tradeIn_companions',
                {
                  tradeIn: this.tradeIn._id,
                  ...tradeInCompanion
                }
              );
            }
          }
      },
      addCondition() {
        if(!this.tradeIn.conditions)
          Vue.set(this.tradeIn, 'conditions', [])


        this.tradeIn.conditions.push({
          items: [],
          rewards: []
        })
      },
      addItemCondition(i) {
        this.tradeIn.conditions[i].items.push({
          _id: null,
          name: null,
        })
      },
      addReward(i) {
        this.tradeIn.conditions[i].rewards.push({
          weight: 0,
          items: [],
          companions: [],
          randomItem: false,
          randomCompanion: false,
          currency: 0,
        })
      },
      deleteCondition: async function(condition) {
        if(!confirm(`Are you sure you want to delete this condition?`))
          return;

        const i = this.tradeIn.conditions.indexOf(condition);

        this.tradeIn.conditions.splice(i, 1);

        if(!!condition._id) {
          try {
            await this.$axios.$delete(`/trade_in_conditions/${condition._id}`);
            this.$emit('deleteCondition', condition);
          } catch (e) {
            console.error(e);

            this.$emit('error');
          }
        } else {
          this.$emit('deleteCondition', condition);
        }
      },
      deleteReward: async function(i, j) {
        if(!confirm(`Are you sure you want to delete this reward?`))
          return;

        this.tradeIn.conditions[i].rewards.splice(j, 1);
      },
      deleteItemCondition(i, j) {
        if(!confirm(`Are you sure you want to delete this item condition?`))
          return;

        this.tradeIn.conditions[i].items.splice(j, 1);
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
      }
    }
  }
</script>
