<template>
  <v-layout
    justify-center
    row
    wrap
  >
      <v-flex md12 lg8>
          <v-layout row wrap>
            <h4 class="title mb-4">Your Messages</h4>
            <v-spacer />
            <v-btn
              color="success"
              depressed
              block
              @click="showMessageForm=!showMessageForm"
            >
              {{ !showMessageForm ? 'Add Message' : 'Close' }}
            </v-btn>
          </v-layout>
          <v-expand-transition>
            <div v-show="showMessageForm">
              <MessageForm
                @create="onCreate"
                @update="onUpdate"
              />
              <hr>
            </div>
          </v-expand-transition>
          <template
            v-if="messages.docs.length"
            v-for="(message, i) in messages.docs"
          >
            <Message
              :key="`message-${i}`"
              @create="getData"
              @update="getData"
              :value="message"
            />
            <hr class="my-0">
          </template>

          <v-layout
            justify-center
            v-if="loading"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-1"
              size="24"
            ></v-progress-circular>
          </v-layout>
          <v-alert
            :value="true"
            type="info"
            outline
            v-else-if="!messages.docs.length"
          >
              You got no messages.
          </v-alert>

          <v-layout row wrap justify-center>
            <v-pagination
              v-model="messages.page"
              :length="messages.totalPages"
              class="mt-3"
            ></v-pagination>
          </v-layout>
      </v-flex>
      <MessageDialog
        v-if="$store.state.messages.dialog"
        @create="getData"
        @update="getData"
      />
  </v-layout>
</template>

<script>
  import Message from '@/components/Messages/Message';
  import MessageForm from '@/components/Messages/MessageForm';
  import MessageDialog from '@/components/Messages/MessageDialog';

  export default {
    components: {
      Message,
      MessageForm,
      MessageDialog,
    },
    async asyncData({ $axios, params, store }) {
      let {data:messages} = await $axios.get('/messages', {
        params: {
          page: params.page || 1
        }
      });

      return {
        messages,
      };
    },
    data() {
      return {
        showMessageForm: false,
        loading: false,
      }
    },
    watch: {
      'messages.page' : function() {
        history.pushState(
          {},
          null,
          `/messages/${this.messages.page}`
        );
        this.hardReload()
      }
    },
    methods: {
      async hardReload() {
        this.messages.docs = [];
        this.getData();
      },
      async getData() {
        this.loading = true;

        const result = await this.$axios.get('/messages', {
          params: {
            page: this.messages.page
          }
        });

        this.messages = result.data;

        const matchingMessage = result.data.docs.find(({_id}) => _id === this.$store.state.messages.thread._id)

        if(matchingMessage) {
          this.$store.commit('messages/setThreadMessages', matchingMessage.messages)
        }

        this.loading = false;
      },
      onCreate() {
        if(this.messages.page != 1) {
          this.messages.page = 1;
        } else {
          this.hardReload();
        }
      },
      onUpdate() {
        if(this.messages.page != 1) {
          this.messages.page = 1;
        } else {
          this.hardReload();
        }
      }
    }
  }
</script>
