<template>
    <div class="page submission">
      <v-layout wrap justify-center>
        <v-flex xs12 md10 lg8>
          <v-layout row wrap>
              <v-flex xs12 md8>
                  <div
                    v-for="(group, i) in rates"
                    :key="`group-${i}`"
                  >
                      <template v-if="group.type == 'select'">
                          <h5>{{ group.name }}</h5>
                          <v-select
                            v-model="models[group.name]"
                            :options="group.fields"
                            item-text="label"
                          ></v-select>
                      </template>
                      <template v-if="group.type == 'checkbox'">
                          <h5>{{ group.name }}</h5>

                          <v-layout row wrap>
                            <v-flex
                              xs12
                              md6
                              v-for="(field, j) in group.fields"
                              :key="`field-${i}-${j}`"
                            >
                                <v-switch
                                  v-model="models[group.name]"
                                  :value="field"
                                  :label="field.label"
                                ></v-switch>
                            </v-flex>
                          </v-layout>
                      </template>
                  </div>

                  <h4>Custom</h4>

                  <v-text-field
                    type="number"
                    v-model="models['custom'].value"
                    v-if="models.hasOwnProperty('custom')"
                  />
              </v-flex>
              <v-flex xs12 md4>
                  <Card>
                      <v-card-text>
                          <div class="alert alert-success" v-if="success">Pokedollar added.</div>
                          <UserSelect
                            v-model="selected_user"
                            class="mb-4"
                          />

                          <v-text-field
                            v-model="url"
                            label="URL"
                            placeholder="google.com"
                            prefix="https://"
                          >
                          </v-text-field>
                          <v-textarea v-model="message"></v-textarea>
                          <v-layout row wrap>
                              <v-flex xs3>
                                  <v-btn
                                    color="warning"
                                    block
                                    @click="$clipboard(message)"
                                  >
                                    📋
                                  </v-btn>
                              </v-flex>
                              <v-flex xs9>
                                <v-btn
                                  color="success"
                                  block
                                  @click="save"
                                >
                                  Save to log
                                </v-btn>
                              </v-flex>
                          </v-layout>
                      </v-card-text>
                  </Card>

                  <Card>
                      <v-card-text>
                          <div class="alert alert-success" v-if="success_pokemon">Pokemon added.</div>
                          <div class="form-group">
                              <label>Pokemon</label>

                              <v-autocomplete
                                v-model="focused_pokemon.pokemon"
                                :items="pokemons"
                                item-text="name"
                                return-object
                                hide-details
                                hide-no-data
                                label="Pokemon"
                                placeholder="Search by pokemon name..."
                              ></v-autocomplete>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <v-btn
                                    color="success"
                                    block
                                    @click="savePokemon"
                                  >
                                    Add Pokemon
                                  </v-btn>
                              </div>
                          </div>
                      </v-card-text>
                  </Card>

                  <Card>
                      <v-card-text>
                          <div class="alert alert-success" v-if="success_item">Item added.</div>

                          <div class="form-group">
                              <label>Item Name</label>
                              <v-autocomplete
                                v-model="item"
                                :items="items"
                                item-text="name"
                                return-object
                                hide-details
                                hide-no-data
                                label="Item"
                                placeholder="Search by item name..."
                              ></v-autocomplete>
                          </div>
                          <v-btn
                            color="success"
                            block
                            @click="saveItem"
                          >
                            Add Item
                          </v-btn>
                      </v-card-text>
                  </Card>
              </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

    </div>
</template>

<script>
import Vue from 'vue';
import { evaluate } from 'mathjs';

import UserSelect from '@/components/App/UserSelect';

export default {
    layout: 'admin',
    components: {UserSelect},
    data: function() {
        return {
            message: '',
            url: '',
            selected_user: {},
            rates: [],
            pokemons: [],
            items: [],
            submission: {},
            modelsTemplate: {},
            models: {},
            success: false,
            success_pokemon: false,
            success_item: false,
            item: {},
            focused_pokemon: {
                notes: '',
                pokemon: {}
            }
        }
    },
    watch: {
        models: {
            handler: function() {
                this.message = 'Congratulations, you earned ' + this.calculatedPD + 'PD!';
            },
            deep: true
        }
    },
    mounted: function() {
        this.fetchData();
    },
    methods: {
        fetchData : function() {
            var $self = this;

            this.$axios.get('/companions').then((response) => {
              this.pokemons = response.data;
            });

            this.$axios.get('/items').then((response) => {
              this.items = response.data;
            });

            this.$axios.get('/rates').then(
                function(response) {
                    var rates = response.data,
                        grouped_rates = {};

                    for(var i = 0; i < rates.length; i++) {
                        var rate = rates[i];

                        if(!grouped_rates[rate.group])
                            grouped_rates[rate.group] = [];

                        grouped_rates[rate.group].push(rate);
                    }

                    Object.keys(grouped_rates).forEach(function(key) {
                        Vue.set($self.models, key, grouped_rates[key][0].type == 'checkbox' ? [] : null);
                    });


                    $self.rates = Object.keys(grouped_rates).map(function(key) {
                        return {
                            name: grouped_rates[key][0].group,
                            type: grouped_rates[key][0].type,
                            fields: grouped_rates[key]
                        };
                    });

                    Vue.set($self.models, 'custom', { value: 0 });

                    $self.modelsTemplate = JSON.stringify($self.models)
                }
            );
        },
        save : function() {
            var $self = this;

            $self.success = false;

            if($self.calculatedPD <= 0 || !$self.selected_user._id) {
                return false;
            }

            $self.$axios.patch('/users/' + $self.selected_user._id, {
                'currency' : `+${parseInt($self.calculatedPD)}`,
            }).then(function(response) {
              let message = $self.message;

              if($self.url) {
                const url = $self.url.startsWith(`http`) ? $self.url : `https://${$self.url}`;
                message = `${message} (${url})`;
              }


              $self.$axios.post(`/users/${$self.selected_user._id}/logs`, {
                message
              });

              $self.models = JSON.parse($self.modelsTemplate);
              $self.success = true;
              $self.selected_user = {};
              $self.url = '';
            });


        },
        savePokemon: function() {
            var $self = this;

            $self.success_pokemon = false;

            if(!$self.item || !$self.focused_pokemon.pokemon) {
                return false;
            }

            $self.$axios.post('/character_companions', {
              user: $self.selected_user,
              companion: $self.focused_pokemon.pokemon
            })
            .then(function(response) {
                $self.success_pokemon = true;
                $self.selected_user = {};
            });
        },
        saveItem: function() {
            var $self = this;

            $self.success_item = false;
            if(!$self.item || !$self.selected_user._id) {
                return false;
            }

            $self.$axios.post('/user_items', {
                user: $self.selected_user,
                item: $self.item
            }).then(function(response) {
                $self.success_item = true;
                $self.selected_user = {};
            });
        }
    },
    computed: {
        calculatedPD : function() {
            var $self = this,
                calc_arr = [],
                calc_string;

            function getCalcString(model) {
                var calc_pos = {
                    value: 0,
                    operator : '+'
                };

                if(model == null || !model.value) {
                    return false;
                }

                calc_pos.value = model.value;

                if(model.value.toString().slice(0,1) == '*') {
                    calc_pos.operator = '*';
                }

                calc_arr.push(calc_pos);
            };

            Object.keys($self.models).forEach(function(key) {
                var _m = $self.models[key];

                if(_m == null)
                    return false;

                if(_m.constructor === Array) {
                    for(var i = 0; i < _m.length; i++) {
                        var _mi = _m[i];

                        getCalcString(_mi);
                    }
                } else {
                    getCalcString(_m);
                }
            });

            for(var i = 0; i < calc_arr.length; i++) {
                var calc_pos = calc_arr[i];

                if(calc_pos.operator == '+') {
                    if(!calc_string) {
                        calc_string = calc_pos.value.toString();
                    } else {
                        calc_string = '(' + calc_string + ')+' + calc_pos.value;
                    }
                } else if(calc_pos.operator == '*' && calc_string) {
                    calc_string = '(' + calc_string + ')' + calc_pos.value;
                }
            }

            return calc_string ? evaluate(calc_string) : 0;
        },
    }
}
</script>


<style scoped>
label {
    margin: .2rem;
    background: #ECECEC;
    padding: 3px;
    border-radius: 3px;
}

.btn-warning {
    color: #714807;
    background-color: #ffd96a;
    border-color: #69573f;
    margin-top: 2px;
}

.pikaimg {
  right: 2px;
  position: absolute;
}

.submission {
  font-size: 14px;
}

.submission h5 {
  margin-top: 6px;
  color: #d4425b;
  text-shadow: 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white;
}


</style>
