<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!item._id">
              {{ item.item.name }}
            </template>
            <template v-else>
              Add Item
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
              v-if="!!canEditUsers"
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <template v-if="item._id">
          <template v-if="!!item.item.description">
            <v-card-text v-html="item.item.description">
            </v-card-text>
          </template>
          <template v-if="!!isSellable || !!canEditUsers">
            <v-card-text>
              <v-btn
                color="primary"
                depressed
                block
                v-if="!!isSellable"
                @click="sell"
              >
                Sell for ${{ item.item.value }}
              </v-btn>
              <v-btn
                color="error"
                depressed
                block
                v-if="!!canEditUsers"
                @click="deleteItem"
              >
                Delete Item
              </v-btn>
            </v-card-text>
          </template>
        </template>
        <v-card-text>
          <v-checkbox
            v-model="item.soulbound"
            label="Soulbound"
            v-if="!!canEditUsers"
          >
          </v-checkbox>
          <div v-else-if="!!item.soulbound">
            <v-icon small>favorite</v-icon>
            Soulbound
          </div>

          <v-autocomplete
            v-model="item.item"
            :items="items"
            label="Item"
            item-text="name"
            item-value="_id"
            v-if="!!canEditUsers && !item._id"
          >
          </v-autocomplete>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      item: {
        type: Object,
        required: true,
      },
      profile: {
        type: Object,
        required: false,
      },
      items: {
        type: Array,
        required: false,
      },
    },
    mixins: [formMixins, userMixins],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.item);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(`/user_items/${payload._id}`, payload);

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            const requests = [];

            let count = prompt('How many items do you want to add?', 1);

            if(isNaN(count) || count < 1)
              count = 1;

            for (let i = 0; i < count; i++) {
              requests.push(this.$axios.$post('/user_items', payload));
            }

            let [result] = await Promise.all(requests);

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      async sell() {
        if(
          confirm(`Are you sure you want to sell ${this.item.item.name} for $${this.item.item.value}?`)
        )
          try {
            const result = await this.$axios.$post(`/user_items/${this.item._id}/sell`);

            this.$emit('sell', result.newBalance);
            this.toggleDialog();
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
      },
      giveToCharacter({_id, name}) {
        if(
          confirm(`Are you sure you want to attach ${this.item.item.name} to your ${name}? This is permanent and cannot be undone.`)
        ) {
          this.item.character = _id;
          this.onSubmit();
        }
      },
      async deleteItem() {

        if(
          confirm(`Are you sure you want to delete ${this.item.item.name}?`)
        ) {
          let count = 1;

          if(this.item.userItems.length > 1) {
            count = prompt('How many items do you want to delete?', 1);

            if(isNaN(count) || count < 1)
              count = 1;
          }

          try {
            const requests = [];
            for (let i = 0; i < count; i++) {
              requests.push(this.$axios.$delete(`/user_items/${this.item.userItems[i]}`));
            }

            let results = await Promise.all(requests);

            this.$emit('delete');
            this.toggleDialog();
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
        }
      }
    },
    computed: {
      isSellable() {
        return !this.item.character
               && !this.item.soulbound
               && !!this.item.item.value
               && this.item.item.value > 0
               && !!this.isUser(this.item)
      }
    }
  }
</script>
