<template>
  <v-autocomplete
    v-model="internalValue"
    :items="items"
    :search-input.sync="search"
    item-text="item.name"
    item-value="_id"
    item-disabled="disabled"
    return-object
    hide-details
    hide-no-data
    label="Select an item"
    placeholder="Search by name..."
  ></v-autocomplete>
</template>

<script>
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        required: true,
      },
      inventory: {
        required: false,
      },
      customFilter: {
        required: false,
      }
    },
    mixins: [userMixins],
    data() {
      return  {
        search: '',
        internalValue: '',
      }
    },
    mounted() {
      this.internalValue = this.value;
    },
    computed: {
      items() {
        let result = this.inventory || this.userInventory;

        if(this.customFilter)
          result = this.customFilter(result)

        return result;
      }
    },
    watch: {
      value(val) {
        this.internalValue = val;
      },
      internalValue(newVal, oldVal) {
        if(!!oldVal)
          this.$emit('input', this.internalValue);
      },
    },
  }
</script>
