<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
  >
    <v-card>
      <v-toolbar
        color="rgb(141, 183, 118)"
        class="white--text px-2"
        flat
      >
        <v-btn
          icon
          dark
          @click="toggleDialog"
        >
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>
          Logs
        </v-toolbar-title>
      </v-toolbar>
      <v-card-title>
        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="logs"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1"
      >
        <template v-slot:items="props">
          <td>
            <strong>{{ props.item.message }}</strong>
          </td>
          <td>
            <a
              :href="`/u/${props.item.staff.username}`"
              target="_blank"
              v-if="props.item.staff && props.item.staff._id"
            >
              {{ props.item.staff.username }}
            </a>
            <span v-else>-</span>
          </td>
          <td>
            <strong>{{ dateTime(props.item.createdAt) }}</strong>
          </td>
        </template>
      </v-data-table>

      <v-card-text v-if="!!canModerate || !!isAdmin">
        <v-text-field
          v-model="message"
          box
          placeholder="Your log message..."
          label="Add custom log"
          append-icon="send"
          hide-details
          @click:append="onSubmit"
        >

      </v-text-field>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
  import dateTimeMixins from '@/mixins/dateTime';
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      logs: {
        type: Array,
        required: false,
      },
      logUser: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        headers: [
          { text: 'Message', value: 'message' },
          { text: 'User', value: 'staff._id' },
          { text: 'Timestamp', value: 'createdAt' },
        ],
        pagination: {
          sortBy: 'createdAt',
          descending: true,
        },
        search: '',
        message: '',
      }
    },
    mixins: [dateTimeMixins, formMixins, userMixins],
    methods: {
      async onSubmit() {
        if(!this.message.length)
          return;

        const payload = {
          message: this.message,
        };

        try {
          const result = await this.$axios.post(`/users/${this.logUser._id}/logs`, payload);

          this.message = '';

          this.$emit('success');
          this.$bus.$emit('success', {
            message: 'Your log has been added!'
          });
        } catch (e) {
          console.error(e);

          this.$bus.$emit('error', {
            message: 'Your log could not be added. Please try again later.'
          });
        }
      }
    }
  }
</script>
