<template>
  <v-dialog
    v-model="value"
    persistent
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            image
            dark
            @click="toggleDialog"
          >
            <v-image>close</v-image>
          </v-btn>
          <v-toolbar-title>
            Add Submission
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Submit
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <picture-input
            ref="image"
            width="200"
            height="200"
            margin="16"
            accept="image/jpeg,image/png,image/gif"
            size="10"
            button-class="btn"
            :custom-strings="{
              upload: '<h1>Bummer!</h1>',
              drag: 'Drag & Drop Image image'
            }"
            @change="onChange"
            v-if="value"
          >
          </picture-input>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Description</div>
            <wysiwyg v-model="description" />
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import "vue-wysiwyg/dist/vueWysiwyg.css";
  import PictureInput from 'vue-picture-input';

  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      }
    },
    components: {PictureInput},
    mixins: [formMixins],
    data() {
      return {
        image: null,
        description: ' ',
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload({
          description: this.description,
          image: this.image,
        });

        if(!!this.image)
          payload.image = this.image;

        const formData = this.createFormData(payload);

        try {
          result = await this.$axios.$post(
            '/submissions',
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          );

          this.$emit('create', result);
          this.toggleDialog();
        } catch (e) {
          console.error(e);

          if(
            !!e.response
            && !!e.response.data
          ) {
            if(!!e.response.data.errors)
              this.serverErrors = e.response.data.errors;
          }

          this.$emit('error');
        }
      },
      onChange (image) {
        if (image) {
          this.image = this.$refs.image.file
        }
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
        this.image = null;
        this.description = ' ';
      }
    }
  }
</script>
