<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!editedUser._id">
              Add User
            </template>
            <template v-else>
              Edit {{ editedUser.username }}
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="editedUser.username"
            label="Username"
            required
          >
          </v-text-field>

          <v-text-field
            v-model="editedUser.email"
            label="EMail"
            required
          >
          </v-text-field>

          <v-checkbox
            v-model="setTemporaryPassword"
            label="Set temporary password"
            v-if="editedUser._id"
          />

          <v-text-field
            v-model="editedUser.password"
            label="Password"
            required
            v-if="!editedUser._id || setTemporaryPassword"
          >
          </v-text-field>

          <v-text-field
            v-model="editedUser.dA"
            label="DeviantArt Username"
            required
          >
          </v-text-field>

          <v-text-field
            v-model="editedUser.discord"
            label="Discord username (name#0001)"
            required
          >
          </v-text-field>

          <v-text-field
            v-model="editedUser.token"
            label="API Token"
            v-if="!!isAdmin"
          >
          </v-text-field>

          <v-layout row wrap>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="editedUser.currency"
                label="Currency"
                required
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="editedUser.thorn_reputation_points"
                label="Thorn Reputation Points"
                required
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="editedUser.aurora_faction_points"
                label="Aurora Reputation Points"
                required
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="editedUser.eventide_faction_points"
                label="Eventide Reputation Points"
                required
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="editedUser.casino_tickets"
                label="Casino Tickets"
                required
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="editedUser.pledge_points"
                label="Pledge Points"
                required
              >
              </v-text-field>
            </v-flex>
          </v-layout>

          <v-checkbox
            v-model="editedUser.hiatus"
            label="Hiatus"
          >
          </v-checkbox>

          <v-text-field
            :value="editedUser.hiatusStartedAt"
            label="In Hiatus Since:"
            disabled
            v-if="!!editedUser.hiatus && !!editedUser.hiatusStartedAt"
          >
          </v-text-field>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Permissions</div>

            <v-layout row wrap>
              <v-flex
                xs6
                v-for="permission in permissions"
                :key="`permission-${permission.value}`"
              >
                <v-checkbox
                  v-model="editedUser.permissions"
                  :label="permission.label"
                  :value="permission.value"
                ></v-checkbox>
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import appMixins from '@/mixins/app';
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      editedUser: {
        type: Object,
        required: true,
      },
    },
    mixins: [appMixins, formMixins, userMixins],
    data() {
      return {
        serverErrors: [],
        setTemporaryPassword: false,
        valid: false,
        originalUser: {},
      }
    },
    mounted() {
      this.originalUser = JSON.parse(JSON.stringify(this.editedUser));
    },
    watch: {
      setTemporaryPassword(value) {
        if(this.editedUser._id) {
          if(value) {
            this.editedUser.hasTemporaryPassword = true;
            this.editedUser.password = this.randString(12);
          } else {
            this.editedUser.hasTemporaryPassword = this.originalUser.hasTemporaryPassword;
            this.editedUser.password = null;
          }
        }
      },
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.editedUser);

        delete payload.settings;

        const formData = this.createFormData(payload);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/users/${payload._id}`,
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/users',
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      reset() {
        this.serverErrors = [];
        this.setTemporaryPassword = false;
        this.valid = false;
      }
    }
  }
</script>
