<template>
  <v-layout wrap justify-center>
    <v-flex
      md12
      lg10
      xl10
    >
      <v-card light>
        <v-card-title
          class="title pb-0"
        >
          Home Settings
          <v-spacer />
          <v-btn
            color="success"
            class="ma-0 mr-1"
            small
            to="/"
            target="_blank"
          >
            Go to home
          </v-btn>
          <v-btn
            color="primary"
            class="ma-0"
            small
            @click="toggleMode"
          >
            {{ mode === 'edit' ? 'Preview Homepage' : 'Edit Code' }}
          </v-btn>
        </v-card-title>
        <v-card-text>
          <template v-if="mode === 'edit'">
            <MonacoEditor
              v-if="showEditor"
              language="html"
              v-model="setting.value"
              class="editor"
              :options="{minimap: { enabled: false }}"
            >
            </MonacoEditor>
          </template>
          <template v-if="mode === 'preview'">
            <div v-html="setting.value"></div>
          </template>
          <v-btn
            color="success"
            block
            @click="onSubmit"
          >
            Save
          </v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import MonacoEditor from 'vue-monaco';

  export default {
    layout: 'admin',
    components: {MonacoEditor},
    data() {
      return {
        mode: 'edit',
        showEditor: true,
      }
    },
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/settings/home');
      return {
        setting: result.data,
      };
    },
    methods: {
      toggleMode() {
        this.showEditor = false;

        this.mode = this.mode === 'edit' ? 'preview' : 'edit';

        if(this.mode === 'edit')
          this.$nextTick(() => {
            this.showEditor = true;
          })
      },
      onSubmit() {
        try {
          this.$axios.patch(`/settings/${this.setting.key}`, this.setting)

          this.$bus.$emit('success', {
            message: 'Homepage has been successfully saved.'
          });
        } catch (e) {
          console.error(e);

          this.$bus.$emit('error', {
            message: 'Homepage could not be saved.'
          });
        }
      },
    },
  }
</script>

<style scoped>
.editor {
  height: 500px;
}
</style>
