<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Site Settings
        </v-card-title>
        <v-card-text>
          <Setting
            v-model="settings[i]"
            class="mb-2"
            @save="onSave"
            @error="onError"
            v-for="(setting, i) in settings"
            :key="`setting-${i}`"
          />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import Setting from '@/components/Settings/Setting';

  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';
  import userMixins from '@/mixins/user';

  export default {
    layout: 'admin',
    components: {Setting},
    mixins: [
      appMixins,
      userMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/settings/group/app');
      return {
        settings: result.data,
      };
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/settings/group/app');
          this.settings = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      onSave({ key, value }) {
        if(
          key === 'activity_check'
          && !!value
        )
          this.$axios.post('/users/mass_update', {
            activityCheck: null
          });

        if(
          key === 'mod_activity_check'
          && !!value
        )
          this.$axios.post('/users/mass_update', {
            modActivityCheck: null
          });

        this.$bus.$emit('success', {
          message: 'Setting has been successfully saved.'
        });
      },
      onError() {
        this.$bus.$emit('error', {
          message: 'Setting could not be saved.'
        });
      }
    },
  }
</script>
