<template>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 lg12 xl10>
      <v-card light>
        <v-card-title class="title">
          Menu Settings
          <v-spacer />
          <v-btn
            @click="onSave"
          >
            Save Menu
          </v-btn>
        </v-card-title>
        <v-card-text>
          <draggable
            :list="menuItems"
            group="parent"
            handle=".draggiboi"
            @change="onSort($event, menuItems)"
          >
            <MenuItem
              v-model="menuItems[index]"
              class="ma-1"
              v-for="(menuItem, index) in menuItems"
              :key="menuItem._id"
              @delete="onDelete"
            />
          </draggable>
          <v-btn
            color="primary"
            block
            @click="addMenuItem"
          >
            Add Menu Item
          </v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import draggable from "vuedraggable";
  import MenuItem from '@/components/Menu/MenuItem';
  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';
  import userMixins from '@/mixins/user';

  export default {
    layout: 'admin',
    components: {
      draggable,
      MenuItem
    },
    mixins: [
      appMixins,
      userMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/menu_items');
      return {
        menuItems: result.data,
      };
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/menu_items');
          this.menuItems = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      async addMenuItem() {
        const result = await this.$axios.post(`/menu_items`, {
          icon: '',
          label: '',
          url: '',
          children: [],
          order: -1,
        })
        this.menuItems.push(result.data)
      },
      async onDelete(menuItem) {
        if(!confirm('Are you sure you want to delete this menu item?'))
          return;

        const i = this.menuItems.indexOf(menuItem);

        if(i < 0)
          return;

        if(menuItem._id)
          await this.$axios.delete(`/menu_items/${menuItem._id}`);

        this.menuItems.splice(i, 1);

        this.$bus.$emit('success', {
          message: 'Menu item has been successfully deleted.'
        });
      },
      async onSave() {
        const requests = [];

        this.menuItems.forEach((menuItem) => {
          requests.push(this.$axios.patch(`/menu_items/${menuItem._id}`, menuItem));
        })

        await Promise.all(requests);

        this.$bus.$emit('success', {
          message: 'Menu has been successfully saved.'
        });
      },
      onSort({added, moved}, list) {
        this.menuItems.forEach((menuItem, i) => {
          if(menuItem.order != i) {
            menuItem.order = i;
          }
        })
      },
    },
  }
</script>
