<template>
  <div>
      <v-breadcrumbs :items="breadcrumbs" divider=">"></v-breadcrumbs>
      <Card>
          <v-card-text>
            <v-layout
              row
              wrap
            >
              <div class="col-md-8">

              </div>
              <div class="col-md-4">
                <v-btn
                  color="success"
                  :disabled="!!board.locked && !canModerate"
                  @click="toggleDialog"
                >
                  Create thread
                </v-btn>
              </div>
            </v-layout>
          </v-card-text>
      </Card>

      <div class="mb-2">
        <Card
          class="green lighten-4 pa-2"
          v-for="(thread, i) in stickiedThreads"
          :key="`stickiedThread-${i}`"
        >
            <v-card-text>
              <v-layout
                row
                wrap
              >
                <v-flex xs8>
                  <h4>
                    <v-icon
                      size="20"
                      v-if="!!thread.locked"
                    >
                      lock
                    </v-icon>
                    <a :href="'/forums/' + thread.board + '/threads/' + thread._id" class="board-title">{{ thread.title }}</a>
                  </h4>
                </v-flex>
                <v-flex xs4 v-if="thread.posts.length">
                  <a :href="'/forums/' + board._id + '/threads/' + thread._id">{{ thread.title }}</a><br>
                  {{ postDate(thread.posts[0].createdAt) }} |
                  by

                  <template v-if="thread.posts[0].user">
                    <a :href="'/u/' + thread.posts[0].user.username">{{ thread.posts[0].user.username }}</a>
                  </template>
                  <strong v-else>
                    [deleted user]
                  </strong>
                </v-flex>
              </v-layout>
            </v-card-text>
        </Card>
      </div>

      <Card
        class="grey lighten-3 pa-2"
        v-for="(thread, i) in sortedDocs"
        :key="`thread-${i}`"
      >
          <v-card-text>
            <v-layout
              row
              wrap
            >
              <v-flex xs8>
                <h4>
                  <v-icon
                    size="20"
                    v-if="!!thread.locked"
                  >
                    lock
                  </v-icon>
                  <a :href="'/forums/' + thread.board + '/threads/' + thread._id" class="board-title">{{ thread.title }}</a>
                </h4>
              </v-flex>
              <v-flex xs4 v-if="thread.posts.length">
                <a :href="'/forums/' + board._id + '/threads/' + thread._id">{{ thread.title }}</a><br>
                {{ postDate(thread.posts[0].createdAt) }} |
                by
                <template v-if="thread.posts[0].user">
                  <a :href="'/u/' + thread.posts[0].user.username">{{ thread.posts[0].user.username }}</a>
                </template>
                <strong v-else>
                  [deleted user]
                </strong>
              </v-flex>
            </v-layout>
          </v-card-text>
      </Card>

      <v-alert
        :value="!threads.docs.length && !stickiedThreads.length"
        type="grey"
        outline
      >
        No Threads, yet. Be the first!
      </v-alert>

      <v-pagination
        v-model="page"
        :length="totalPages"
        v-if="!!totalPages"
      ></v-pagination>

      <Dialog
        v-model="showDialog"
        :post="selectedPost"
        :board="board._id"
        @createThread="onCreate"
      />
  </div>
</template>

<script>
import moment from 'moment';

import Dialog from '@/components/Posts/PostDialog';

import userMixins from '@/mixins/user';
import paginationMixinis from '@/mixins/pagination';

export default {
    props: {
      id: {}
    },
    components: { Dialog },
    mixins: [
      userMixins,
      paginationMixinis
    ],
    data() {
        return {
            board: {},
            stickiedThreads: [],
            threads: {
              docs: [],
              page: 1,
              totalPages: 1,
            },
            selectedPost: {
              name: '',
              description: '',
              icon: null,
              board: this.$route.params.id,
            },
            showDialog: false,
        }
    },
    beforeMount() {
        this.get();
    },
    methods: {
        async get() {
            const { data: {board, threads, stickiedThreads}} = await this.$axios.get('/boards/' + this.$route.params.id + '?page=' + this.page);

            this.board = board;
            this.threads = threads;
            this.stickiedThreads = stickiedThreads;
            this.totalPages = threads.totalPages;
        },
        paginationHandler() {
          this.get();
        },
        toggleDialog() {
          this.showDialog = !this.showDialog;
        },
        onCreate(thread) {
          this.get();
          this.$bus.$emit('success', {
            message: 'Board has been successfully created.'
          });
        },
        postDate(time) {
          return moment(time).fromNow()
        },
        reset() {
          this.selectedPost = {
            name: '',
            description: '',
            icon: null,
            board: this.board._id,
          };
        }
    },
    computed: {
      breadcrumbs() {
        return [
          {
            text: 'Forums',
            disabled: false,
            href: '/forums',
          },
          {
            text: this.board.name,
            disabled: false,
            href: `/forums/${this.board._id}`,
          },
        ];
      },
      sortedDocs() {
        return this.threads.docs.sort((threadA, threadB) => {
          const postA = threadA.posts[threadA.posts.length -1];
          const postB = threadB.posts[threadB.posts.length -1];

          return new Date(postB.createdAt) - new Date(postA.createdAt);
        })
      }
    }
}
</script>

<style>
</style>
