<template>
  <v-dialog
    v-model="value"
    persistent
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar
        color="rgb(141, 183, 118)"
        class="white--text px-2"
        flat
      >
        <v-btn
          icon
          dark
          @click="toggleDialog"
        >
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>
          Submitted at: {{ dateTime(submission.createdAt) }}
        </v-toolbar-title>
      </v-toolbar>

      <v-card-text v-if="serverErrors.length">
        <v-alert
          type="error"
          :value="true"
          v-for="(error, i) in serverErrors"
          :key="i"
        >
          {{ error }}
        </v-alert>
      </v-card-text>

      <v-layout
        row
        align-center
        justify-center
      >
        <img
          :src="submission.image"
          class="ma-3"
        />
      </v-layout>

      <v-card-text class="my-4">
        <div class="body-1 grey--text text--darken-2 mb-2">
          Description
        </div>
        <template v-if="submission.user && isUser(submission)">
          <wysiwyg
            v-model="submission.description"
          />
          <v-btn
            color="success"
            block
            @click="updateSubmission"
          >
            Save
          </v-btn>
        </template>

        <div
          v-else-if="submission.description"
          v-html="submission.description"
        />
      </v-card-text>

      <v-card-text id="comments">
        <hr>
        <CommentSection
          v-if="!!comments && !!comments.length"
          :submission="submission._id"
          :comments="comments"
        />
        <template v-if="!!authUser">
          <Card>
            <v-card-text>
              <CommentForm
                :submission="submission._id"
                @create="onCreate"
              />
            </v-card-text>
          </Card>
        </template>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
  import CommentSection from '@/components/Content/CommentSection';
  import CommentForm from '@/components/Content/CommentForm';

  import "vue-wysiwyg/dist/vueWysiwyg.css";
  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';
  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      submission: {
        type: Object,
        required: true,
      }
    },
    components: {
      CommentSection,
      CommentForm
    },
    mixins: [
      userMixins,
      dateTimeMixins,
      formMixins
    ],
    data() {
      return {
        icon: null,
        comments: [],
      }
    },
    watch: {
      submission() {
        this.getComments();
      }
    },
    mounted() {
      this.$bus.$on('comment', async () => {
        this.getComments();
      });
    },
    methods: {
      async updateSubmission() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload({
          description: this.submission.description,
        });


        try {
          result = await this.$axios.$patch(
            `/submissions/${this.submission._id}`,
            payload
          );

          this.$bus.$emit('success', {
            message: 'Submission has been successfully updated.'
          });

          this.$emit('update', result);
        } catch (e) {
          console.error(e);

          if(
            !!e.response
            && !!e.response.data
          ) {
            if(!!e.response.data.errors)
              this.serverErrors = e.response.data.errors;
          }

          this.$emit('error');
        }
      },
      async getComments() {
        if(this.submission && this.submission._id) {
          const {data:comments} = await this.$axios.get(`/submissions/${this.submission._id}/comments`)
          console.log(comments)
          this.comments = comments;
        }
      },
      onCreate(comment) {
        document.getElementById('comments').scrollIntoView();
      },
    }
  }
</script>
