<template>
  <div
    :class="{
      'hidden' : !!value.hidden || value.status === 'declined'
    }"
    class="submission"
  >
    <v-card
      color="grey lighten-3"
    >
      <div
        class="pb-0"
        style="position: relative"
        v-if="!!value.image"
      >
        <v-chip
          :color="statusColor(value)"
          label
          style="position: absolute; z-index: 200"
          v-if="showControls"
        >
          {{ value.status }}
        </v-chip>
        <v-btn
          color="success"
          depressed
          small
          style="position: absolute; top: 0; right: 0; z-index: 200"
          @click="toggleVisibility"
          v-if="showControls"
        >
          <v-icon
            small
            class="mr-1"
          >
            {{ !!value.hidden ? 'visibility_off' : 'visibility' }}
          </v-icon>

          {{ !!value.hidden ? 'Hidden' : 'Visible' }}
        </v-btn>
        <img
          :src="submissionImage"
          @click="$emit('clickImage')"
        />
      </div>
      <v-card-actions
        v-if="showControls || !profile"
      >
        <v-layout
          row
          wrap
          align-center
        >
          <template v-if="!profile">
            <v-flex
              class="px-1 caption"
              xs5
              v-if="!showControls"
            >
            <v-icon
              small
              left
              class="ml-0 mr-1"
            >
              access_time
            </v-icon>
              {{ hoomenTime(value.createdAt) }}
            </v-flex>
            <v-flex
              class="px-1 caption text-xs-right"
              xs7
              v-if="!showControls"
            >
              <v-chip
              label
              small
              class="font-weight-bold pointer"
              @click="openProfile(value.user)"
              >
                <v-icon
                  small
                  class="ml-0 mr-1"
                >
                  person
                </v-icon>
                {{ value.user.username }}
              </v-chip>
            </v-flex>

            <template v-else>
              <v-flex
                class="px-1 mb-3"
                xs12
              >
                <v-text-field
                  single-line
                  :value="value.user.username"
                  append-outer-icon="open_in_new"
                  hide-details
                  @click:append-outer="openProfile(value.user)"
                >
                </v-text-field>
              </v-flex>

              <v-flex
                class="px-1"
                xs12
                md6
              >
                <v-btn
                  color="success"
                  depressed
                  small
                  block
                  :disabled="value.status === 'approved'"
                  @click="moderate('approve')"
                >
                  Approve
                </v-btn>
              </v-flex>
              <v-flex
                class="px-1"
                xs12
                md6
              >
                <v-btn
                  color="danger"
                  depressed
                  small
                  block
                  :disabled="value.status === 'declined'"
                  @click="moderate('decline')"
                >
                  Decline
                </v-btn>
              </v-flex>
            </template>
          </template>
          <template v-if="showControls">
            <v-flex
              class="px-1"
              :class="{
                'mt-1' : !!canEditSubmissions
              }"
              xs12
            >
              <v-btn
                color="danger"
                depressed
                small
                block
                :disabled="value.status === 'declined'"
                @click="deleteSubmission"
              >
                Delete
              </v-btn>
            </v-flex>
          </template>
        </v-layout>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    props: {
      value: {
        type: Object,
        required: true
      },
      profile: {
        type: Boolean,
        required: false,
        default: false,
      },
      hideControls: {
        type: Boolean,
        required: false,
        default: false,
      }
    },
    mixins: [
      userMixins,
      dateTimeMixins
    ],
    computed: {
      submissionImage() {
        if(this.value.thumbnail)
          return this.value.thumbnail;

        return this.value.image;
      },
      showControls() {
        return (this.canEditSubmissions || this.isUser(this.value))
               && !this.hideControls
      },
    },
    methods: {
      async moderate(action) {
        const status = action === 'approve' ? 'approved' : 'declined';

        if(
          status === 'approved'
          || (
            status === 'declined'
            && confirm('Are you sure you want to decline this submission?')
          )
        ) {
          const result = await this.$axios.$patch(`/submissions/${this.value._id}`, {
            status
          });

          this.$emit(action);

          this.$emit('input', result);
        }
      },
      async toggleVisibility() {
        const hidden = !this.value.hidden;

        const result = await this.$axios.$patch(`/submissions/${this.value._id}`, {
          hidden
        });

        this.$emit('changeVisibility', hidden);

        this.$emit('input', result);
      },
      async deleteSubmission() {
        if(confirm('Are you sure you want to delete this submission?')) {
          const result = await this.$axios.$delete(`/submissions/${this.value._id}`);

          this.$emit('delete');
        }
      },
      openProfile({username}) {
        window.open(`/u/${username}`, '_blank')
      },
      statusColor({status}) {
        switch (status) {
          case 'submitted':
            return 'info';
          case 'approved':
            return 'success';
          case 'declined':
            return 'danger';
          default:
            return 'grey'
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .submission
    cursor: pointer
    transition: all 0.2s ease-in

    &.hidden
      opacity: 0.6

      &:hover
        opacity: 1

    img
      display: block;
      width: 100%;
</style>
