<template>
  <v-layout row wrap justify-center fill-height>
    <v-flex
      md12
      lg3
      xl4
      :class="{
        'pr-4' : $vuetify.breakpoint.mdAndUp
      }"
      class="mb-4"
    >
      <Card lite>
        <v-card-text class="text-xs-center">
          <picture-input
            ref="profileImage"
            margin="16"
            accept="image/jpeg,image/png,image/gif"
            size="10"
            button-class="btn"
            :custom-strings="{
              upload: '<h1>Bummer!</h1>',
              drag: 'Drag & Drop Profile Image'
            }"
            @change="onChangeProfileImage"
            v-if="
              !!editMode
              && (!!canEditCharacters || isUser(character))

            "
          >
          </picture-input>
          <img
            :src="character.profileImage || noImageUri"
            :alt="character.name"
            style="max-width:100%"
            v-else
          />
        </v-card-text>
      </Card>
    </v-flex>
    <v-flex
      md12
      lg9
      xl8
      class="mb-4"
    >
      <Card class="character-profile--profile">
        <v-card-text>
          <div
            class="text-xs-right"
            v-if="canEditCharacters || isUser(character)"
          >
            <v-btn
              color="rgb(141, 183, 118)"
              class="white--text"
              depressed
              small
              @click="toggleEditCompanionDialog"
              v-if="!!editMode && !!canEditCharacters"
            >
              Add Pokemon
            </v-btn>
            <v-btn
              color="success"
              depressed
              small
              v-if="!editMode"
              @click="toggleEditMode"
            >
              Edit
            </v-btn>
            <v-btn
              color="success"
              depressed
              small
              v-else
              @click="saveCharacterAndToggleEditMode"
            >
              Save
            </v-btn>
          </div>
          <v-tabs
            v-model="tab"
            color="transparent"
            slider-color="#b2bba2"
          >
            <v-tab
              v-for="tab in tabs"
              :key="tab.key"
              ripple
            >
              {{ tab.label }}
            </v-tab>
            <v-tab-item key="info">
              <div class="py-4 px-2">
                <div class="layout row wrap mb-4">
                  <div class="title">
                    <div class="mb-2">
                      {{ character.name }}
                      <v-chip
                        color="success"
                        class="white--text"
                        small
                        label
                        v-for="(team, i) in character.teams"
                        :key="`teamName-${i}`"
                        v-if="character.teams"
                      >
                        {{ teamName(team) }}
                      </v-chip>
                    </div>
                  </div>
                  <v-spacer />
                  <div class="body-1">
                    Owned by
                    <nuxt-link :to="`/u/${character.user.username}`">
                      {{ character.user.username }}
                    </nuxt-link>
                  </div>
                </div>

                <div class="mb-4">
                  <div
                    class="layout row wrap align-center mb-2 subheading"
                    v-for="(field, i) in infoFields"
                    :key="`info-field-${i}`"
                    v-if="
                      !!editMode
                      || (
                        !field.editModeOnly
                        && (
                          (
                            !!field.isArray
                            && !!character[field.key]
                            && !!character[field.key].length
                          )
                          || (
                            !field.isArray
                            && !!character[field.key]
                          )
                        )
                      )
                    "
                  >
                    <v-flex
                      xs12
                      md6
                      lg2
                      class="grey--text text--darken-2 text-lg-right pr-4"
                    >
                      {{ field.label }}
                    </v-flex>
                    <v-flex
                      xs12
                      md6
                      lg6
                      class="font-weight-bold"
                      v-if="
                        !!editMode
                        && (
                          !!canEditCharacters ||
                          !!field.isEditableByUser
                        )
                      "
                    >
                      <v-combobox
                        v-model="character[field.key]"
                        :label="field.label"
                        hide-details
                        hide-no-data
                        small-chips
                        deletable-chips
                        multiple
                        light
                        box
                        v-if="!!field.isArray"
                      ></v-combobox>
                      <v-text-field
                        v-model="character[field.key]"
                        :label="field.label"
                        hide-details
                        light
                        box
                        v-else
                      ></v-text-field>
                    </v-flex>
                    <v-flex
                      xs12
                      md6
                      lg6
                      class="font-weight-bold"
                      v-else
                    >
                      <template v-if="!!Array.isArray(character[field.key])">
                        {{ character[field.key].join(', ') }}
                      </template>
                      <template v-else>
                        {{ character[field.key] }}
                      </template>
                    </v-flex>
                  </div>

                  <div
                    class="layout row wrap align-center mb-2 subheading"
                    v-if="!!editMode && !!canEditCharacters"
                  >
                    <v-flex
                      xs12
                      md6
                      lg2
                      class="grey--text text--darken-2 text-lg-right pr-4"
                    >
                      Owner
                    </v-flex>
                    <v-flex
                      xs12
                      md6
                      lg6
                      class="font-weight-bold"
                    >
                      <v-autocomplete
                        v-model="character.user"
                        :items="users"
                        label="Owner"
                        item-text="username"
                        item-value="_id"
                        return-object
                        hide-details
                        light
                        box
                      ></v-autocomplete>
                    </v-flex>
                  </div>

                  <div
                    class="layout row wrap align-center mb-2 subheading"
                    v-if="!!editMode && !!canEditCharacters"
                  >
                    <v-flex
                      xs12
                      md6
                      lg2
                      class="grey--text text--darken-2 text-lg-right pr-4"
                    >
                      Team
                    </v-flex>
                    <v-flex
                      xs12
                      md6
                      lg6
                      class="font-weight-bold"
                    >
                      <v-select
                        v-model="character.teams"
                        :items="teams"
                        label="Team"
                        item-text="text"
                        item-value="value"
                        hide-details
                        multiple
                        light
                        box
                      ></v-select>
                    </v-flex>
                  </div>
                </div>

                <template
                  v-if="!!showEditor
                    && !!editMode
                    && !!canEditCharacters"
                >
                  <hr>
                  <div class="body-1 grey--text text--darken-2 mb-2">Admin Notes</div>
                  <wysiwyg
                    v-model="character.adminNotes"
                    class="mb-3"
                  />
                </template>

                <template v-else-if="!!character.adminNotes">
                  <hr>
                  <div v-html="character.adminNotes"></div>
                </template>
              </div>
            </v-tab-item>
            <v-tab-item key="companions">
              <v-layout
                row
                wrap
                class="mb-4"
              >
                <v-spacer />
                <v-text-field
                  v-model="companionSearch"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-layout>

              <v-data-iterator
                :items="character.companions"
                :rows-per-page-items="companionRowsPerPageItems"
                :pagination.sync="companionPagination"
                :search="companionSearch"
                :custom-filter="onCompanionSearch"
                content-tag="v-layout"
                light
                row
                wrap
                v-if="character.companions"
              >
                <template v-slot:item="props">
                  <div
                    class="ma-2"
                    @click="selectCompanion(props.item)"
                  >
                    <CompanionCard
                      :value="props.item.companion"
                      :color-statuses="props.item.colorStatuses"
                      :pokeball="props.item.pokeball"
                      :salon="props.item.salon"
                    />
                  </div>
                </template>
              </v-data-iterator>
              <v-alert
                :value="!character.companions"
                type="info"
                outline
              >
                  You got no Pokemon.
              </v-alert>
            </v-tab-item>
          </v-tabs>
        </v-card-text>
      </Card>
    </v-flex>

    <v-flex
      xs12
    >
      <Card>
        <v-card-text>
          <template
            v-if="
              !!editMode
              && (
                !!canEditCharacters
                || !!isUser(character)
              )
            "
          >
            <div class="body-1 grey--text text--darken-2 mb-2">Profile Text</div>
            <wysiwyg
              v-model="character.profile"
            />
          </template>
          <div
            v-html="character.profile"
            v-else
          >
          </div>
        </v-card-text>
      </Card>
    </v-flex>

    <v-flex
      xs12
    >
      <Card>
        <v-card-title>
          Team
        </v-card-title>
        <v-card-text>
          <v-data-iterator
            :items="team"
            :rows-per-page-items="companionRowsPerPageItems"
            :pagination.sync="companionPagination"
            :search="companionSearch"
            :custom-filter="onCompanionSearch"
            content-tag="v-layout"
            hide-actions
            light
            row
            wrap
            v-if="character.companions"
          >
            <template v-slot:item="props">
              <div
                class="ma-2"
                @click="selectCompanion(props.item)"
              >
                <CompanionCard
                  :value="props.item.companion"
                  :color-statuses="props.item.colorStatuses"
                  :pokeball="props.item.pokeball"
                  :salon="props.item.salon"
                />
              </div>
            </template>
          </v-data-iterator>
        </v-card-text>
      </Card>
    </v-flex>

    <EditCompanionDialog
      v-model="showEditCompanionDialog"
      :companion="selectedCompanion"
      :companions="companions"
      :color-statuses="colorStatuses"
      :items="items"
      @create="onCreateCompanion"
      @update="onUpdateCompanion"
      @delete="onDeleteCompanion"
      @close="resetSelectedCompanion"
    />
  </v-layout>
</template>

<script>
  import PictureInput from 'vue-picture-input';
  import MonacoEditor from 'vue-monaco';

  import CompanionCard from '@/components/Companions/CompanionCard';
  import EditCompanionDialog from '@/components/Characters/EditCompanionDialog';

  import characterMixins from '@/mixins/character';
  import dateTimeMixins from '@/mixins/dateTime';
  import dialogMixins from '@/mixins/dialog';
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    layout: 'guest',
    components: {
      PictureInput,
      MonacoEditor,
      CompanionCard,
      EditCompanionDialog,
    },
    mixins: [
      characterMixins,
      dateTimeMixins,
      dialogMixins,
      formMixins,
      userMixins,
    ],
    watch: {
      tab() {
        this.showEditor = false;

        this.$nextTick(() => {
          this.showEditor = true;
        });
      }
    },
    data() {
      return {
        editMode: false,
        showEditCompanionDialog: false,
        tab: null,
        showEditor: false,
        profileImage: null,
        companionSearch: '',
        companionRowsPerPageItems: [12],
        companionPagination: {
          rowsPerPage: 12
        },
        teams: [
          {
            value: 'thorn',
            text: 'Team Thorn',
          },
          {
            value: 'eventide',
            text: 'Team Eventide',
          },
          {
            value: 'aurora',
            text: 'Team Aurora',
          },
        ],
        tabs: [
          {
            key: 'info',
            label: 'Info',
          },
          {
            key: 'companions',
            label: 'Pokemon',
          },
        ],
        infoFields: [
          {
            key: 'name',
            label: 'Name',
            editModeOnly: true,
          },
          {
            key: 'gender',
            label: 'Gender',
            isEditableByUser: true,
          },
          {
            key: 'job',
            label: 'Job',
          },
          {
            key: 'pronouns',
            label: 'Pronouns',
            isEditableByUser: true,
          },
          {
            key: 'nature',
            label: 'Nature',
            isEditableByUser: true,
          },
          {
            key: 'specialty',
            label: 'Specialty',
            isEditableByUser: true,
          },
        ]
      }
    },
    async asyncData({ $axios, params, store }) {
      let users,
          characters,
          companions,
          colorStatuses,
          items;

      const character = await $axios.get(`/characters/${params.id}`);

      if(
        store.getters['auth/authUser']
        && store.getters['user/user'].permissions.indexOf('can_edit_characters') !== -1
      ) {
        [users, characters, companions, colorStatuses, items] = await Promise.all([
          $axios.get('/users'),
          $axios.get('/characters'),
          $axios.get('/companions'),
          $axios.get('/color_statuses'),
          $axios.get('/items')
        ])
      }

      return {
        character: character.data,
        characters: !!characters ? characters.data : [],
        users: !!users ? users.data : [],
        companions: !!companions ? companions.data : [],
        colorStatuses: !!colorStatuses ? colorStatuses.data : [],
        items: !!items ? items.data : [],
        selectedCompanion: {
          companion: null,
          character: character.data._id,
          user: character.data.user._id,
        },
        selectedItem: {
          item: null,
          character: character.data._id,
          user: character.data.user._id,
        }
      };
    },
    methods: {
      async get() {
        const character = await this.$axios.get(`/characters/${this.$route.params.id}`);

        this.character = character.data;
      },
      onCompanionSearch(items, search) {
        if(!search)
          return items;

        const results = [];

        search = search.toLowerCase();

        return items.filter((companion) => {
          let hasMatch = false;

          const keys = Object.keys(companion.companion);

          for(let i = 0; i < keys.length; i++)  {
            let value = companion.companion[keys[i]];

            if(!value)
              continue;

            if(!!value.toLowerCase)
              value = value.toLowerCase();

            value = String(value);

            if(value.includes(search)) {
              hasMatch = true;
              break;
            }
          }

          return hasMatch;
        })
      },
      saveCharacterAndToggleEditMode() {
        this.toggleEditMode();
        this.saveCharacter();
      },
      async saveCharacter() {
        const payload = this.createPayload(this.character);

        if(!!this.profileImage)
          payload.profileImage = this.profileImage;

        if(!!payload.parent1)
          payload.parent1 = payload.parent1._id;

        if(!!payload.parent2)
          payload.parent2 = payload.parent2._id;

        payload.user = payload.user._id;

        const formData = this.createFormData(payload);

        try {
          const updatedCharacter = await this.$axios.$patch(
            `/characters/${payload._id}`,
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          );

          this.character = {
            ...this.character,
            profileImage: updatedCharacter.profileImage,
          };

          this.$bus.$emit('success', {
            message: 'Character has been successfully updated.'
          });
        } catch (e) {
          console.error(e);

          this.$bus.$emit('error', {
            message: 'Character could not be updated.'
          });
        }
      },
      onChangeProfileImage(image) {
        if (image) {
          this.profileImage = this.$refs.profileImage.file
        }
      },
      toggleEditMode() {
        this.editMode = !this.editMode;
      },
      onCreateItem() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully created.'
        });
        this.resetSelectedItem();
      },
      onUpdateItem() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully updated.'
        });
        this.resetSelectedItem();
      },
      onDeleteItem() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully deleted.'
        });
        this.resetSelectedItem();
      },
      resetSelectedItem() {
        this.selectedItem = {
          item: null,
          character: this.character._id,
          user: this.character.user._id,
        };
      },
      selectCompanion(companion) {
        this.selectedCompanion = JSON.parse(JSON.stringify(companion));
        this.toggleEditCompanionDialog();
      },
      toggleEditCompanionDialog() {
        this.showEditCompanionDialog = !this.showEditCompanionDialog;
      },
      onCreateCompanion() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully created.'
        });
        this.resetSelectedCompanion();
      },
      onUpdateCompanion() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully updated.'
        });
        this.resetSelectedCompanion();
      },
      onDeleteCompanion() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Pokemon has been successfully deleted.'
        });
        this.resetSelectedCompanion();
      },
      resetSelectedCompanion() {
        this.selectedCompanion = {
          companion: null,
          character: this.character._id,
          user: this.character.user._id,
        };
      },
      teamName(teamKey) {
        const team = this.teams.find(({value}) => teamKey === value);
        return team ? team.text : '-';
      },
    },
    computed: {
      team() {
        return this.character.companions.filter(({team}) => !!team)
      },
    }
  }
</script>
<style scoped>
.editor {
  height: 400px;
}

.character-profile--profile {
  min-height: 100%;
}
</style>
