<template>
  <v-layout
    justify-center
    row
    wrap
  >
      <v-flex md12 lg8>
          <v-layout row wrap>
            <h4 class="title mb-4">Your Alerts</h4>
            <v-spacer />
            <v-btn
              @click="clear"
              color="success"
              small
              :loading="isClearingData"
            >
              Clear all alerts
            </v-btn>
          </v-layout>
          <template
            v-if="messages.docs.length"
            v-for="(message, i) in messages.docs"
          >
            <Message
              :key="`message-${i}`"
              @create="getData"
              @update="getData"
              :value="message"
            />
            <hr class="my-0">
          </template>

          <v-layout
            justify-center
            v-if="loading"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-1"
              size="24"
            ></v-progress-circular>
          </v-layout>
          <v-alert
            v-else-if="!messages.docs.length"
            :value="true"
            type="info"
            outline
          >
              You got no alerts.
          </v-alert>

          <v-layout row wrap justify-center>
            <v-pagination
              v-model="messages.page"
              :length="messages.totalPages"
              class="mt-3"
            ></v-pagination>
          </v-layout>
      </v-flex>
      <MessageDialog
        v-if="$store.state.messages.dialog"
        @create="getData"
        @update="getData"
        alert
      />
  </v-layout>
</template>

<script>
  import Message from '@/components/Messages/Message';
  import MessageForm from '@/components/Messages/MessageForm';
  import MessageDialog from '@/components/Messages/MessageDialog';

  export default {
    components: {
      Message,
      MessageForm,
      MessageDialog,
    },
    async asyncData({ $axios, params, store }) {
      let {data:messages} = await $axios.get('/messages', {
        params: {
          type: 'alert',
          page: params.page || 1,
        }
      });

      return {
        messages,
      };
    },
    data() {
      return {
        showMessageForm: false,
        loading: false,
        isClearingData: false,
      }
    },
    watch: {
      'messages.page' : function() {
        history.pushState(
          {},
          null,
          `/alerts/${this.messages.page}`
        );
        this.hardReload()
      }
    },
    methods: {
      async hardReload() {
        this.messages.docs = [];
        this.getData();
      },
      async getData() {
        this.loading = true;

        const result = await this.$axios.get('/messages', {
          params: {
            type: 'alert',
            page: this.messages.page
          }
        });

        this.messages = result.data;

        this.loading = false;
      },
      async clear() {
        const requests = [];

        this.isClearingData = true;
        this.messages.docs.forEach(({_id}) => {

          requests.push(this.$axios.post(`/messages/${_id}/markread`));
        })

        try {
          await Promise.all(requests);

          this.$bus.$emit('success', {
            message: `All alerts have been cleared`
          });

          this.getData();
        } catch (e) {
          this.$bus.$emit('error', {
            message: `Alerts could not be cleared. Please try again later.`
          });
        } finally {
          this.isClearingData = false;
        }
      }
    }
  }
</script>
