<template>
  <v-layout row wrap justify-center>
    <v-flex
      md12
      lg3
      class="pr-4"
    >
      <Card lite>
        <v-card-text class="text-xs-center">
          <img
            :src="shop.icon || noImageUri"
            :alt="shop.name"
            style="max-width:100%"
          />
        </v-card-text>
      </Card>

      <Card lite v-html="shop.description"></Card>
    </v-flex>
    <v-flex md12 lg9>
      <v-tabs
        v-model="tab"
        color="transparent"
        background-color="transparent"
        slider-color="#b2bba2"
      >
        <v-tab
          v-for="tab in tabs"
          :key="tab"
          ripple
        >
          {{ tab }}
        </v-tab>
        <v-tab-item
          v-for="(category, i) in inventory"
          :key="`category-${category,category}`"
        >
          <v-layout
            row
            wrap
            class="pt-4"
          >
            <v-flex
              sm12
              md6
              xl4
              v-for="(item, j) in category.items"
              :key="`shopItem-${j}`"
            >
              <ShopItemCard
                :value="item"
                class="mb-2 pa-1"
                @buy="onBuy"
                @error="onError"
              />
            </v-flex>
          </v-layout>
        </v-tab-item>
        <v-tab-item
          v-if="
            !!shop.companionInventory
            && shop.companionInventory.length > 0
          "
          key="category-companions"
        >
          <v-layout
            row
            wrap
            class="pt-4"
          >
            <v-flex
              sm12
              md6
              xl4
              v-for="(companion, j) in shop.companionInventory"
              :key="`shopCompanion-${j}`"
            >
              <ShopCompanionCard
                :value="companion"
                class="mb-2 pa-1"
                @buy="onCompanionBuy"
                @error="onCompanionError"
              />
            </v-flex>
          </v-layout>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>

<script>
  import ShopItemCard from '@/components/Shops/ShopItemCard';
  import ShopCompanionCard from '@/components/Shops/ShopCompanionCard';

  import characterMixins from '@/mixins/character';

  export default {
    components: {
      ShopItemCard,
      ShopCompanionCard
    },
    mixins: [characterMixins],
    async asyncData({ $axios, params, store }) {
      const {data:shop} = await $axios.get(`/shops/${params.id}`);

      return {
        shop,
      };
    },
    computed: {
      inventory() {

        const inventory = {};

        this.shop.inventory.forEach((item) => {
          const category = item.item.category || 'Other';
          if(!inventory[category])
            inventory[category] = {
              category,
              items: []
            };

          inventory[category].items.push(item);
        })

        return Object.values(inventory);
      },
      tabs() {
        let tabs = this.inventory.map(({category}) => category);

        if(
          !!this.shop.companionInventory
          && this.shop.companionInventory.length > 0
        )
          tabs.push('Pokemon');

        return tabs;
      }
    },
    methods: {
      onBuy({ shopItem, item, newBalance }) {
        this.$store.commit('user/setCurrency', {
          currency: shopItem.currency,
          newBalance
        });

        this.$bus.$emit('success', {
          message: `${item.name} has been successfully purchased.`
        });

        if(!shopItem.unlimitedStock) {
          const i = this.shop.inventory.findIndex((curShopItem) => curShopItem._id === shopItem._id);

          this.shop.inventory[i].stock = shopItem.stock;
        }
      },
      onError() {
        this.$bus.$emit('error', {
          message: 'Item could not be purchased.'
        });
      },
      onCompanionBuy({ shopCompanion, companion, newBalance }) {
        this.$store.commit('user/setCurrency', {
          currency: shopCompanion.currency,
          newBalance
        });

        this.$bus.$emit('success', {
          message: `${companion.name} has been successfully purchased.`
        });

        if(!shopCompanion.unlimitedStock) {
          const i = this.shop.companionInventory.findIndex((curShopCompanion) => curShopCompanion._id === shopCompanion._id);

          this.shop.companionInventory[i].stock = shopCompanion.stock;
        }
      },
      onCompanionError() {
        this.$bus.$emit('error', {
          message: 'Pokemon could not be purchased.'
        });
      }
    },
  }
</script>
