<template>
  <v-layout row wrap justify-center>
    <nuxt-link
      v-for="(shop, i) in shops"
      class="flex lg3 md4 xs12 white--text title text-xs-center mb-4 pa-2"
      :to="`/shops/${shop.slug}`"
      :key="`shop-${i}`"
    >
      <img
        :src="shop.icon"
        class="mb-4"
        v-if="shop.icon"
      />
      {{ shop.name }}
    </nuxt-link>
  </v-layout>
</template>

<script>

  export default {
    async asyncData({ $axios, params, store }) {
      const {data:shops} = await $axios.get('/shops');

      return {
        shops,
      };
    },
  }
</script>
