<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Titles
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Title
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="ranks"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td>{{ props.item.value }}</td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectTitle(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteTitle(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :rank="selectedTitle"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Titles/TitleDialog';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/ranks');
      return {
        ranks: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Value', value: 'value' },
          { text: '', value: '' },
        ],
        selectedTitle: {
          name: '',
          value: '',
          icon: null,
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/ranks');
          this.ranks = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Title has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Title has been successfully updated.'
        });
      },
      selectTitle(rank) {
        this.selectedTitle = JSON.parse(JSON.stringify(rank));
        this.toggleDialog();
      },
      async deleteTitle({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/ranks/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Title has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Title could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedTitle = {
          name: '',
          value: 0,
          icon: null,
        };
      }
    },
  }
</script>
