<template>
  <nav>
    <v-toolbar
      class="top-bar"
      height="36"
      flat
      dark
    >
      <v-toolbar-items>
        <v-btn
          color="white"
          flat
          small
          href="https://www.deviantart.com/pokemontownship"
        >
          DeviantArt Group
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          color="white"
          flat
          small
          :to="menuItem.to"
          v-for="(menuItem, i) in top"
          :key="`top-${i}`"
          v-if="showMenuItem(menuItem)"
        >
          {{ menuItem.label }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-toolbar
      color="transparent"
      class="main-nav mt-5 mb-4 px-5"
      height="80"
      flat
      dark
    >
      <v-flex xs5>
        <v-toolbar-items class="justify-end pr-4">
          <v-btn
            flat
            large
            :to="menuItem.to"
            v-for="(menuItem, i) in left"
            :key="`left-${i}`"
            v-if="showMenuItem(menuItem)"
          >
            <template v-if="!menuItem.badge">
              <v-icon v-if="!!menuItem.icon">
                {{ menuItem.icon }}
              </v-icon>
              <span v-if="!!menuItem.label">
                {{ menuItem.label }}
              </span>
            </template>

            <v-badge
              :value="true"
              color="red"
              right
              v-else
            >
              <template v-slot:badge>
                <span>{{ menuItem.badge }}</span>
              </template>
              <v-icon v-if="!!menuItem.icon">
                {{ menuItem.icon }}
              </v-icon>
              <span v-if="!!menuItem.label">
                {{ menuItem.label }}
              </span>
            </v-badge>
          </v-btn>
        </v-toolbar-items>
      </v-flex>
      <v-flex xs2>
        <v-toolbar-title class="layout justify-center">
          <img
            src="/images/header.png"
            style="max-width:100%;"
          />
        </v-toolbar-title>
      </v-flex>
      <v-flex class="layout row">
        <v-toolbar-items class="grow pl-4">
          <v-btn
            flat
            large
            :to="menuItem.to"
            v-for="(menuItem, i) in right"
            :key="`right-${i}`"
            v-if="showMenuItem(menuItem)"
          >
            <template v-if="!menuItem.badge">
              <v-icon v-if="!!menuItem.icon">
                {{ menuItem.icon }}
              </v-icon>
              <span v-if="!!menuItem.label">
                {{ menuItem.label }}
              </span>
            </template>

            <v-badge
              :value="true"
              color="red"
              right
              v-else
            >
              <template v-slot:badge>
                <span>{{ menuItem.badge }}</span>
              </template>
              <v-icon v-if="!!menuItem.icon">
                {{ menuItem.icon }}
              </v-icon>
              <span v-if="!!menuItem.label">
                {{ menuItem.label }}
              </span>
            </v-badge>
          </v-btn>
        </v-toolbar-items>
        <!-- <div
          class="quick-profile py-2 px-3"
          v-if="!!authUser && !!user"
        >
          <v-layout align-center fill-height>
            <v-layout align-center>
              <nuxt-link
                class="profile-link--profile-image mr-2"
                :to="`/u/${user.username}`"
              >
                <img
                  :src="user.icon"
                  style="height:50px;50px;"
                  class="d-block"
                  v-if="!!user.icon"
                />
              </nuxt-link>
              <div>
                <nuxt-link
                  class="white--text body-2 mb-1"
                  :to="authUserProfileLink"
                >
                  {{ user.username }}
                </nuxt-link>
                <div class="balance">
                  <v-chip
                    label
                    color="#b2bba2"
                    text-color="white"
                    class="ma-0"
                    outline
                    small
                  >
                    <v-icon
                      color="#b2bba2"
                      small
                    >
                      attach_money
                    </v-icon>
                    {{ user.currency }}
                  </v-chip>
                </div>
              </div>
            </v-layout>
          </v-layout>
        </div> -->
      </v-flex>
    </v-toolbar>

    <div class="mt-5 text-xs-center">
      <img src="https://orig00.deviantart.net/e9ed/f/2018/143/d/e/top_j_by_uszatyarbuz-dccauki.png" />
    </div>

  </nav>
</template>

<script>
  import { mapGetters } from 'vuex';

  import userMixins from '@/mixins/user';

  export default {
    mixins: [userMixins],
    created() {
      this.$store.dispatch('nav/getMenuItems');
    },
    data() {
      return {
        top: [
          {
            label: 'Login',
            to: '/login',
            nonAuthOnly: true,
          },
          {
            label: 'Admin',
            to: '/admin',
            authOnly: true,
            modOnly: true,
          },
          {
            label: 'Settings',
            to: '/settings',
            authOnly: true,
          },
          {
            label: 'Logout',
            to: '/logout',
            authOnly: true,
          },
        ],
        left: [
          {
            icon: 'home',
            to: '/',
            authOnly: true,
          },
          {
            label: 'News',
            to: '/news',
            authOnly: true,
          },
          {
            label: 'Forum',
            to: '/forum',
            authOnly: true,
          },
          {
            label: 'Shops',
            to: '/shops',
            authOnly: true,
          },
          // {
          //   label: 'Games',
          //   to: '/games',
          //   authOnly: true,
          // },
          // {
          //   icon: 'mail_outline',
          //   to: '/messages',
          //   authOnly: true,
          //   badge: '1'
          // },
        ]

      };
    },
    methods: {
      showMenuItem({ authOnly, nonAuthOnly, modOnly }) {
        let result = false;

        if(!!authOnly && !!this.authUser)
          result = true;

        if(!!nonAuthOnly && !this.authUser)
          result = true;

        if(!authOnly && !nonAuthOnly)
          result = true;
        if(
          !!modOnly
          && (
            !this.authUser
            || !this.user.permissions
            || this.user.permissions.indexOf('moderate') === -1
          )
        )
          result = false;

        return result;
      },
    },
    computed: {
      ...mapGetters('auth', ['authUser']),
      ...mapGetters('user', ['user']),
      ...mapGetters('nav', ['menuItems']),
      right() {
        let menuItems = [];

        if(!!this.menuItems && !!this.menuItems.length)
          menuItems = menuItems.concat(
            this.menuItems.map((menuItem) => {
              return {
                label: menuItem.navLabel,
                to: `/c/${menuItem.slug}`,
              };
            })
          );

        return menuItems;
      }
    }
  }
</script>

<style lang="stylus" scoped>

  nav
    position: relative

    .flower
      position: absolute
      top: -66px
      left: 50%

      width: 360px
      margin-left: -174px

  .quick-profile
    justify-self: flex-end;
    background-size: 100% 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    border-radius: 18px;

  .top-bar
    background: transparent

    a
      color: white;

  .main-nav
    a.v-btn
      border: 1px solid #31271b;
      box-shadow: 0 0 2px 1px #31271b, inset 0 0 0 2px #493527, inset 0 0 2px 3px #31271b;
      background-color: rgb(255, 255, 255);
      background-color: rgba(255,255,255,0.8);
      color: #7a583b;
      border-radius: 4px;
      font-family: 'Merienda One', sans-serif !important
      font-weight: bold;
      font-size: 16px;
      margin: 0 8px !important;

      padding: 8px 12px;
      border: none;
      cursor: pointer;
      min-width: 40px;
      width: auto;
      display: inline-block;
      text-shadow: none;
      transition: all 0.7s;
      text-transform: none;
      vertical-align: middle;
</style>
