<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 lg6>
      <v-card light>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="onSubmit"
        >
          <v-toolbar>
            <v-toolbar-title>
              Roll for {{ character.name }}
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                type="submit"
                flat
                :to="`/trainer/${character._id}`"
              >
                Back to character
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text v-if="serverErrors.length">
            <v-alert
              type="error"
              :value="true"
              v-for="(error, i) in serverErrors"
              :key="i"
            >
              {{ error }}
            </v-alert>
          </v-card-text>
          <v-card-text>
            <div class="body-1 grey--text text--darken-2 mb-2">
              Tags
            </div>

            <v-layout row wrap>
              <v-flex
                xs12
                lg4
                v-for="tag in tags"
                :key="`tag-${tag}`"
              >
                <v-checkbox
                  v-model="settings.tags"
                  :value="tag"
                  :label="tag"
                />
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-text>
            <v-autocomplete
              v-model="settings.category"
              :items="categories"
              label="Category logged"
              item-text="name"
              item-value="_id"
            />
          </v-card-text>
          <v-card-text>
            <v-text-field
              v-model="settings.additionalBookChance"
              label="Chance to roll additional book"
              suffix="%"
            />
          </v-card-text>
          <v-card-text>
            <v-checkbox
              v-model="settings.failTenPercent"
              label="10% Chance to fail"
            />
          </v-card-text>
          <v-card-actions>
            <v-btn
              type="submit"
              :disabled="!settings.category || !!isNaN(settings.additionalBookChance)"
              block
            >
              Roll
            </v-btn>
          </v-card-actions>
          <v-card-text v-if="!!roll.message">
            <TravelTrackerCard :value="roll" />
          </v-card-text>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
  import TravelTrackerCard from '@/components/TravelTracker/TravelTrackerCard';

  import formMixins from '@/mixins/form';

  export default {
    layout: 'admin',
    mixins: [formMixins],
    components: {
      TravelTrackerCard
    },
    data() {
      return {
        settings: {
          tags: [],
          category: null,
          additionalBookChance: 0,
          failTenPercent: false,
        },
        roll: {
          message: '',
        }
      };
    },
    async asyncData({ $axios, params }) {
      const requests = [
        $axios.get('/tags'),
        $axios.get('/categories'),
        $axios.get('/items'),
        $axios.get('/books'),
        $axios.get(`/characters/${params.id}`)
      ];

      let [tags, categories, items, books, character] = await Promise.all(requests);

      books = books.data.filter(book => !book.slug);

      return {
        tags: tags.data,
        categories: categories.data,
        items: items.data,
        books: books,
        character: character.data,
      }
    },
    methods: {
      async onSubmit() {
        let result, message;

        const rolledItems = [];

        // Roll for books
        const getRandomBook = () => {
          return this.books[Math.floor(this.books.length * Math.random())];
        }

        const rolledBooks = [getRandomBook()];

        if(
          !!this.settings.additionalBookChance &&
          this.settings.additionalBookChance > 0
        ) {
          if(Math.floor(Math.random() * 100) <= this.settings.additionalBookChance) {
            rolledBooks.push(getRandomBook());
          }
        }

        // Check if roll failed
        if(
          !!this.settings.failTenPercent
          && Math.floor(Math.random() * 100) <= 10
        ) {
          // Roll failed
          message = `${this.character.name} went on a ${this.settings.category} but it seems they didn't return with anything but something to read.`;
        } else {
          // Roll for items

          let item_range = [1,3];

          const item_range_by_rank = {
            rank_1: [1,3],
            rank_2: [2,4],
            rank_3: [2,5],
            rank_4: [3,5],
            rank_5: [3,6],
            rank_6: [4,6],
          };

          if(
            !!this.character.rank
            && !!this.character.rank.key
            && Object.keys(item_range_by_rank).indexOf(this.character.rank.key) !== -1
          )
            item_range = item_range_by_rank[this.character.rank.key]

          const amount_of_items = Math.floor((Math.random() * (item_range[1] - item_range[0] + 1))) + item_range[0];

          let rarities = [
            {
              key: 'Legendary',
              value: 1,
            },
            {
              key: 'Rare',
              value: 9,
            },
            {
              key: 'Uncommon',
              value: 40,
            },
            {
              key: 'Common',
              value: 50,
            },
          ]

          rarities = rarities.map((rarity) => {
            const result = [];

            for(let i = 0; i < rarity.value; i++)
              result.push(rarity.key);

            return result;
          }).flat();

          const getItem = () => {
            const draw = Math.floor(Math.random() * 100);

            const rarity = rarities[draw];

            let item, i = 0;

            const getRandomItem = () => {
              return this.items[Math.floor(this.items.length * Math.random())];
            }

            while (!item && i < 1000) {
              let drawnItem = getRandomItem();

              if(
                drawnItem.rarity === rarity
                && (
                  !this.tags.length
                  || !!drawnItem.tags.some(tag => this.settings.tags.indexOf(tag) !== -1)
                )
              )
                drawnItem = item;

              i++;
            }

            if(!item)
              item = getRandomItem();

            return item;
          }

          for(let i = 0; i < amount_of_items; i++) {
            rolledItems.push(getItem());
          }

          let messages;

          if(!!/ing$/i.test(this.settings.category)) {
            messages = [
              `${this.character.name} went ${this.settings.category} and got the following items:`,
              `${this.character.name}'${this.character.name.charAt(this.character.name.length-1) !== 's' ? 's' : ''}
              ${this.settings.category} went well. ${this.character.name} dragged home the following items:`,
            ];
          } else {
            messages = [
              `${this.character.name} went on a ${this.settings.category} and got the following items:`,
              `${this.character.name}'${this.character.name.charAt(this.character.name.length-1) !== 's' ? 's' : ''}
              ${this.settings.category} seems like a success. ${this.character.name} dragged home the following items:`,
            ];
          }

          message = messages[Math.floor(messages.length * Math.random())];
        }

        const roll = {
          message,
          books: rolledBooks,
          items: rolledItems,
        };

        const travelTrackerEntry = await this.$axios.post('/travel_tracker', {
          character: this.character._id,
          ...roll,
          ...this.settings,
        });

        this.roll = travelTrackerEntry.data;
      },
    },
  }
</script>
