<template>
  <v-card
    flat
    light
    :class="{
      'lite' : !showEdges,
      'mb-3' : !noMargin
    }"
    class="card"
  >
    <slot />
  </v-card>
</template>

<script>
  export default {
    props: {
      lite: {
        type: Boolean,
        required: false,
        default: false,
      },
      noMargin: {
        type: Boolean,
        required: false,
        default: false,
      }
    },
    computed: {
      showEdges() {
        return !this.lite && !this.$vuetify.breakpoint.lgAndDown
      }
    }
  }
</script>
<style lang="stylus" scoped>
  .card
    background: white;
    padding: 0;
    border-radius: 0;

</style>
