<template>
  <div class="page-end">
    <v-footer
      class="white--text caption ma-0 pa-3"
      color="transparent"
      height="60px"
    >
      <div>
        <span>&copy; {{ new Date().getFullYear() }} Pokémon Township</span><br>
        <span>No copyright or trademark infringement is intended in using Pokémon content.</span>
      </div>
      <v-divider />
      <div>
        <span>Pokémon &copy; 2002-{{ new Date().getFullYear() }} Pokémon</span><br>
        <span>&copy; 1995-{{ new Date().getFullYear() }} Nintendo/Creatures Inc./GAME FREAK inc. TM, ® and Pokémon character names are trademarks of Nintendo.</span>
      </div>



    </v-footer>
  </div>
</template>
<script>
  export default {

  }
</script>

<style lang="stylus" scoped>
  .page-end
    background: rgb(80, 45, 26);
    color: white;
</style>
