<template>
  <div class="header">
    <Top />
    <img
      src="/images/logo.png"
      class="logo"
      alt="PokemonTownship"
    />

    <nav>
      <v-toolbar
        color="transparent"
        class="main-nav px-0 justify-center"
        height="48"
        flat
        dark
      >
        <div
          class="py-0"
          style="height:48px;justify-self: center"
        >
          <v-layout row wrap justify-center>
            <v-toolbar-items>
              <template v-for="(menuItem, i) in menuItems">
                <template v-if="!!menuItem.children && menuItem.children.length > 0">
                  <v-menu
                  offset-y
                  open-on-hover
                  :key="`left-${i}`"
                  >
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-if="showMenuItem(menuItem)"
                        :color="menuItem.color || '#8db776'"
                        class="white--text px-3"
                        large
                        v-on="on"
                        @click="menuItemClick(menuItem)"
                      >
                        <template v-if="!menuItem.badge">
                          <span
                            v-if="!!menuItem.icon"
                            class="mr-1"
                          >
                            {{ menuItem.icon }}
                          </span>
                          <span v-if="!!menuItem.label">
                            {{ menuItem.label }}
                          </span>
                          <v-icon
                            class="ml-1"
                            right
                            small
                          >
                            expand_more
                          </v-icon>
                        </template>

                        <v-badge
                          :value="true"
                          color="red"
                          right
                          v-else
                        >
                          <template v-slot:badge>
                            <span>{{ menuItem.badge }}</span>
                          </template>
                          <span
                            v-if="!!menuItem.icon"
                            class="mr-1"
                          >
                            {{ menuItem.icon }}
                          </span>
                          <span v-if="!!menuItem.label">
                            {{ menuItem.label }}
                          </span>
                        </v-badge>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-tile
                        v-if="showMenuItem(dropdownItem)"
                        v-for="(dropdownItem, j) in menuItem.children"
                        :key="`left-${i}-${j}`"
                        @click="menuItemClick(dropdownItem)"
                      >
                        <v-list-tile-title>{{ dropdownItem.label }}</v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </template>
                <template v-else>
                  <v-btn
                    v-if="showMenuItem(menuItem)"
                    :color="menuItem.color || '#8db776'"
                    class="white--text px-3"
                    large
                    @click="menuItemClick(menuItem)"
                  >
                    <template v-if="!menuItem.badge">
                      <span
                        v-if="!!menuItem.icon"
                        class="mr-1"
                      >
                        {{ menuItem.icon }}
                      </span>
                      <span v-if="!!menuItem.label">
                        {{ menuItem.label }}
                      </span>
                    </template>

                    <v-badge
                      :value="true"
                      color="red"
                      right
                      v-else
                    >
                      <template v-slot:badge>
                        <span>{{ menuItem.badge }}</span>
                      </template>
                      <span
                        v-if="!!menuItem.icon"
                        class="mr-1"
                      >
                        {{ menuItem.icon }}
                      </span>
                      <span v-if="!!menuItem.label">
                        {{ menuItem.label }}
                      </span>
                    </v-badge>
                  </v-btn>
                </template>
              </template>
            </v-toolbar-items>
          </v-layout>
        </div>
      </v-toolbar>
    </nav>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import Top from '@/components/App/Top';

  import userMixins from '@/mixins/user';
  import navigationMixins from '@/mixins/navigation';

  export default {
    components: {
      Top
    },
    mixins: [
      userMixins,
      navigationMixins,
    ],
    created() {
      this.$store.dispatch('nav/getMenuItems');
    },
    data() {
      return {
        shops: [],
        activities: [],
      };
    },
    methods: {
      showMenuItem({ authOnly, nonAuthOnly, modOnly }) {
        let result = false;

        if(!!authOnly && !!this.authUser)
          result = true;

        if(!!nonAuthOnly && !this.authUser)
          result = true;

        if(!authOnly && !nonAuthOnly)
          result = true;
        if(
          !!modOnly
          && (
            !this.authUser
            || !this.user.permissions
            || this.user.permissions.indexOf('moderate') === -1
          )
        )
          result = false;

        return result;
      },
    },
    computed: {
      ...mapGetters('auth', ['authUser']),
      ...mapGetters('user', ['user']),
      ...mapGetters('nav', ['menuItems']),
    }
  }
</script>

<style lang="stylus" scoped>
  .header
    background: #b2bba2 url('/images/header.png') center center no-repeat
    background-size: cover

    .main-nav
      background-color: rgb(141, 183, 118) !important
</style>
