<template>
  <v-snackbar
    v-model="showSnackbar"
    :color="color"
    top
  >
    {{ message }}
    <v-btn
      flat
      @click="showSnackbar = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
  export default {
    data() {
      return {
        showSnackbar: false,
        color: 'success',
        message: '',
      };
    },
    mounted() {
      this.$bus.$on('success', ({message}) => {
        this.message = message;
        this.color = 'success';
        this.showSnackbar = true;
      })

      this.$bus.$on('error', ({message}) => {
        this.message = message;
        this.color = 'error';
        this.showSnackbar = true;
      })
    }
  }
</script>

<style lang="stylus" scoped>

</style>
