<template>
  <nav>
    <v-toolbar
      class="top-bar"
      color="rgb(80, 45, 26)"
      height="48"
      flat
      dark
    >
      <v-toolbar-items>
        <v-btn
          color="#502d1a"
          class="white--text"
          :href="`/u/${user.username}`"
          v-if="!!authUser"
        >
          {{ user.username }}
        </v-btn>

        <v-btn
          color="#502d1a"
          class="white--text"
          href="/messages"
          v-if="!!authUser"
        >
          <v-chip
            class="ma-0"
            color="transparent"
            small
            pill
          >
          <v-avatar
            left
            color="#2f1b10"
            v-if="unreadMessages > 0"
          >
            <span class="caption">{{ unreadMessages }}</span>
          </v-avatar>
          <v-icon small>
            mail
          </v-icon>
          </v-chip>
        </v-btn>

        <v-btn
          color="#502d1a"
          class="white--text"
          href="/alerts"
          v-if="!!authUser"
        >
          <v-chip
            class="ma-0"
            color="transparent"
            small
            pill
          >
          <v-avatar
            left
            color="#2f1b10"
            v-if="unreadAlerts > 0"
          >
            <span class="caption">{{ unreadAlerts }}</span>
          </v-avatar>
          <v-icon small>
            notifications
          </v-icon>
          </v-chip>
        </v-btn>

        <v-btn
          color="#502d1a"
          class="white--text"
          v-if="!!authUser"
        >
          {{ user.currency }}
          <img
            src="/images/pd.png"
            alt="PD"
            class="ml-1"
          />
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          color="#502d1a"
          class="white--text"
          :to="menuItem.to"
          v-for="(menuItem, i) in top"
          :key="`top-${i}`"
          v-if="showMenuItem(menuItem)"
        >
          {{ menuItem.label }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </nav>
</template>

<script>
  import { mapGetters } from 'vuex';
  import moment from 'moment';
  import 'moment-timezone';

  import userMixins from '@/mixins/user';

  const getServerTime = function() {
    return moment().tz('America/Toronto').format('MMM DD - hh:mm:ss A z')
  }

  export default {
    mixins: [userMixins],
    created() {
      this.$store.dispatch('settings/getAppSettings');
    },
    mounted() {

      if(!!this.authUser)
        this.getMessages();

      setInterval(() => {
        this.serverTime = getServerTime()
      }, 1000)
    },
    data() {
      return {
        unreadMessages: 0,
        unreadAlerts: 0,
        serverTime: getServerTime(),
      }
    },
    methods: {
      showMenuItem({ authOnly, nonAuthOnly, modOnly }) {
        let result = false;

        if(!!authOnly && !!this.authUser)
          result = true;

        if(!!nonAuthOnly && !this.authUser)
          result = true;

        if(!authOnly && !nonAuthOnly)
          result = true;
        if(
          !!modOnly
          && (
            !this.authUser
            || !this.user.permissions
            || this.user.permissions.indexOf('moderate') === -1
          )
        )
          result = false;

        return result;
      },
      async getMessages() {
        const [{data:messages}, {data:alerts}] = await Promise.all([
          this.$axios.get('/messages/info'),
          this.$axios.get('/messages/info', {
            params: {
              type: 'alert'
            }
          })
        ]);
        const unreadMessages = messages.filter((thread) => {
          return thread.to === this.user._id ? !thread.toRead : !thread.fromRead;
        });

        const unreadAlerts = alerts.filter((thread) => {
          return thread.to === this.user._id ? !thread.toRead : !thread.fromRead;
        });

        this.unreadMessages = unreadMessages.length;
        this.unreadAlerts = unreadAlerts.length;
      }
    },
    computed: {
      ...mapGetters('auth', ['authUser']),
      ...mapGetters('user', ['user']),
      ...mapGetters('nav', ['menuItems']),
      top() {
        let result = [
          {
            label: 'Login',
            to: '/login',
            nonAuthOnly: true,
          },
          {
            label: 'Admin',
            to: '/admin',
            authOnly: true,
            modOnly: true,
          },
          {
            label: `Etryae Time: ${this.serverTime}`,
          },
          {
            label: 'Settings',
            to: '/settings',
            authOnly: true,
          },
        ];

        const activityCheck = this.$store.getters['settings/activityCheck'];

        if (!!activityCheck && !!activityCheck.value) {
          result.push({
            label: 'Activity Check',
            to: '/activitycheck',
            authOnly: true,
          });
        }

        if(
          this.authUser
          && this.user.permissions
          && this.user.permissions.indexOf('moderate') !== -1
        ) {
          const modActivityCheck = this.$store.getters['settings/modActivityCheck'];

          if (
            !!modActivityCheck
            && !!modActivityCheck.value
          ) {
            result.push({
              label: 'Mod Activity Check',
              to: '/modactivitycheck',
              authOnly: true,
            });
          }
        }


        result.push({
          label: 'Logout',
          to: '/logout',
          authOnly: true,
        });

        return result;
      },
      right() {
        let menuItems = [];

        if(!!this.menuItems && !!this.menuItems.length)
          menuItems = menuItems.concat(
            this.menuItems.map((menuItem) => {
              return {
                label: menuItem.navLabel,
                to: `/c/${menuItem.slug}`,
              };
            })
          );

        return menuItems;
      },
    }
  }
</script>

<style lang="stylus" scoped>

</style>
