<template>
  <v-autocomplete
    v-model="internalValue"
    :loading="loading"
    :items="users"
    :search-input.sync="search"
    item-text="username"
    return-object
    hide-details
    hide-no-data
    label="Recipient"
    placeholder="Search by username..."
  ></v-autocomplete>
</template>

<script>
  export default {
    props: {
      value: {
        required: true,
      }
    },
    data() {
      return  {
        search: '',
        loading: false,
        users: [],
        internalValue: '',
      }
    },
    mounted() {
      this.internalValue = this.value;
    },
    watch: {
      search(val) {
        val && this.queryUsers(val)
      },
      value(val) {
        this.internalValue = val;
      },
      internalValue(newVal, oldVal) {
        if(!!oldVal)
          this.$emit('input', this.internalValue);
      },
    },
    methods: {
      async queryUsers() {
        this.loading = true;

        if(this.search.length < 2) {
          //this.users = [];
          this.loading = false;
          return;
        }

        await this.$axios.get('/users/search', { params: { username: this.search } })
                         .then(({data}) => {
                           this.users = data;
                           this.loading = false;
                         })
      },
    }
  }
</script>
