<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg10>
      <v-card light>
        <v-card-title class="title">
          Submissions
        </v-card-title>
        <v-card-text>
          <v-checkbox
            v-model="showAllSubmissions"
            label="Show all submissions"
            hide-details
          />
          <v-alert
            type="info"
            :value="!filteredSubmissions.length"
            class="mt-4"
          >
            No submissions under these criteria found.
          </v-alert>
        </v-card-text>
        <isotope ref="gallery" :options='galleryOptions' v-images-loaded:on.progress="layout" :list="filteredSubmissions">
          <div
            class="submission ma-2"
            v-for="(submission, i) in filteredSubmissions"
            :key="`submission-${i}`"
          >
            <SubmissionCard
              :value="submission"
              @clickImage="selectSubmission(submission)"
              @approve="onApproveSubmission"
              @decline="onDeclineSubmission"
              @delete="onDeleteSubmission"
              @changeVisibility="onChangeVisibility"
            />
          </div>
        </isotope>
      </v-card>
    </v-flex>

    <MediaDialog
      v-model="showDialog"
      :submission="selectedSubmission"
    />
  </v-layout>
</template>

<script>
  import userMixins from '@/mixins/user';
  import galleryMixins from '@/mixins/gallery';
  import imagesLoaded from 'vue-images-loaded';

  import MediaDialog from '@/components/Submissions/MediaDialog';
  import SubmissionCard from '@/components/submissions/SubmissionCard';

  export default {
    layout: 'admin',
    components: { MediaDialog, SubmissionCard },
    mixins: [userMixins, galleryMixins],
    directives: {
        imagesLoaded
    },
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/submissions/moderate');
      return {
        submissions: result.data,
      };
    },
    data() {
      return {
        showDialog: false,
        selectedSubmission: {
          image: null,
        },
      }
    },
    watch: {
      showAllSubmissions() {
        setTimeout(() => {
          this.layout();
        }, 1000)
      },
    },
    computed: {
      filteredSubmissions() {
        if(this.showAllSubmissions)
          return this.submissions;

        return this.submissions.filter(({status}) => status === 'submitted')
      }
    },
    methods: {
      async get() {
        const result = await this.$axios.get('/submissions/moderate');

        this.submissions = result.data;
      },
      selectSubmission(submission) {
        this.selectedSubmission = JSON.parse(JSON.stringify(submission));

        this.showDialog = true;
      },
    },
  }
</script>
