<template>
  <div class="trade_in">
    <Card no-margin>
        <v-card-title>
          <span class="headline">{{ tradeIn.name }}</span>
        </v-card-title>
        <v-card-text>
          <div class="mb-2" v-html="tradeIn.description"></div>
          <small v-if="tradeIn.isLimited">
            Limit: {{ tradeIn.limitValue }}x {{ tradeIn.limitType }}
          </small>
        </v-card-text>
        <v-card-text v-if="asyncError">
            <v-alert
              type="error"
              :value="true"
            >
              {{ asyncError }}
            </v-alert>
        </v-card-text>
    </Card>
    <Card
      v-if="step === 'itemSelect'"
      no-margin
    >
      <v-card-text>
        <v-layout row wrap justify-center>
          <v-flex
            xs12 md4
            v-for="(slot, i) in tradeIn.numberOfItemsRequired"
            :key="`slot-${i}`"
          >
            <v-card class="ma-1">
              <v-card-text>
                <v-layout column align-center justify-center>
                  <ItemCard
                    v-if="selectedItems[i] && selectedItems[i]._id"
                    :value="selectedItems[i].item"
                  />
                  <ItemCard
                    v-else
                    empty
                  />

                  <InventorySelect
                    v-model="selectedItems[i]"
                    :inventory="selectableInventory"
                    class="mt-4"
                  />
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          color="success"
          :disabled="startButtonDisabled"
          :loading="loading"
          @click="startTradeIn"
        >
          <template v-if="limitReached">
            You reached your {{ tradeIn.limitType }} limit.
          </template>
          <template v-else-if="tradeIn.price">
            <template v-if="user[tradeIn.currency] < tradeIn.price">
              Not enough funds. You need {{ tradeIn.price }} {{ getCurrencyByKey(tradeIn.currency).symbol }}
            </template>
            <template v-else>
              Start trade in (Price: {{ tradeIn.price }} {{ getCurrencyByKey(tradeIn.currency).symbol }})
            </template>
          </template>
          <template v-else>
            Start trade in
          </template>
        </v-btn>
      </v-card-actions>
    </Card>

    <Card
      v-else-if="step === 'reward'"
      no-margin
    >
      <v-card-text>
        <v-alert
          type="success"
          :value="true"
        >
          Congratulations! You received:
        </v-alert>
      </v-card-text>

      <template v-if="rewards.randomItem || rewards.items">
        <v-card-title>
          <h2 class="title">Items</h2>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex
              v-if="rewards.randomItem"
              xs12 md4
            >
              <v-card class="ma-1">
                <v-card-text>
                  <v-layout column align-center justify-center>
                    <ItemCard
                      :value="rewards.randomItem.item"
                    />
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              v-for="(item, i) in rewards.items"
              :key="`rewardItem-${i}`"
              xs12 md4
            >
              <v-card class="ma-1">
                <v-card-text>
                  <v-layout column align-center justify-center>
                    <ItemCard
                      :value="item"
                    />
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card-text>
      </template>

      <template v-if="rewards.randomCompanion || rewards.companions">
        <v-card-title>
          <h2 class="title">Pokemon</h2>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex
              v-if="rewards.randomCompanion"
              xs12 md4
            >
              <v-card class="ma-1">
                <v-card-text>
                  <v-layout column align-center justify-center>
                    <CompanionCard
                      :value="rewards.randomCompanion.companion"
                    />
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex
              v-for="(companion, i) in rewards.companions"
              :key="`rewardCompanion-${i}`"
              xs12 md4
            >
              <v-card class="ma-1">
                <v-card-text>
                  <v-layout column align-center justify-center>
                    <CompanionCard
                      :value="companion"
                    />
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card-text>
      </template>

      <template v-if="rewards.currency">
        <v-card-title>
          <h2 class="title">
            {{ rewards.currency }}
            PD
          </h2>
        </v-card-title>
      </template>
    </Card>

    <Card
      v-else-if="step === 'rewardSelect'"
      no-margin
    >
      <v-card-title>
        <h2 class="title">Please select a reward</h2>
        <template v-if="tradeIn.isCancelable">
          <v-spacer />
          <v-btn
            type="primary"
            @click="cancel"
          >
            Cancel
          </v-btn>
        </template>
      </v-card-title>

      <v-layout row wrap>
        <v-flex
          v-for="(rewardSet, i) in pool.rewards"
          :key="`rewardSet-${i}`"
          xs12 md4
        >
          <v-card class="ma-1">
            <v-card-text>
              <v-layout column align-center justify-center>
                <template v-if="rewardSet.items.length || rewardSet.randomItem">
                  <span class="font-weight-bold">
                    Items
                  </span>

                  <span
                    v-for="(item, j) in rewardSet.items"
                    :key="`rewardSet-${i}-item-${j}`"
                  >
                    {{ item.name }}
                  </span>

                  <span v-if="rewardSet.randomItem">
                    Random Item
                  </span>
                </template>

                <template v-if="rewardSet.companions.length || rewardSet.randomCompanion">
                  <span class="font-weight-bold">
                    Pokemon
                  </span>

                  <span
                    v-for="(companion, j) in rewardSet.companions"
                    :key="`rewardSet-${i}-companion-${j}`"
                  >
                    {{ companion.name }}
                  </span>

                  <span v-if="rewardSet.randomCompanion">
                    Random Pokemon
                  </span>
                </template>

                <template v-if="rewardSet.currency">
                  <span class="font-weight-bold">
                    {{ rewardSet.currency }}
                    PD
                  </span>
                </template>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="success"
                block
                :loading="loading"
                @click="selectReward(i)"
              >
                Select Reward
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </Card>
  </div>
</template>

<script>
import userMixins from '@/mixins/user';
import shopMixins from '@/mixins/shop';

import InventorySelect from '@/components/Users/InventorySelect';
import ItemCard from '@/components/Items/ItemCard';
import CompanionCard from '@/components/Companions/CompanionCard';

export default {
  components: {
    InventorySelect,
    ItemCard,
    CompanionCard,
  },
  mixins: [
    userMixins,
    shopMixins,
  ],
  async asyncData({ $axios, params, store }) {
    const {data} = await $axios.get(`/trade_ins/${params.slug}`);

    let pool = {},
        tradeIn = data.tradeIn;

    pool = data.pool

    let selectedItems = Array(tradeIn.numberOfItemsRequired).fill({})

    return {
      tradeIn,
      pool,
      selectedItems,
      limitReached: data.limitReached,
      step: pool ? 'rewardSelect' : 'itemSelect',
    };
  },
  data: function() {
    return {
      loading: false,
      asyncError: null,
      rewards: { }
    }
  },
  computed: {
    selectableInventory() {
      let result = this.userInventory.filter(({item}) => {
        return this.tradeIn.conditions.indexOf(item._id) !== -1
      })

      result = result.map((userItem) => {
        userItem.disabled = !!this.selectedItems.find((selectedItem) => {
          if(!selectedItem)
            return false;

          return selectedItem._id == userItem._id
        })

        return userItem;
      })

      return result;
    },
    startButtonDisabled() {
      let unSelectedItem = this.selectedItems.find(({_id}) => !_id)
      return !!unSelectedItem || this.limitReached;
    }
  },
  methods: {
    async startTradeIn() {
      this.loading = true;
      this.asyncError = null;

      try {
        let { data } = await this.$axios.post(`/trade_ins/${this.tradeIn._id}/init`, {
          items: this.selectedItems
        });
        if(data.pool) {
          this.pool = data.pool;
          this.step = 'rewardSelect';
        } else {
          this.rewards = data.rewards;
          this.step = 'reward';
        }

      } catch (e) {
        if(e.response.data.errors)
          this.asyncError = e.response.data.errors[0]

        this.step = 'itemSelect';
      } finally {
        this.loading = false;
      }
    },
    async selectReward(i) {
      this.loading = true;
      this.asyncError = null;

      try {
        let { data } = await this.$axios.post(`/trade_ins/${this.tradeIn._id}/select`, {
          select: i
        });
        this.rewards = data.rewards;
        this.step = 'reward';
      } catch (e) {
        if(e.response.data.errors)
          this.asyncError = e.response.data.errors[0]

        this.step = 'rewardSelect';
      } finally {
        this.loading = false;
      }
    },
    async cancel(i) {
      this.loading = true;
      this.asyncError = null;
      try {
        let { data } = await this.$axios.post(`/trade_ins/${this.tradeIn._id}/cancel`);
        window.location.reload();
      } catch (e) {
        if(e.response.data.errors)
          this.asyncError = e.response.data.errors[0]
      } finally {
      }
    }
  },
}
</script>

<style scoped>
</style>
