<template>
<div class="column">
    <div :class="['icons', 'rotate', slot_class]" :style="{animationDelay : delay + 's' }"></div>
</div>
</template>

<script>
export default {
    props: ['value', 'delay'],
    data: function() {
        return {
        }
    },
    beforeMount: function() {
    },
    watch: {
    },
    methods: {
    },
    computed: {
        slot_class : function() {
            if(this.value < 0) {
                return false;
            }

            return 'go_to_' + this.value;
        }
    },
    filters: {

    }
}
</script>

<style scoped>
    .column {
        width: 40px;
        height: 40px;
        overflow: hidden;
    }

    .column .icons {
        width: 40px;
        height: 280px;
        background: url('/images//slots/slots.png') 0 0 repeat;
        text-align: center;
    }

    @keyframes go_to_0 {
        from {background-position: 0 0;}
        to {background-position: 0 -560px;}
    }

    @keyframes go_to_1 {
        from {background-position: 0 0;}
        to {background-position: 0 -600px;}
    }

    @keyframes go_to_2 {
        from {background-position: 0 0;}
        to {background-position: 0 -640px;}
    }

    @keyframes go_to_3 {
        from {background-position: 0 0;}
        to {background-position: 0 -680px;}
    }

    @keyframes go_to_4 {
        from {background-position: 0 0;}
        to {background-position: 0 -720px;}
    }

    @keyframes go_to_5 {
        from {background-position: 0 0;}
        to {background-position: 0 -760px;}
    }

    @keyframes go_to_6 {
        from {background-position: 0 0;}
        to {background-position: 0 -800px;}
    }

    .rotate {
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        animation-duration: 3s;
    }

    .go_to_0 {
        animation-name: go_to_0;
    }

    .go_to_1 {
        animation-name: go_to_1;
    }

    .go_to_2 {
        animation-name: go_to_2;
    }

    .go_to_3 {
        animation-name: go_to_3;
    }

    .go_to_4 {
        animation-name: go_to_4;
    }

    .go_to_5 {
        animation-name: go_to_5;
    }

    .go_to_6 {
        animation-name: go_to_6;
    }
</style>
