<template>
  <v-dialog
    v-model="value"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!trade._id">
              Edit Trade
            </template>
            <template v-else>
              Create Trade
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>


        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <UserSelect v-model="trade.to" />

          <v-autocomplete
            v-model="trade.toItems"
            :items="trade.to.inventory"
            item-text="item.name"
            item-value="_id"
            hide-details
            hide-no-data
            multiple
            chips
            small-chips
            label="Requested items"
            placeholder="Search for item..."
            v-if="!!trade.to && !!trade.to.inventory"
          ></v-autocomplete>

          <v-autocomplete
            v-model="trade.toCompanions"
            :items="trade.to.companions"
            item-text="companion.name"
            item-value="_id"
            hide-details
            hide-no-data
            multiple
            chips
            small-chips
            label="Requested pokemon"
            placeholder="Search for pokemon..."
            v-if="!!trade.to && !!trade.to.companions"
          >
            <template #selection="data">
              <CompanionCard
                :value="data.item.companion"
                :colorStatuses="data.item.colorStatuses"
                :pokeball ="data.item.pokeball"
                :salon="data.item.salon"
                class="my-1 mr-1"
              >
                <v-icon
                  small
                  right
                  @click.stop="removeCompanion(data.item, trade.toCompanions)"
                >
                  remove_circle
                </v-icon>
              </CompanionCard>
            </template>
            <template #item="data">
              <div class="layout row wrap align-center justify-start">
                <div class="flex shrink">
                  <v-checkbox
                    :value="isSelectedCompanion(data.item, trade.toCompanions)"
                    hide-details
                    class="mt-0 pt-0"
                  ></v-checkbox>
                </div>
                <CompanionCard
                  :value="data.item.companion"
                  :colorStatuses="data.item.colorStatuses"
                  :pokeball ="data.item.pokeball"
                  :salon="data.item.salon"
                />
              </div>
            </template>
          </v-autocomplete>

          <v-text-field
            v-model="trade.toCurrency"
            label="Requested amount of PD"
          >
          </v-text-field>

          <hr>

          <v-autocomplete
            v-model="trade.fromItems"
            :items="inventory"
            item-text="item.name"
            item-value="_id"
            hide-details
            hide-no-data
            multiple
            chips
            small-chips
            label="Offered items"
            placeholder="Search for item..."
          >
          </v-autocomplete>

          <v-autocomplete
            v-model="trade.fromCompanions"
            :items="companions"
            item-text="companion.name"
            item-value="_id"
            hide-details
            hide-no-data
            multiple
            chips
            small-chips
            label="Offered pokemon"
            placeholder="Search for pokemon..."
          >
            <template #selection="data">
              <CompanionCard
                :value="data.item.companion"
                :colorStatuses="data.item.colorStatuses"
                :pokeball ="data.item.pokeball"
                :salon="data.item.salon"
                class="my-1 mr-1"
              >
                <v-icon
                  small
                  right
                  @click.stop="removeCompanion(data.item, trade.fromCompanions)"
                >
                  remove_circle
                </v-icon>
              </CompanionCard>
            </template>
            <template #item="data">
              <div class="layout row wrap align-center justify-start">
                <div class="flex shrink">
                  <v-checkbox
                    :value="isSelectedCompanion(data.item, trade.fromCompanions)"
                    hide-details
                    class="mt-0 pt-0"
                  ></v-checkbox>
                </div>
                <CompanionCard
                  :value="data.item.companion"
                  :colorStatuses="data.item.colorStatuses"
                  :pokeball ="data.item.pokeball"
                  :salon="data.item.salon"
                />
              </div>
            </template>
         </v-autocomplete>

          <v-text-field
            v-model="trade.fromCurrency"
            label="Offered amount of PD"
          >
          </v-text-field>

          <v-textarea
            v-model="trade.comment"
            label="Comment"
            required
          >
          </v-textarea>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import PictureInput from 'vue-picture-input';
  import UserSelect from '@/components/App/UserSelect';
  import CompanionCard from '@/components/Companions/CompanionCard';

  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      trade: {
        type: Object,
        required: true,
      },
      inventory: {
        type: Array,
        required: true,
      },
      companions: {
        type: Array,
        required: true,
      }
    },
    components: {
      PictureInput,
      UserSelect,
      CompanionCard,
    },
    mixins: [formMixins],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.trade);

        if(typeof payload.to === 'object')
          payload.to = payload.to._id;

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/trades/${payload._id}`,
              payload
            );

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/trades',
              payload
            );

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      isSelectedCompanion(companion, arr) {
        const index = arr.indexOf(companion._id)
        return index >=0;
      },
      removeCompanion(companion, arr) {
        const index = arr.indexOf(companion._id)
        if (index >= 0) arr.splice(index, 1)
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
      }
    }
  }
</script>
