<template>
  <div class="trade">
    <v-card
      class="bordered-card"
      flat
    >
      <v-card-title
        class="d-block body-2 overflow-hidden pt-2 py-1"
      >
      <template v-if="
        value.accepted
        || value.approved
      ">
        <div class="text-xs-right">
          <v-chip
            color="success"
            outline
            small
            class="mx-0"
          >
            {{ !!value.approved ? 'approved' : 'accepted' }}
          </v-chip>
        </div>
      </template>
        <span class="body-2">

          <v-chip
            color="grey"
            label
            small
            class="mx-0"
          >
            <span class="mr-1">From:</span>
            <strong>{{ value.from.username }}</strong>
          </v-chip>
        </span>
        <span class="body-2">

          <v-chip
            color="grey"
            label
            small
            class="mx-0"
          >
            <span class="mr-1">To:</span>
            <strong>{{ value.to.username }}</strong>
          </v-chip>
        </span>
        <hr class="my-2 mt-3">
      </v-card-title>
      <v-card-text class="caption py-1">
        Requested: <strong>{{ toList }}</strong>
      </v-card-text>
      <v-card-text class="caption pb-2 py-1">
        Offered: <strong>{{ fromList }}</strong>
      </v-card-text>
      <v-card-text class="caption pb-2 py-1">
        Comment: <strong>{{ !!value.comment ? value.comment : 'No Comment' }}</strong>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="success"
          depressed
          block
          v-if="
          $route.path === '/admin/trades'
          && !!value.accepted
          && !value.approved
          && canEditTrades"
          @click="approveTrade"
        >
          Approve
        </v-btn>
        <v-btn
          color="success"
          depressed
          block
          v-if="
          !value.accepted
          && !value.approved
          && isTo"
          @click="acceptTrade"
        >
          Accept
        </v-btn>
        <v-btn
          color="danger"
          depressed
          block
          v-if="
          !value.accepted
          && !value.approved
          && (canEditTrades
            || isTo
            || isFrom)"
          @click="deleteTrade"
        >
          <template v-if="canEditTrades">
            Delete Trade
          </template>
          <template v-else-if="isTo">
            Decline
          </template>
          <template v-else="canEditTrades">
            Cancel
          </template>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Object,
        required: true
      },
      user: {
        type: Object,
        required: false
      }
    },
    mixins: [formMixins],
    methods: {
      async approveTrade() {
        if(
          confirm('Are you sure you want to approve this trade?')
        ) {
          try {
            const result = await this.$axios.$patch(`/trades/${this.value.id}`, { approved: true });

            this.$emit('approve');
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
        }
      },
      async acceptTrade() {
        if(
          confirm('Are you sure you want to accept this trade?')
        ) {
          try {
            const result = await this.$axios.$patch(`/trades/${this.value.id}`, { accepted: true });

            this.$emit('accept', result.newBalance);
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
        }
      },
      async deleteTrade() {
        if(!!this.canEditTrades) {
          const reason = prompt('Are you sure you want to delete this trade? Please enter a reason (optional):');

          if(reason !== null) {
            try {
              const result = await this.$axios.$delete(`/trades/${this.value._id}`, {
                data: {
                  reason,
                  canceled: true,
                }
              });

              this.$emit('delete', result.newBalance);
            } catch (e) {
              console.error(e);
              this.$emit('error');
            }
          }
        } else {
          try {
            const result = await this.$axios.$delete(`/trades/${this.value._id}`);

            this.$emit('delete', result.newBalance);
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
        }

      }
    },
    computed: {
      canEditTrades() {
        return !!this.user && !!this.user.permissions && this.user.permissions.indexOf('can_edit_trades') !== -1;
      },
      isTo() {
        return !!this.user
               && !!this.value.to
               && !!this.user._id
               && !!this.value.to._id
               && this.value.to._id === this.user._id;
      },
      isFrom() {
        return !!this.user
               && !!this.value.from
               && !!this.user._id
               && !!this.value.from._id
               && this.value.from._id === this.user._id;
      },
      fromList() {
        let items = this.value.fromItems.map(({item}) => item.name);

        items = items.concat(this.value.fromCompanions.map(({companion}) => companion.name));

        if(this.value.fromCurrency)
          items.push(`${this.value.fromCurrency} PD`);

        return items.join(', ');
      },
      toList() {
        let items = this.value.toItems.map(({item}) => item.name);

        items = items.concat(this.value.toCompanions.map(({companion}) => companion.name));

        if(this.value.toCurrency)
          items.push(`${this.value.toCurrency} PD`);

        return items.join(', ');
      }
    }
  }
</script>
