<template>
  <v-layout
    row
    wrap
    align-center
  >
      <v-flex
        xs12
        class="text-xs-center"
      >
          <Card no-margin>
              <v-card-text>
                  <p>Hello and welcome to the Ivywood Casino!</p>

                  <p>Want a surprise? Here you can win every time you turn the knob.</p>

                  <p><b>NOTE:</b> Gacha has been raised from 1,000 PD to 5,000 PD</p>

                  <p>A game costs 5000 PD.</p>

                  <p class="mb-0">Good Luck!</p>
              </v-card-text>
          </Card>
      </v-flex>
      <v-flex
        xs12
        class="text-xs-center"
      >
          <v-alert
            type="success"
            :value="!!result"
            class="mb-4"
            transition="slide-y-transition"
          >
            <div v-if="!!result">
              You won {{ result.amount }}x {{ result.item.name }} (Your balance is {{ user.currency }} PD)!
            </div>
          </v-alert>
          <v-alert
            type="warning"
            :value="user.currency < 5000"
            class="mb-4"
          >
            You don't have enough PD to spin. Come back another time!
          </v-alert>
          <div style="margin-bottom:66px" v-if="!result"></div>

          <div id="gacha">
              <div class="knob" @click="spin" v-if="user.currency >= 5000"></div>
              <div class="front"></div>
              <div class="ball"></div>
              <div class="back"></div>
          </div>
          <br />
      </v-flex>

  </v-layout>
</template>

<script>
import userMixins from '@/mixins/user';

export default {
    name: 'column',
    mixins: [userMixins],
    data: function() {
        return {
            result: false,
            loading: false
        }
    },
    methods: {
        async spin(e) {
            if(this.loading)
                return false;

            this.loading = true;

            e.target.classList.add('rotator');
            document.querySelector('.ball').classList.add('bounce');

            (function($e){
                window.setTimeout(function() {
                    $e.target.classList.remove('rotator');
                    this.loading = false;
                }, 1200);

                window.setTimeout(function() {
                    document.querySelector('.ball').classList.remove('bounce');
                }, 3000);
            }(e));

            this.result = null;

            const {data:result} = await this.$axios.post('/gacha/play');

            this.result = result.gachaItem;

            this.$store.commit('user/setPD', result.newBalance);

            this.loading = false;
        }
    },

}
</script>

<style scoped>
#gacha {
    display: inline-block;
    position: relative;
    width: 575px;
    height: 657px;
}

#gacha .knob {
    position: absolute;
    width: 71px;
    height: 71px;
    top: 550px;
    left: 363px;
    z-index: 5;
    background: url('/images/gacha/button.png') no-repeat;
    transition: transform 1s linear;
}

.rotator {
    animation-name: rotator;
    animation-duration: 1.2s;
}

@keyframes rotator {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

#gacha .front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: url('/images/gacha/front.png') no-repeat;
}

#gacha .back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url('/images/gacha/back.png') no-repeat;

}

#gacha .ball {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 500px;
    left: 262px;
    z-index: 3;
    background: url('/images/gacha/red.png') no-repeat;
}

.bounce {
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    0% {top: 500px;transform: rotate(0deg)}
    50% {top: 574px;}
    60% {top: 555px;}
    80% {top: 574px;}
    90% {top: 568px;}
    100% {top: 574px;transform: rotate(33deg)}
}

.alert-win, .alert-lost {
    opacity: 0;
    animation-name: fade_in_that_shit;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 1.2s;
}

@keyframes fade_in_that_shit {
    from {opacity: 0;}
    to {opacity: 1;}
}
</style>
