<template>
  <v-layout row wrap justify-center>
      <v-flex
        xs12
        md5
        class="text-xs-center"
      >
          <div
            class="mb-2"
            style="height:61px"
          >
            <v-alert
              type="success"
              class="my-0"
              :value="!spinning && result == 'win'"
              transition="slide-y-transition"
            >
              You won {{ price }} PD (Your balance is {{ user.currency }} PD)!
            </v-alert>
            <v-alert
              type="warning"
              class="my-0"
              :value="!spinning && result == 'lose'"
              transition="slide-y-transition"
            >
              You lost.
            </v-alert>
            <v-alert
              type="warning"
              class="my-0"
              :value="true"
              v-if="user.pd < 500"
            >
              You don't have enough PD to spin. Come back another time!
            </v-alert>
          </div>

          <div id="slot-machine">
              <SlotColumn :value='slot_state[0]' delay='0.4' />
              <SlotColumn :value='slot_state[1]' delay='0.6' />
              <SlotColumn :value='slot_state[2]' delay='0.8' />
          </div>
          <br />
          <v-btn
            color="success"
            @click="spin"
            :disabled="!!spinning"
            v-if="user.currency >= 500"
          >
            <template v-if="!!spinning">
              Spinning...
            </template>
            <template v-else>
              Spin! (500 PD)
            </template>
          </v-btn>
      </v-flex>
      <v-flex xs3>
          <Card>
              <v-card-text>
                  <p>Hello! And welcome to Ivywood Casino Slot Machine!</p>

                  <p>Are you feeling lucky today? I hope so!
                  Why not try playing our slot machine? Not every spin is a winner, but it sure is fun!</p>

                  <p>You can win anywhere from 100 PD, to 35,000 PD!</p>

                  <p>Good Luck!</p>
              </v-card-text>
          </Card>
      </v-flex>
  </v-layout>
</template>

<script>
import userMixins from '@/mixins/user';

import SlotColumn from '@/components/Slots/SlotColumn';

export default {
    name: 'column',
    components: { SlotColumn },
    mixins: [userMixins],
    data: function() {
        return {
            slot_state : [
                -1, -1, -1
            ],
            result: false,
            spinning: false,
            price: 0,
        }
    },
    methods: {
        async spin() {
            this.result = false;
            this.spinning = true;

            this.slot_state = [
                -1, -1, -1
            ];

            const {data} = await this.$axios.post('/slots/play');

            this.slot_state = [
                data.history[0].key,
                data.history[1].key,
                data.history[2].key
            ];

            this.result = data.win == true ? 'win' : 'lose';

            this.price = data.history[0].payout;

            var new_user = this.user;

            this.$store.commit('user/setPD', data.newBalance);

            setTimeout(() => {
              this.spinning = false;
            }, 4000)
        }
    },

}
</script>

<style scoped>
#slot-machine {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    white-space: nowrap;
}

</style>
