<template>
  <div class="colorStatus">
    <v-card
      color="#b2bba2"
      :style="value.css"
      flat
    >
      <v-layout
        row
        align-center
      >
        <v-flex grow>
          <v-card-title
            class="d-block caption overflow-hidden pa-1 pl-2"
          >
            {{ value.name }}
          </v-card-title>
        </v-flex>

        <v-flex
          shrink
          class="px-2"
        >
          <v-layout align-center>
            <slot />
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .colorStatus
    width: 240px
    cursor: pointer
</style>
