<template>
  <v-dialog
    v-model="value"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!colorStatus._id">
              Edit {{ colorStatus.name }}
            </template>
            <template v-else>
              Create Color Status
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <v-text-field
            v-model="colorStatus.name"
            label="Name"
            required
          >
          </v-text-field>

          <MonacoEditor
            language="css"
            v-model="colorStatus.css"
            class="editor"
            :options="{minimap: { enabled: false }}"
            v-if="!!value"
          >
          </MonacoEditor>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Preview</div>
            <ColorStatusCard
              :value="colorStatus"
              v-if="colorStatus.name && colorStatus.css"
            />
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import MonacoEditor from 'vue-monaco';
  import ColorStatusCard from '@/components/ColorStatuses/ColorStatusCard';

  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      colorStatus: {
        type: Object,
        required: true,
      }
    },
    components: {
      MonacoEditor,
      ColorStatusCard
    },
    mixins: [formMixins],
    data() {
      return {
        showEditor: false,
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.colorStatus);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/color_statuses/${payload._id}`,
              payload
            );

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/color_statuses',
              payload
            );

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      onChange (image) {
        if (image) {
          this.icon = this.$refs.icon.file
        }
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
        this.icon = null;
      }
    }
  }
</script>

<style scoped>
.editor {
  height: 400px;
}
</style>
