<template>
  <div class="companion">
    <v-card
      color="#b2bba2"
      :style="colorStatusCSS"
      flat
    >
      <v-layout
        row
        align-center
      >
        <v-flex
          shrink
          class="pl-2"
        >
          <v-img
            width="24"
            height="24"
            :src="pokeball.icon"
            v-if="!!pokeball && !!pokeball.icon"
          >
          </v-img>
        </v-flex>
        <v-flex grow>
          <v-card-title
            class="d-block caption overflow-hidden pa-1 pl-2"
          >
            <span v-html="value.name"></span>
            <v-avatar
              size="24"
              v-if="!!salon"
            >
              <v-icon
                size="15"
              >
                local_activity
              </v-icon>
            </v-avatar>
          </v-card-title>
        </v-flex>

        <v-flex
          shrink
          class="px-2"
        >
          <v-layout align-center>
            <slot />
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: Object,
        required: true
      },
      colorStatuses: {
        type: Array,
        required: false
      },
      pokeball: {
        type: Object,
        required: false
      },
      salon: {
        type: Boolean,
        required: false,
        default: false,
      }
    },
    computed: {
      colorStatusCSS() {
        let result = [];
        if(this.colorStatuses)
          result = this.colorStatuses.map(({css}) => css)

        return result.join(' ');
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .companion
    width: 240px
    cursor: pointer
</style>
