<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!editedCompanion._id">
              Add Pokemon
            </template>
            <template v-else>
              Edit {{ editedCompanion.name }}
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-text-field
            v-model="editedCompanion.name"
            label="Name"
            required
          >
          </v-text-field>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Icon</div>
            <v-layout row wrap justify-center>
              <v-flex
                xs12
                lg6
                xl3
                v-if="!!editedCompanion.icon"
              >
                <img
                  :src="editedCompanion.icon"
                  style="max-width:100%;"
                />
              </v-flex>
              <v-flex
                xs12
                lg6
                xl3
              >
                <picture-input
                  ref="icon"
                  width="200"
                  height="200"
                  margin="16"
                  accept="image/jpeg,image/png,image/gif"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Drag & Drop Image Icon'
                  }"
                  @change="onChange"
                  v-if="value"
                >
                </picture-input>
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import PictureInput from 'vue-picture-input';

  import formMixins from '@/mixins/form';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      editedCompanion: {
        type: Object,
        required: true,
      },
    },
    components: {PictureInput},
    mixins: [formMixins],
    data() {
      return {
        serverErrors: [],
        icon: null,
        valid: false,
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.editedCompanion);

        if(!!this.icon)
          payload.icon = this.icon;

        const formData = this.createFormData(payload);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/companions/${payload._id}`,
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/companions',
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      onChange (image) {
        if (image) {
          this.icon = this.$refs.icon.file
        }
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
        this.icon = null;
      }
    }
  }
</script>
