<template>
  <v-layout row wrap justify-center>
    <v-flex
      xs12
      md6
      lg6
    >
    <v-card color="white" class="black--text">
      <template v-if="state === 'loading'">
        <v-card-text>
          Search for book...
        </v-card-text>
      </template>
      <template v-else-if="state === 'learned'">
        <v-card-text>
          Your characters learned <strong>{{ book.name }}</strong>
        </v-card-text>
      </template>
      <template v-else-if="state === 'already_learned'">
        <v-card-text>
          Your characters already learned <strong>{{ book.name }}</strong>
        </v-card-text>
      </template>
      <template v-else>
        <v-card-text>
          There's no such book.
        </v-card-text>
      </template>
      <v-card-actions>
        <v-btn
          block
          :to="authUserProfileLink"
        >
          Go to my profile
        </v-btn>
      </v-card-actions>
    </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import userMixins from '@/mixins/user';

  export default {
    layout: 'app',
    mixins: [userMixins],
    data() {
      return {
        state: 'loading',
        book: {},
      }
    },
    async mounted() {
      try {
        const result = await this.$axios.get(`/books/learn/${this.$route.params.slug}`);

        this.book = result.data.book;
        this.state = result.data.result;
      } catch (e) {
        console.log(e)
        this.state = 'notFound';
      }
    }
  }
</script>
