<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Boards
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Board
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="boards"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td>
              {{ props.item.order }}
            </td>
            <td>
              <v-icon
                small
                v-if="!!props.item.locked"
              >
                lock
              </v-icon>
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                :to="`/forums/${props.item._id}`"
                target="_blank"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectBoard(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteBoard(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :board="selectedBoard"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Boards/BoardDialog';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/boards');
      return {
        boards: result.data,
      };
    },
    data() {
      return {
        search: '',
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Order', value: 'order' },
          { text: 'Locked', value: 'locked' },
          { text: '', value: '' },
        ],
        selectedBoard: {
          name: '',
          description: '',
          icon: null,
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/boards');
          this.boards = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Board has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Board has been successfully updated.'
        });
      },
      selectBoard(item) {
        this.selectedBoard = JSON.parse(JSON.stringify(item));
        this.toggleDialog();
      },
      async deleteBoard({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/boards/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Board has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Board could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedBoard = {
          name: '',
          description: '',
          icon: null,
        };
      }
    },
  }
</script>
