<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10>
      <v-card light>
        <v-card-title class="title">
          Trades
        </v-card-title>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-iterator
          :items="acceptedTrades"
          :search="search"
          class="elevation-1"
          content-tag="v-layout"
        >
          <template v-slot:item="props">
            <v-flex
              xs12
              md6
              lg4
              class="pa-1"
            >
              <TradeCard
                :value="props.item"
                :user="user"
                @approve="onApproveTrade"
              />
            </v-flex>
          </template>

        </v-data-iterator>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import userMixins from '@/mixins/user';

  import TradeCard from '@/components/trades/TradeCard';

  export default {
    layout: 'admin',
    components: {TradeCard},
    mixins: [userMixins],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/trades');
      return {
        trades: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Value', value: 'value' },
          { text: '', value: '' },
        ],
        selectedTitle: {
          name: '',
          value: '',
          icon: null,
        },
        showDialog: false,
      }
    },
    computed: {
      acceptedTrades() {
        return this.trades.filter(({accepted}) => !!accepted)
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/trades');
          this.trades = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      onApproveTrade() {
        this.get();
        this.$bus.$emit('success', {
          message: `Trade has been approved.`
        });
      },
    },
  }
</script>
