<template>
  <div class="travel-tracker--card">
    <v-layout row wrap>
      <v-spacer />
      <v-flex shrink>
        <v-chip
          outline
        >
          {{ dateTime(value.createdAt) }}
        </v-chip>
      </v-flex>
    </v-layout>
    <div>{{ value.message }}</div>

    <template v-if="!!value.items && !!value.items.length">
      <h3 class="subheading">Items</h3>

      <div class="layout row wrap py-4 px-2">
        <div
          class="ma-2"
          v-for="(item, i) in value.items"
          :key="`item-${i}`"
          @click="$emit('clickItem', item)"
        >
          <ItemCard :value="item.item" />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import ItemCard from '@/components/Items/ItemCard';

  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    props: {
      value: {
        type: Object,
        required: true,
      }
    },
    mixins: [dateTimeMixins],
    components: {
      ItemCard,
    },
  }
</script>
