// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'
$theme := {
  primary:     #704339
  accent:      #b2bba2
  secondary:   #6e6c66
  info:        $blue.lighten-1
  warning:     $amber.darken-2
  error:       $red.accent-4
  success:     $green.lighten-2
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main'

img
  max-width: 100%

.page
  @extend .fade-transition

div.theme--light.application
  font-size: 16px
  line-height: 1.8;
  font-weight: normal
  font-family: 'Noto Sans JP', sans-serif
  color: #60393c
  background: white


  .main
    margin-top: 24px;

    > .card
      padding: 24px;

  .logo
    display: block;
    width: 360px;
    margin: 36px auto 48px;

  .main-nav
    box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.4) !important;
    .v-toolbar__content
      justify-content: center;

  .headline
    display: inline-block;
    background: #eee0bc;
    font-family: 'Roboto Condensed', sans-serif !important
    font-size: 24px !important;
    color: #423008;
    font-weight: normal
    text-align: center
    padding: 8px;
    margin: 16px;
    box-shadow: inset -2px -2px 0px rgba(0,0,0,0.24)
    text-transform: none
    transform: rotate(-3deg)

  a
    color: #704339

    .top-bar
      color: white

  .v-btn
    font-family: 'Roboto Condensed', sans-serif !important
    font-size: 14px !important;
    font-weight: bold;
    letter-spacing: 1px !important;
    height: 36px
    border-radius: 0
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5)
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2)

  .v-toolbar__content
    background: transparent;
    padding: 0;

    .v-btn
      font-size: 14px !important;
      height: 48px !important
      margin-right: 2px !important;

  .top-bar
    .v-toolbar__content
      .v-toolbar__items

        &:last-child
          .v-btn
            &:first-child
              border-left: 2px solid #725431 !important;
        .v-btn
          font-size: 12px !important;
          text-shadow: none;
          border-right: 2px solid #725431 !important;
          margin-right: 0 !important;
          box-shadow: inset 0 -2px 0 rgba(0,0,0,0.4);

  hr
    height: 1px
    background: #bcbcbc
    border: none
    margin: 24px 0

  .bordered-card
    background: #f1f1f1;
    box-shadow: inset 0 0 0 4px white;
    border: 1px solid #dfdfdf;
    border-bottom-color: #bcbcbc;

.pointer
  cursor: pointer

.picture-preview
  z-index: 100 !important;

.picture-inner
  z-index: 102 !important;

table
  width: 100%;

.v-card__text
  word-break: normal;
  overflow: hidden;

.icon-border
  text-shadow:0px 1px 0 rgba(255,255,255,0.33),0px -1px 0 rgba(255,255,255,0.33),1px 0px 0 rgba(255,255,255,0.33),-1px 0px 0 rgba(255,255,255,0.33),1px 1px 0 rgba(255,255,255,0.33),1px -1px 0 rgba(255,255,255,0.33),-1px 1px 0 rgba(255,255,255,0.33),-1px -1px 0 rgba(255,255,255,0.33);
  -webkit-text-shadow:0px 1px 0 rgba(255,255,255,0.33),0px -1px 0 rgba(255,255,255,0.33),1px 0px 0 rgba(255,255,255,0.33),-1px 0px 0 rgba(255,255,255,0.33),1px 1px 0 rgba(255,255,255,0.33),1px -1px 0 rgba(255,255,255,0.33),-1px 1px 0 rgba(255,255,255,0.33),-1px -1px 0 rgba(255,255,255,0.33);
  -moz-text-shadow:0px 1px 0 rgba(255,255,255,0.33),0px -1px 0 rgba(255,255,255,0.33),1px 0px 0 rgba(255,255,255,0.33),-1px 0px 0 rgba(255,255,255,0.33),1px 1px 0 rgba(255,255,255,0.33),1px -1px 0 rgba(255,255,255,0.33),-1px 1px 0 rgba(255,255,255,0.33),-1px -1px 0 rgba(255,255,255,0.33);

.__nuxt-error-page
  position: relative;

  .description, .logo
    display: none !important;

.v-list__tile--disabled {
  opacity: 0.6
}
