<template>
  <div>
      <v-breadcrumbs :items="breadcrumbs" divider=">"></v-breadcrumbs>

      <Card>
          <v-card-text>
            <div
              class="text-xs-right"
            >
              <v-btn
                color="success"
                class="mx-0 mr-1"
                small
                :disabled="
                  (!!thread.locked || !!thread.board.locked)
                  && !canModerate
                "
                @click="toggleDialog"
              >
                Post reply
              </v-btn>
              <v-btn
                color="success"
                class="mx-0 mr-1"
                small
                @click="toggleSubscription"
              >
                <template v-if="!!thread.subscribed">
                  Unsubscribe
                </template>
                <template v-else>
                  Subscribe
                </template>
              </v-btn>
              <v-btn
                color="success"
                class="mx-0 mr-1"
                small
                @click="toggleSticky"
                v-if="!!canModerate"
              >
                <template v-if="!!thread.sticky">
                  Unsticky
                </template>
                <template v-else>
                  Sticky
                </template>
              </v-btn>
              <v-btn
                color="success"
                class="mx-0 mr-1 px-4"
                small
                icon
                @click="toggleLockThread"
                v-if="!thread.board.locked && !!canModerate"
              >
                <v-icon
                  size="20"
                >
                  <template v-if="!!thread.locked">
                    lock
                  </template>
                  <template v-else>
                    lock_open
                  </template>
                </v-icon>
              </v-btn>

              <v-btn
                color="error"
                class="mx-0"
                small
                @click="deleteThread"
                v-if="!!canModerate"
              >
                Delete Thread
              </v-btn>
              <hr>
            </div>
            <v-layout
                row
                wrap
                 v-if="(
                        thread.user
                        && user._id == thread.user
                        && !thread.locked
                       )
                       || !!canModerate"
            >
              <v-flex xs9>
                <v-text-field
                  label="Title"
                  v-model="thread.title"
                />
              </v-flex>
              <v-flex xs3>
                <v-btn
                  color="success"
                  small
                  :disabled="!thread.title"
                  @click="saveThread"
                >
                  Update
                </v-btn>
              </v-flex>
            </v-layout>
            <h4 class="thread-title"
                v-else>
                  <v-icon
                    size="20"
                    v-if="!!thread.locked"
                  >
                    lock
                  </v-icon>
                  {{ thread.title }}
            </h4>
          </v-card-text>
      </Card>


      <Card
        class="pa-2"
        :class="{
          'green lighten-4' : i === 0,
          'grey lighten-4' : i !== 0
        }"
        v-for="(post, i) in posts.docs"
        :key="`post-${i}`"
      >
        <v-card-text>
          <v-layout row wrap>
            <v-flex md4 lg3 xl2>
              <div class="card">
                  <div class="card-block thread">
                    <div class="post-user">
                      Posted by

                      <template v-if="post.user">
                        <img
                          v-if="post.user.icon"
                          :src="post.user.icon"
                          :alt="post.user.username"
                          class="d-block"
                          style="max-height:120px;max-width:100%"
                        />

                        <a :href="'/u/' + post.user.username">
                          {{ post.user ? post.user.username : '[deleted user]' }}
                        </a>
                        <TitleCard
                          class="my-1"
                          :value="post.user.rank"
                        />
                      </template>
                      <div v-else>
                        <strong>[deleted user]</strong>
                      </div>
                    </div>

                    <small class="post-date">
                      {{ postDate(post.createdAt) }}
                    </small>
                  </div>
              </div>
            </v-flex>
            <v-flex md8 lg9 xl10>
              <Card>
                  <v-card-text>
                    <div class="post-body" v-html="post.body"></div>



                    <div class="post-update-date"
                         v-if="!!post.updatedAt && post.createdAt !== post.updatedAt"
                    >
                      This post was edited {{ postDate(post.updatedAt) }}
                    </div>
                  </v-card-text>
              </Card>
              <v-layout row wrap>
                <v-spacer />
                <v-btn
                  color="success"
                  v-if="(
                         post.user
                         && user._id == post.user._id
                         && !thread.locked
                        )
                        || !!canModerate"
                  @click="selectPost(post)"
                >
                  Edit Post
                </v-btn>
                <v-btn
                  color="error"
                  v-if="!!canModerate && posts.totalDocs > 1"
                  @click="deletePost(post)"
                >
                  Delete Post
                </v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card-text>
      </Card>


      <Card
           v-if="!thread.locked
                || !!canModerate"
      >
          <div class="card-block thread">

          </div>
      </Card>
      <div class="alert alert-info"
           v-else>
        This thread is locked.
      </div>

      <v-pagination
        v-model="page"
        :length="totalPages"
        v-if="!!totalPages"
      ></v-pagination>

      <Dialog
        v-model="showDialog"
        :post="selectedPost"
        :thread="thread"
        @create="onCreate"
        @update="onUpdate"
      />
  </div>
</template>

<script>
import moment from 'moment';

import Dialog from '@/components/Posts/PostDialog.vue';
import TitleCard from '@/components/Titles/TitleCard.vue';

import userMixins from '@/mixins/user';
import paginationMixinis from '@/mixins/pagination';

export default {
    components: {
      Dialog,
      TitleCard
    },
    mixins: [
      userMixins,
      paginationMixinis
    ],
    data: function() {
        return {
            thread: {
              board: {}
            },
            posts: {
              docs: [],
              totalDocs: 0,
            },
            selectedPost: {
              thread: this.$route.params.thread,
              board: this.$route.params.id,
              body: ''
            },
            showDialog: false,
        }
    },
    beforeMount: function() {
        this.get();
    },
    methods: {
        onCreate(thread) {
          this.get();
          this.$bus.$emit('success', {
            message: 'Post has been successfully created.'
          });
        },
        onUpdate(thread) {
          this.get();
          this.$bus.$emit('success', {
            message: 'Post has been successfully updated.'
          });
        },
        onPostSave(result) {
          this.$router.push('/board/' + this.id + '/' + this.thread + '?page=' + result.pagination.pageCount)
          this.get()
        },
        async saveThread() {
          await this.$axios.patch(`/threads/${this.thread._id}`, this.thread);

          this.$bus.$emit('success', {
            message: 'Thread has been successfully updated.'
          });
        },
        async get() {
            const { data } = await this.$axios.get('/threads/' + this.$route.params.thread + '?page=' + this.page);

            this.thread = data.thread;
            this.posts = data.posts;
            this.totalPages = data.posts.totalPages;
            this.resetSelectedPost();
        },
        paginationHandler() {
          this.get();
        },
        resetSelectedPost() {
          this.selectedPost = {
            thread: this.$route.params.thread,
            board: this.$route.params.id,
            body: ''
          }
        },
        toggleDialog() {
          this.showDialog = !this.showDialog;
        },
        postDate(time) {
          return moment(time).fromNow()
        },
        selectPost(post) {
          this.selectedPost = JSON.parse(JSON.stringify(post));
          this.toggleDialog();
        },
        async deletePost(post) {
          if(confirm('Are you sure you want to delete this post?')) {
            try {
              await this.$axios.delete(`/posts/${post._id}`);

              this.$bus.$emit('success', {
                message: 'Post has been successfully deleted'
              });
            } catch (e) {
              this.$bus.$emit('delete', {
                message: 'Post could not be deleted'
              });
            } finally {
              this.get();
            }
          }
        },
        async toggleSubscription() {
          let message;

          this.thread.subscribed = !this.thread.subscribed;

          await this.$axios.post(`/threads/${this.thread._id}/subscribe`);

          if(!!this.thread.subscribed) {
            message = 'You are now subscribed to this thread.';
          } else {
            message = 'You are now unsubscribed to this thread.';
          }

          this.$bus.$emit('success', {
            message
          });
        },
        toggleSticky() {
          this.thread.sticky = !this.thread.sticky;
          this.saveThread();
        },
        toggleLockThread() {
          this.thread.locked = !this.thread.locked;
          this.saveThread();
        },
        deleteThread: function(pet) {
          if(confirm("Are you sure you want to delete this thread?")) {
            this.$axios.delete(`/threads/${this.thread._id}`).then((response) => {
              this.$router.push('/forums');
            });
          }
        }
    },
    computed: {
      breadcrumbs() {
        return [
          {
            text: 'Forums',
            disabled: false,
            href: '/forums',
          },
          {
            text: this.thread.board.name,
            disabled: false,
            href: `/forums/${this.thread.board._id}`,
          },
          {
            text: this.thread.title,
            disabled: true,
            href: null,
          },
        ];
      }
    }
}
</script>

<style>
</style>
