<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Gacha
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Gacha GachaItem
          </v-btn>
        </v-card-actions>
        <v-data-table
          :headers="headers"
          :items="gachaGachaItems"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.amount }}x{{ props.item.item.name }}</strong>
            </td>
            <td>{{ props.item.weight }}</td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectGachaItem(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteGachaItem(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <Dialog
      :item="selectedGachaItem"
      :items="items"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Gacha/GachaItemDialog';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
      const [items, gachaGachaItems] = await Promise.all([
        $axios.get('/items'),
        $axios.get('/gacha')
      ]);
      return {
        items: items.data,
        gachaGachaItems: gachaGachaItems.data
      };
    },
    data() {
      return {
        headers: [
          { text: 'Reward', value: 'item' },
          { text: 'Weight', value: 'weight' },
          { text: '', value: '' },
        ],
        selectedGachaItem: {
          item: {},
          weight: 0,
          amount: 1,
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/gacha');
          this.gachaGachaItems = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Gacha Item has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Gacha Item has been successfully updated.'
        });
      },
      selectGachaItem(item) {
        this.selectedGachaItem = JSON.parse(JSON.stringify(item));
        this.toggleDialog();
      },
      async deleteGachaItem({_id, item}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${item.name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/gacha/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Gacha Item has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Gacha Item could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedGachaItem = {
          item: {},
          weight: 0,
          amount: 1,
        };
      }
    },
  }
</script>
