<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Items
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Item
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="items"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td>{{ props.item.category }}</td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectItem(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteItem(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :item="selectedItem"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Items/ItemDialog';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/items');
      return {
        items: result.data,
      };
    },
    data() {
      return {
        search: '',
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Category', value: 'category' },
          { text: '', value: '' },
        ],
        selectedItem: {
          name: '',
          category: '',
          description: '',
          rarity: '',
          value: '',
          icon: null,
          tags: [],
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/items');
          this.items = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Item has been successfully updated.'
        });
      },
      selectItem(item) {
        this.selectedItem = JSON.parse(JSON.stringify(item));
        this.toggleDialog();
      },
      async deleteItem({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/items/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Item has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Item could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedItem = {
          name: '',
          category: '',
          description: '',
          rarity: '',
          value: '',
          icon: null,
          tags: [],
        };
      }
    },
  }
</script>
