<template>
  <article>
    <Card>
      <v-card-title
        class="headline"
        v-html="content.title"
      >
      </v-card-title>
      <v-card-title
        class="grey--text text--darken-1"
        v-if="content.category === 'news'"
      >
        {{ hoomenTime(content.createdAt) }}
        <span class="mx-1">|</span>
        <nuxt-link to="/news">
          News
        </nuxt-link>
        <template v-if="user && canModerate">
          <span class="mx-1">|</span>
          <nuxt-link :to="`/admin/content#${content._id}`">
            Edit
          </nuxt-link>
        </template>
        <v-spacer />
        <span>
          by <span class="black--text">
            {{ content.user ? content.user.username : 'Anonymous' }}
          </span>
        </span>
      </v-card-title>
      <v-card-text v-html="content.body">
      </v-card-text>
    </Card>
    <div id="comments" v-if="!!content.hasComments">
      <hr>
      <template v-if="!!authUser">
        <Card>
          <v-card-text>
            <CommentForm
              :content="content._id"
              @create="onCreate"
            />
          </v-card-text>
        </Card>
      </template>

      <CommentSection
        :content="content._id"
        :comments="comments"
        v-if="!!comments && !!comments.length"
      />
    </div>
  </article>
</template>

<script>
  import { mapGetters } from 'vuex';

  import dateTimeMixins from '@/mixins/dateTime';
  import userMixins from '@/mixins/user';

  import CommentSection from '@/components/Content/CommentSection';
  import CommentForm from '@/components/Content/CommentForm';

  export default {
    layout: 'guest',
    mixins: [
      dateTimeMixins,
      userMixins
    ],
    components: {
      CommentSection,
      CommentForm
    },
    async asyncData({ $axios, params }) {
      const {data:content} = await $axios.get(`/content/${params.slug}`);

      const {data:comments} = await $axios.get(`/content/id/${content._id}/comments`);

      return {
        content,
        comments
      };
    },
    mounted() {
      this.$bus.$on('comment', async () => {
        const {data:comments} = await this.$axios.get(`/content/id/${this.content._id}/comments`);

        this.comments = comments;
      });
    },
    computed: {
      ...mapGetters('auth', ['authUser'])
    },
    methods: {
      onCreate(comment) {
        document.getElementById('comments').scrollIntoView();
      },
    }
  }
</script>
