<template>
    <div class="page">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <Card
                  v-for="board in boards"
                  class="grey lighten-3 text-xs-center pa-2"
                >
                    <v-card-text>
                      <v-layout
                        row
                        wrap
                        align-center
                      >
                        <v-flex
                          xl2
                          v-if="$vuetify.breakpoint.mdAndUp"
                        >
                          <img
                            :src="board.icon"
                            class="board--icon"
                          />
                        </v-flex>
                        <v-flex
                          lg5
                        >
                          <a
                            :href="'/forums/' + board._id"
                            class="title"
                          >
                            {{ board.name }}
                          </a>
                          <p class="board--description body-2">{{ board.description }}</p>
                        </v-flex>
                        <v-flex
                          lg5
                        >
                          <template v-if="board.posts.length">
                            <a :href="'/forums/' + board._id + '/threads/' + board.posts[0].thread._id">{{ board.posts[0].thread.title }}</a><br>
                            {{ postDate(board.posts[0].createdAt) }} |
                            by
                            <template v-if="board.posts[0].user">
                              <a :href="'/u/' + board.posts[0].user.username">{{ board.posts[0].user.username }}</a>
                            </template>
                            <strong v-else>
                              [deleted user]
                            </strong>
                          </template>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                </Card>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    data() {
        return {
            boards: []
        }
    },
    beforeMount() {
        this.fetchData();
    },
    methods: {
        async fetchData() {
            const { data } = await this.$axios.get('/boards');
            this.boards = data.sort((a, b) => a.order - b.order);
        },
        postDate(time) {
          return moment(time).fromNow()
        }
    }
}
</script>

<style>
.board--icon {
  width: auto;
  height: 100px;
  max-width: 100%;
}

.board--description {
  margin-bottom: 0;
}
</style>
