<template>
  <v-app>
    <Navigation />
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <Footer />
    <Snackbar />
  </v-app>
</template>

<script>
  import Navigation from '@/components/Admin/Navigation.vue'
  import Footer from '@/components/App/Footer.vue'
  import Snackbar from '@/components/App/Snackbar.vue'

  export default {
    middleware: ['check-auth', 'auth', 'moderate'],
    components: {
      Navigation,
      Footer,
      Snackbar,
    },
  }
</script>
