<template>
  <v-app>
    <Header />
    <v-content>
      <v-container>
        <Card class="main">
          <nuxt />
        </Card>
      </v-container>
    </v-content>
    <Footer />
    <Snackbar />

  </v-app>
</template>

<script>
  import Header from '@/components/App/Header.vue'
  import Footer from '@/components/App/Footer.vue'
  import Snackbar from '@/components/App/Snackbar.vue'

  export default {
    middleware: ['check-auth', 'auth'],
    components: {
      Header,
      Footer,
      Snackbar,
    },
  }
</script>
