<template>
  <v-app>
    <v-content>
      <Header />
      <v-container class="pt-0">
        <v-layout row wrap justify-center>
          <v-flex xs12 lg10 xl8>
            <div class="main">
              <Card>
                <NewsBanner v-if="!!user" />
                <nuxt />
              </Card>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <Footer />
    <Snackbar />
    <QuickCatchEventPreview
      :value="quickCatchEvent"
      v-if="!!active"
    />
    <QuickCatchEventDialog
      v-model="quickCatchEventDialog"
      :quick-catch-event="quickCatchEvent"
      :items="user.inventory"
      @catch="disableQuickCatchEvent"
      @error="disableQuickCatchEvent"
      v-if="!!active || !!quickCatchEventDialog"
    />
  </v-app>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex';

  import Header from '@/components/App/Header.vue';
  import Footer from '@/components/App/Footer.vue';
  import Snackbar from '@/components/App/Snackbar.vue';
  import NewsBanner  from '@/components/Content/NewsBanner';
  import QuickCatchEventPreview  from '@/components/QuickCatchEvents/QuickCatchEventPreview';
  import QuickCatchEventDialog  from '@/components/QuickCatchEvents/QuickCatchEventDialog';

  import userMixins from '@/mixins/user';

  export default {
    middleware: ['check-auth', 'quickCatchEvent'],
    components: {
      Header,
      Footer,
      Snackbar,
      NewsBanner,
      QuickCatchEventPreview,
      QuickCatchEventDialog,
    },
    mixins: [userMixins],
    methods: {
      ...mapMutations('quickCatchEvent', ['setActive', 'setDialog']),
      disableQuickCatchEvent() {
        this.setActive(false)
      },
    },
    computed: {
      ...mapGetters('user', ['user']),
      ...mapGetters('quickCatchEvent', ['active', 'dialog', 'quickCatchEvent']),
      quickCatchEventDialog: {
        get() {
          return this.dialog;
        },
        set(val) {
          this.setDialog(val);
        }
      },
    }
  }
</script>
