<template>
  <nav>
    <v-toolbar
      class="admin-bar"
      height="48"
      flat
      dark
    >
    <v-toolbar-items>
      <v-btn
        color="white"
        flat
        small
        to="/"
      >
        <v-icon small>
          chevron_left
        </v-icon>

        Back to site
      </v-btn>
    </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <template v-for="(menuItem, i) in top">
          <template v-if="!!menuItem.dropdown">
            <v-menu
            offset-y
            open-on-hover
            :key="`left-${i}`"
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  color="transparent"
                  class="white--text px-3"
                  v-on="on"
                  small
                  v-if="showMenuItem(menuItem)"
                >
                  <template v-if="!menuItem.badge">
                    <v-icon v-if="!!menuItem.icon">
                      {{ menuItem.icon }}
                    </v-icon>
                    <span v-if="!!menuItem.label">
                      {{ menuItem.label }}
                    </span>
                    <v-icon
                      class="ml-1"
                      right
                      small
                    >
                      expand_more
                    </v-icon>
                  </template>
                </v-btn>
              </template>
              <v-list>
                <v-list-tile
                  v-for="(dropdownItem, j) in menuItem.dropdown"
                  :key="`left-${i}-${j}`"
                  @click="menuItemClick(dropdownItem)"
                  v-if="showMenuItem(dropdownItem)"
                >
                  <v-list-tile-title>{{ dropdownItem.label }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </template>
          <template v-else>
            <v-btn
              color="transparent"
              class="white--text px-3"
              @click="menuItemClick(menuItem)"
              :key="`left-${i}`"
              small
              v-if="showMenuItem(menuItem)"
            >
              <template v-if="!menuItem.badge">
                <v-icon v-if="!!menuItem.icon">
                  {{ menuItem.icon }}
                </v-icon>
                <span v-if="!!menuItem.label">
                  {{ menuItem.label }}
                </span>
              </template>

              <v-badge
                :value="true"
                color="red"
                right
                v-else
              >
                <template v-slot:badge>
                  <span>{{ menuItem.badge }}</span>
                </template>
                <v-icon v-if="!!menuItem.icon">
                  {{ menuItem.icon }}
                </v-icon>
                <span v-if="!!menuItem.label">
                  {{ menuItem.label }}
                </span>
              </v-badge>
            </v-btn>
          </template>
        </template>
      </v-toolbar-items>
    </v-toolbar>
  </nav>
</template>

<script>
  import { mapGetters } from 'vuex';

  import userMixins from '@/mixins/user';
  import navigationMixins from '@/mixins/navigation';

  export default {
    mixins: [
      userMixins,
      navigationMixins,
    ],
    data() {
      const prefix = '/admin';

      return {
        top: [
          {
            label: 'Users',
            permission: 'can_edit_users',
            dropdown: [
              {
                label: 'User',
                to: `${prefix}/users`,
              },
              {
                label: 'Staff',
                to: `${prefix}/users/staff`,
              },
              {
                label: 'Activity Check',
                to: `${prefix}/users/activitycheck`,
              },
              {
                label: 'Titles',
                to: `${prefix}/ranks`,
                permission: 'admin',
              },
            ],
          },
          {
            label: 'Trainer',
            permission: 'can_edit_users',
            dropdown: [
              {
                label: 'Trainer',
                to: `${prefix}/trainer`,
              },
            ],
          },
          {
            label: 'Pokemon',
            permission: 'can_edit_characters',
            dropdown: [
              {
                label: 'Pokemon',
                to: `${prefix}/pokemon`,
              },
              {
                label: 'Color Statuses',
                to: `${prefix}/color_statuses`,
              },
            ],
          },
          {
            label: 'Activity',
            dropdown: [
              {
                label: 'Trades',
                to: `${prefix}/trades`,
                permission: 'can_edit_trades',
              },
              {
                label: 'Submissions',
                to: `${prefix}/submissions`,
                permission: 'can_edit_submissions',
              },
              {
                label: 'Submission Tool',
                to: `${prefix}/submissionTool`,
                permission: 'can_edit_submissions',
              },
            ],
          },
          {
            label: 'Items',
            to: `${prefix}/items`,
            permission: 'can_edit_items',
          },
          {
            label: 'Shops',
            to: `${prefix}/shops`,
            permission: 'can_edit_shops',
          },
          {
            label: 'Trade Ins',
            to: `${prefix}/tradeIns`,
            permission: 'can_edit_trade_ins',
          },
          {
            label: 'Content',
            to: `${prefix}/content`,
            permission: 'author',
          },
          {
            label: 'Bingo',
            href: 'http://bingo.pokemontownship.com/',
          },
          {
            label: 'Quick Catches',
            to: `${prefix}/quickCatchEvents`,
            permission: 'can_edit_quickcatchevents',
          },
          {
            label: 'Site Settings',
            permission: 'admin',
            dropdown: [
              {
                label: 'Boards',
                to: `${prefix}/boards`,
              },
              {
                label: 'Gacha',
                to: `${prefix}/gacha`,
              },
              {
                label: 'Home Settings',
                to: `${prefix}/settings/home`,
              },
              {
                label: 'Menu',
                to: `${prefix}/settings/menu`,
              },
              {
                label: 'Settings',
                to: `${prefix}/settings`,
              },
            ],
          },
        ],
      };
    },
    methods: {
      showMenuItem({ permission }) {
        let result = true;

        if(
          !!permission
          && (
            !this.authUser
            || !this.user.permissions
            || this.user.permissions.indexOf(permission) === -1
          )
        )
          result = false;

        return result;
      },
    },
    computed: {
      ...mapGetters('auth', ['authUser']),
      ...mapGetters('user', ['user'])
    }
  }
</script>

<style lang="stylus" scoped>

</style>
