<template>
  <v-layout row wrap justify-center>
    <v-flex
      md12
      lg10
      xl10
      class="mb-4"
      v-for="doc in docs"
      :key="doc._id"
    >

        <Card>
          <nuxt-link :to="`/c/${doc.slug}`">
            <v-card-title
              class="headline pb-0"
              v-html="doc.title"
            >
            </v-card-title>
          </nuxt-link>
          <v-card-title class="grey--text text--darken-1">
            {{ hoomenTime(doc.createdAt) }}
            <v-spacer />
            <span>
              by <span class="black--text">
                {{ doc.user ? doc.user.username : 'Anonymous' }}
              </span>
            </span>
          </v-card-title>
          <v-card-text v-html="doc.body">
          </v-card-text>
          <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat nuxt to="/inspire">Comments</v-btn>
          </v-card-actions> -->
        </Card>
    </v-flex>

    <v-flex
      md12
      lg10
      xl10
      v-if="!!totalPages"
    >
      <v-pagination
        v-model="page"
        :length="totalPages"
      ></v-pagination>
    </v-flex>
  </v-layout>
</template>

<script>
  import dateTimeMixins from '@/mixins/dateTime';
  import paginationMixinis from '@/mixins/pagination';

  export default {
    mixins: [dateTimeMixins, paginationMixinis],
    data() {
      return {
        docs: []
      }
    },
    beforeMount: function() {
        this.get();
    },
    methods: {
      async get() {
          const { data } = await this.$axios.get('/activity/?page=' + this.page);

          this.docs = data.docs;
          this.totalPages = data.totalPages;
      },
      paginationHandler() {
        this.get();
      },
    }
  }
</script>
