<template>
  <v-layout
    justify-center
    row
    wrap
  >
      <v-flex md12 lg8>
          <v-layout row wrap>
            <h4 class="title mb-4">Contact</h4>
          </v-layout>
          <MessageForm
            :recipient="admin"
          />
      </v-flex>
  </v-layout>
</template>

<script>
  import MessageForm from '@/components/Messages/MessageForm';

  export default {
    components: {
      MessageForm,
    },
    async asyncData({ $axios, params, store }) {
      let {data:settings} = await $axios.get('/settings/group/app');

      const contactUserId = settings.find(({key}) => key === 'contact').value;

      return {
        admin: {
          _id: contactUserId,
          username: 'admin',
        }
      };
    },
  }
</script>
