<template>
  <v-layout row wrap justify-center>
    <v-flex
      xs12
    >
      <div v-html="body"></div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    layout: 'home',
    data() {
      return {
        body: []
      }
    },
    async asyncData({$axios}) {
      const { data } = await $axios.get('/settings/home');

      return {
        body: data.value
      }
    },
  }
</script>
