<template>
  <v-layout wrap align-center justify-center>
    <v-flex xs12>
      <Card
        class="mb-2"
        lite
      >
        <v-card-title class="headline">Login</v-card-title>
        <v-card-text v-if="!!loginError">
          <v-alert
            type="error"
            :value="true"
          >
            We couldn't log you in. Please check your credentials.
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="onSubmit"
          >
            <v-text-field
              v-model="username"
              label="Username"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              label="Password"
              type="password"
              required
            ></v-text-field>

            <v-btn
              type="submit"
              color="success"
              depressed
              block
              :disabled="!username || !password"
            >
              Log In
            </v-btn>
          </v-form>
        </v-card-text>
      </Card>

      <Card lite>
        <v-card-actions>
          <v-btn
            color="success"
            depressed
            block
            @click="loginWithDeviantArt"
          >
            Log In with DeviantArt
          </v-btn>
        </v-card-actions>
      </Card>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    data() {
      return {
        valid: false,
        username: '',
        password: '',
        loginError: false,
      }
    },
    async asyncData({ store, redirect }) {
      if(!!store.getters['auth/authUser'])
        redirect('/');
    },
    methods: {
      async onSubmit() {
        let result;

        try {
          result = await this.$axios.$post('/auth/login', {
            username: this.username,
            password: this.password,
          });

          this.$router.replace('/');
          this.$store.commit('auth/setAuthUser', true);
        } catch (e) {
          console.error(e);

          this.loginError = true;
        }
      },
      loginWithDeviantArt() {
        window.location.href = '/engine/auth/provider/deviantart/init';
      }
    }
  }
</script>
