<template>
  <v-layout row wrap justify-center>
    <v-flex
      xs12
      md6
      lg6
    >
    <v-card light>
      <v-card-text>
        Logging out...
      </v-card-text>
    </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    layout: 'app',
    async asyncData({ $axios, store, redirect }) {
      await $axios.get('/auth/logout');
      store.commit('auth/setAuthUser', false);

      redirect('/');
    }
  }
</script>
