<template>
    <div class="page">
        <div class="container">
            <h2>Mod Activity Check</h2>

            <v-alert type="success" :value="success">
                Activity check saved successfully!
            </v-alert>

            <div class="form-group">
                <v-textarea
                  class="form-control"
                  v-model="modActivityCheck"
                >
                </v-textarea>
            </div>

            <v-btn
              color="primary"
              @click="saveUser"
              :disabled="success ? 'disabled' : false"
            >
              Submit Activity Check
            </v-btn>
        </div>
    </div>
</template>

<script>
import userMixins from '@/mixins/user';

export default {
  mixins: [userMixins],
  middleware: ['modActivityCheck', 'moderate'],
  data: function() {
    return {
      success: null,
      modActivityCheck: null,
    }
  },
  mounted() {
    const { modActivityCheck } = this.$store.getters['user/user'];

    this.modActivityCheck = modActivityCheck;
  },
  methods: {
    async saveUser() {
      try {
        await this.$axios.patch(`/users/${this.user._id}`, {
          modActivityCheck: this.modActivityCheck,
          action: 'modActivityCheck',
        });

        this.$store.commit('user/setModActivityCheck', this.user.modActivityCheck);

        this.success = true;
      } catch (e) {
        console.error(e);
      }

    }
  },
}
</script>
