<template>
  <v-layout row wrap justify-center>
    <v-flex
      xs12
      md6
      lg8
      class="mb-4"
    >
      <Card lite>
        <v-alert
          :value="showTemporaryPasswordMessage"
        >
          You're still using a temporary password. Please set a new password below.
        </v-alert>

        <v-alert
          type="error"
          :value="true"
          v-for="(error, i) in serverErrors"
          :key="i"
        >
          {{ error }}
        </v-alert>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="onSubmit"
        >
          <v-card-text>
            <v-text-field
              v-model="settings.email"
              label="EMail"
              type="email"
              class="mb-2"
              hide-details
              large
              light
              box
            ></v-text-field>

            <v-text-field
              v-model="settings.password"
              label="Password"
              type="password"
              class="mb-2"
              hide-details
              large
              light
              box
            ></v-text-field>

            <v-text-field
              v-model="user.dA"
              label="DeviantArt Account"
              class="mb-2"
              hide-details
              disabled
              large
              light
              box
            ></v-text-field>
            <v-checkbox
              v-model="settings.hiatus"
              label="Hiatus"
              class="mb-2"
              hide-details
              large
              light
              box
              v-if="user.permissions.indexOf('moderate') !== -1"
            />
            <hr />
            <v-card>
              <v-card-title class="d-block pb-0">
                <div class="caption mb-2">
                  Please remember to add <strong>noreply@pkmntownship.com</strong> to trusted senders via your email provider of choice, or our alerts may end up in your junk email!
                </div>
                <h4 class="subheading">Notify me via <strong>EMail</strong> when</h4>
              </v-card-title>
              <v-card-text>
                <v-switch
                  v-model="settings.settings.emailAnnouncements"
                  label="an announcement was made"
                  class="mb-2"
                  hide-details
                  :disabled="!this.settings.email"
                  large
                  light
                  box
                />
                <v-switch
                  v-model="settings.settings.emailMentions"
                  label="someone mentioned me in a post."
                  class="mb-2"
                  hide-details
                  :disabled="!this.settings.email"
                  large
                  light
                  box
                />
                <v-switch
                  v-model="settings.settings.emailSubscribedThread"
                  label="someone made a new post in a thread I'm subscribed to."
                  class="mb-2"
                  hide-details
                  :disabled="!this.settings.email"
                  large
                  light
                  box
                />
                <v-switch
                  v-model="settings.settings.emailSubmissionComments"
                  label="one of my submissions received a comment."
                  class="mb-2"
                  hide-details
                  :disabled="!this.settings.email"
                  large
                  light
                  box
                />
                <v-switch
                  v-model="settings.settings.emailPMs"
                  label="I received a private message"
                  class="mb-2"
                  hide-details
                  :disabled="!this.settings.email"
                  large
                  light
                  box
                />
              </v-card-text>
            </v-card>
          </v-card-text>
          <v-card-actions>
            <v-btn
              type="submit"
              color="success"
              depressed
              block
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-form>
      </Card>
    </v-flex>
  </v-layout>
</template>

<script>
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    layout: 'app',
    mixins: [formMixins, userMixins],
    data() {
      return {
        showTemporaryPasswordMessage: false,
        settings: {
          email: null,
          password: null,
          hiatus: false,
          settings: {
            emailAnnouncements: true,
            emailMentions: false,
            emailSubscribedThread: false,
            emailSubmissionComments: false,
            emailPMs: true,
          }
        }
      }
    },
    mounted() {
      if(!!this.user.hiatus)
        this.settings.hiatus = true

      this.settings.email = this.user.email;

      if(typeof this.user.settings !== 'string')
        this.settings.settings = this.createPayload(this.user.settings);

      if(this.user.hasTemporaryPassword) this.showTemporaryPasswordMessage = true;
    },
    methods: {
      async onSubmit() {
        this.serverErrors = [];

        const payload = this.createPayload(this.settings);

        if(payload.password) payload.hasTemporaryPassword = false;

        try {
          await this.$axios.$patch(`/users/${this.user._id}`, payload);

          if(payload.password) this.showTemporaryPasswordMessage = false;

          this.$bus.$emit('success', {
            message: 'Settings have been successfully updated.'
          });
        } catch (e) {
          console.error(e);

          if(
            !!e.response
            && !!e.response.data
          ) {
            if(!!e.response.data.errors)
              this.serverErrors = e.response.data.errors;
          }

          this.$bus.$emit('error', {
            message: 'Settings could not be updated.'
          });
        }
      },
    },
  }
</script>
