<template>
  <div>
    <Card>
      <v-btn
        color="rgb(141, 183, 118)"
        class="white--text"
        depressed
        small
        block
        @click="showEditTradeDialog=true"
      >
        Create Trade
      </v-btn>
    </Card>

    <hr>

    <v-layout row wrap>
      <v-flex
        xs12
        md6
        lg4
        class="pa-2"
        v-for="(trade, i) in trades"
        :key="`trade-${i}`"
      >
        <TradeCard
          :value="trade"
          :user="user"
          @accept="onAcceptTrade"
          @delete="onDeleteTrade"
        />
      </v-flex>

      <v-flex
        xs12
        v-if="trades.length === 0"
      >
        <v-alert
          :value="true"
          type="info"
          outline
        >
          You have no active trades.
        </v-alert>
      </v-flex>


    </v-layout>

    <EditTradeDialog
      v-model="showEditTradeDialog"
      :trade="selectedTrade"
      :inventory="userInventory"
      :companions="user.companions"
      @create="onCreateTrade"
      @close="resetSelectedTrade"
    />
  </div>
</template>

<script>
  import userMixins from '@/mixins/user';

  import EditTradeDialog from '@/components/Trades/EditTradeDialog';
  import TradeCard from '@/components/Trades/TradeCard';

  export default {
    mixins: [userMixins],
    components: {
      EditTradeDialog,
      TradeCard
    },
    data() {
      return {
        showEditTradeDialog: false,
        selectedTrade: {
          to: {},
          fromItems: [],
          toItems: [],
          fromCompanions: [],
          toCompanions: [],
          fromCurrency: 0,
          toCurrency: 0,
          comment: '',
        },
      }
    },
    async asyncData({ $axios, params }) {
      const {data:trades} = await $axios.get('/trades');
      return {
        trades,
      };
    },
    methods: {
      async get() {
        const result = await this.$axios.get('/trades');

        this.trades = result.data;
      },
      onCreateTrade() {
        this.get();
        this.resetSelectedTrade();
        this.$bus.$emit('success', {
          message: 'Trade has been successfully created.'
        });
      },
      onUpdateTrade() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Trade has been successfully created.'
        });
      },
      onAcceptTrade(newBalance) {
        this.get();
        this.$bus.$emit('success', {
          message: `Trade has been accepted.`
        });
      },
      onDeleteTrade(newBalance) {
        this.get();
        this.$bus.$emit('error', {
          message: `Trade has been canceled.`
        });
      },
      resetSelectedTrade() {
        this.selectedTrade = {
          to: {},
          fromItems: [],
          toItems: [],
          fromCompanions: [],
          toCompanions: [],
          fromCurrency: 0,
          toCurrency: 0,
          comment: '',
        };
      },
    },
    computed: {
      inventoryWithoutLockedItems() {
        return this.userInventory.filter(({trade}) => !trade)
      }
    }
  }
</script>
