<template>
  <div class="character">
    <v-card
      color="transparent"
      flat
    >
      <v-img
        :src="value.profileImage || noImageUri"
      >
      </v-img>
      <v-card-title
        primary-title
        class="d-block text-xs-center pt-2"
        v-html="value.name"
      >
      </v-card-title>
    </v-card>
  </div>
</template>

<script>
  import characterMixins from '@/mixins/character';

  export default {
    props: {
      value: {
        type: Object,
        required: true
      }
    },
    mixins: [characterMixins]
  }
</script>

<style lang="stylus" scoped>
  .character
    width: 240px
    cursor: pointer
</style>
