<template>
  <v-dialog
    persistent
    v-model="value"
    max-width="800"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!book._id">
              {{ book.book.name }}
            </template>
            <template v-else>
              Add Book
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
              v-if="!book._id && !!canEditCharacters"
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text v-if="!!book._id">
          Learned by book {{ hoomenTime(book.createdAt) }}
        </v-card-text>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text v-if="!book._id">
          <v-autocomplete
            v-model="book.book"
            :items="books"
            label="Book"
            item-text="name"
            item-value="_id"
          >
          </v-autocomplete>
        </v-card-text>
        <v-card-text v-if="!!book._id && canEditCharacters">
          <v-btn
            color="error"
            depressed
            block
            v-if="!!canEditUsers"
            @click="deleteBook"
          >
            Delete Book
          </v-btn>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import dateTimeMixins from '@/mixins/dateTime';
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      book: {
        type: Object,
        required: true,
      },
      books: {
        type: Array,
        required: false,
      },
    },
    mixins: [
      dateTimeMixins,
      formMixins,
      userMixins
    ],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.book);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(`/character_books/${payload._id}`, payload);

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post('/character_books', payload);

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      async deleteBook() {
        if(
          confirm(`Are you sure you want to delete ${this.book.book.name}?`)
        )
          try {
            const result = await this.$axios.$delete(`/character_books/${this.book._id}`);

            this.$emit('delete', result.newBalance);
            this.toggleDialog();
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
      }
    },
  }
</script>
