<template>
  <v-dialog
    persistent
    v-model="value"
    max-width="800"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!companion._id">
              {{ companion.companion.name }}
            </template>
            <template v-else>
              Add Pokemon
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
              v-if="!!canEditCharacters || !!isUser(companion)"
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-autocomplete
            v-model="companion.companion"
            :items="companions"
            label="Pokemon"
            item-text="name"
            item-value="_id"
            :disabled="!!companion._id"
          >
          </v-autocomplete>
        </v-card-text>
        <v-card-text>
          <v-layout
            row
            wrap
          >
            <v-flex
              xs12
              class="px-1"
            >
              <v-textarea
                v-model="companion.mod_notes"
                :disabled="!canEditCharacters"
                label="Mod Notes"
              >
              </v-textarea>
            </v-flex>
            <v-flex
              xs12
              class="px-1"
            >
              <v-autocomplete
                v-model="companion.colorStatuses"
                :items="colorStatuses"
                label="Color Statuses"
                item-text="name"
                item-value="_id"
                :disabled="!canEditCharacters"
                small-chips
                deletable-chips
                multiple
              >
              </v-autocomplete>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-text-field
                v-model="companion.design"
                :disabled="!canEditCharacters"
                label="Design"
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-autocomplete
                v-model="companion.pokeball"
                :items="pokeballs"
                label="Pokeball"
                item-text="name"
                item-value="_id"
                v-if="!!canEditCharacters"
              >
              </v-autocomplete>

              <v-text-field
                v-model="companion.pokeball.name"
                disabled
                label="Pokeball"
                v-else-if="companion.pokeball"
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              class="px-1"
            >
              <v-text-field
                v-model="companion.level"
                :disabled="!canEditCharacters"
                label="Level"
              >
              </v-text-field>
            </v-flex>
            <v-flex
              xs12
              class="px-1"
            >
              <v-textarea
                v-model="companion.notes"
                :disabled="!canEditCharacters && !isUser(companion)"
                label="Notes"
              >
              </v-textarea>
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-checkbox
                v-model="companion.salon"
                :disabled="!canEditCharacters && !isUser(companion)"
                label="Salon"
              />
            </v-flex>
            <v-flex
              xs12
              lg6
              class="px-1"
            >
              <v-checkbox
                v-model="companion.team"
                :disabled="!canEditCharacters && !isUser(companion)"
                label="Team"
              />
            </v-flex>
          </v-layout>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Image</div>
            <v-layout row wrap justify-center>
              <v-flex
                xs12
                lg6
                xl3
                class="text-xs-center"
                v-if="!!companion.image || (!!companion.companion && !!companion.companion.icon)"
              >
                <img
                  :src="companion.image || companion.companion.icon"
                  style="max-width:100%;"
                />
              </v-flex>
              <v-flex
                xs12
                lg6
                xl3
                v-if="!!canEditCharacters"
              >
                <picture-input
                  ref="image"
                  width="200"
                  height="200"
                  margin="16"
                  accept="image/jpeg,image/png,image/gif"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Drag & Drop Image Icon'
                  }"
                  @change="onChange"
                  v-if="value"
                >
                </picture-input>
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
        <v-card-text v-if="!!companion._id && !!canEditCharacters">
          <v-btn
            color="error"
            depressed
            block
            v-if="!!canEditUsers"
            @click="deleteCompanion"
          >
            Delete Pokemon
          </v-btn>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import PictureInput from 'vue-picture-input';

  import dateTimeMixins from '@/mixins/dateTime';
  import formMixins from '@/mixins/form';
  import userMixins from '@/mixins/user';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      companion: {
        type: Object,
        required: true,
      },
      companions: {
        type: Array,
        required: true,
      },
      items: {
        type: Array,
        required: false,
        default() {
          return [];
        }
      },
      colorStatuses: {
        type: Array,
        required: true,
      },
      image: null,
    },
    components: { PictureInput },
    mixins: [
      dateTimeMixins,
      formMixins,
      userMixins
    ],
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.companion);

        if(!!this.image)
          payload.image = this.image;

        if(!!payload.companion && !!payload.companion._id)
          payload.companion = payload.companion._id;

        if(!!payload.pokeball && !!payload.pokeball._id)
          payload.pokeball = payload.pokeball._id;

        if(!!payload.colorStatus && !!payload.colorStatus._id)
          payload.colorStatus = payload.colorStatus._id;

        if(!!payload.colorStatuses)
          payload.colorStatuses = payload.colorStatuses.map((colorStatus) => {
            if(colorStatus._id)
              return colorStatus._id;

            return colorStatus;
          });

        const formData = this.createFormData(payload);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/character_companions/${payload._id}`,
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/character_companions',
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      async deleteCompanion() {
        if(
          confirm(`Are you sure you want to delete ${this.companion.companion.name}?`)
        )
          try {
            const result = await this.$axios.$delete(`/character_companions/${this.companion._id}`);

            this.$emit('delete', result.newBalance);
            this.toggleDialog();
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
      },
      onChange (image) {
        if (image) {
          this.image = this.$refs.image.file
        }
      },
      reset() {
        this.serverErrors = [];
        this.image = null;
      }
    },
    computed: {
      pokeballs() {
        return this.items.filter(({category}) => category === 'Poke Ball')
      }
    }
  }
</script>
