<template>
  <div class="shopCompanion">
    <v-card
      color="grey lighten-3"
      flat
    >
      <div
        class="pa-1 pb-0 text-xs-center"
        v-if="!!value.companion.icon"
      >
        <img
          :src="value.companion.icon"
          height="150px"
        />
      </div>
      <v-card-title
        primary-title
        class="shopCompanion--title d-block text-xs-center overflow-hidden"
        v-html="title"
      >
      </v-card-title>

      <v-card-text v-if="!!outOfStock || !hasSufficientFunds">
        <v-alert
          color="grey"
          outline
          :value="true"
        >
        <template v-if="!!outOfStock">
          Out of stock
        </template>
        <template v-else-if="!hasSufficientFunds">
          Not enough funds.
        </template>
      </v-alert>
      </v-card-text>

      <v-card-actions>
        <v-btn
          color="success"
          depressed
          block
          :disabled="!hasSufficientFunds || !!outOfStock"
          @click="buy"
        >
          Buy for {{ value.price }} {{ currency.symbol }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import shopMixins from '@/mixins/shop';

  export default {
    props: {
      value: {
        type: Object,
        required: true
      }
    },
    mixins: [shopMixins],
    computed: {
      ...mapGetters(
        'user',
        ['user'],
      ),
      title() {
        let title = this.value.companion.name;

        if(!this.value.unlimitedStock && this.value.stock)
          title += ` (Stock: ${this.value.stock})`;

        return title;
      },
      hasSufficientFunds() {
        return this.user[this.value.currency] >= this.value.price;
      },
      outOfStock() {
        return !this.value.unlimitedStock && this.value.stock < 1;
      },
      currency() {
        const currencies = Object.values(this.currencies)

        return currencies.find(({key}) => key === this.value.currency) || currencies[0];
      }
    },
    methods: {
      async buy() {
        if(!confirm(`Are you sure you want to buy ${this.value.companion.name}?`))
          return;

        try {
          const result = await this.$axios.$post(
            `/shop_companions/${this.value._id}/buy`,
          );

          this.$emit('buy', {
            ...result,
            companion: this.value.companion,
          });
        } catch (e) {
          console.error(e);

          this.$emit('error');
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .shopCompanion
    width: 100%
    cursor: pointer

  .shopCompanion--title
    height: 82px
</style>
