<template>
  <div class="shopItem">
    <v-card
      color="grey lighten-3"
      flat
    >

      <div
        class="pa-1 pb-0 text-xs-center image"
        v-if="!!value.item.icon"
      >
          <div
            v-if="value.item.description"
            class="overlay"
            v-html="value.item.description"
          >
          </div>
          <img
            :src="value.item.icon"
            height="150px"
          />
      </div>
      <v-card-title
        primary-title
        class="shopItem--title d-block text-xs-center overflow-hidden"
        v-html="title"
      >
      </v-card-title>

      <v-card-text v-if="!!outOfStock || !hasSufficientFunds">
        <v-alert
          color="grey"
          outline
          :value="true"
        >
        <template v-if="!!outOfStock">
          Out of stock
        </template>
        <template v-else-if="!hasSufficientFunds">
          Not enough funds.
        </template>
      </v-alert>
      </v-card-text>

      <v-card-actions>
        <v-btn
          color="success"
          depressed
          block
          :disabled="!hasSufficientFunds || !!outOfStock"
          @click="buy"
        >
          Buy for {{ value.price }} {{ currency.symbol }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import shopMixins from '@/mixins/shop';

  export default {
    props: {
      value: {
        type: Object,
        required: true
      }
    },
    mixins: [shopMixins],
    computed: {
      ...mapGetters(
        'user',
        ['user'],
      ),
      title() {
        let title = this.value.item.name;

        if(!this.value.unlimitedStock && this.value.stock)
          title += ` (Stock: ${this.value.stock})`;

        return title;
      },
      hasSufficientFunds() {
        return this.user[this.value.currency] >= this.value.price;
      },
      outOfStock() {
        return !this.value.unlimitedStock && this.value.stock < 1;
      },
      currency() {
        const currencies = Object.values(this.currencies)

        return currencies.find(({key}) => key === this.value.currency) || currencies[0];
      }
    },
    methods: {
      async buy() {
        if(!confirm(`Are you sure you want to buy ${this.value.item.name}?`))
          return;

        try {
          const result = await this.$axios.$post(
            `/shop_items/${this.value._id}/buy`,
          );

          this.$emit('buy', {
            ...result,
            item: this.value.item,
          });
        } catch (e) {
          console.error(e);

          this.$emit('error');
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .shopItem
    width: 100%
    cursor: pointer

  .shopItem--title
    height: 82px

  .image
    position: relative;

    &:hover .overlay
      opacity: 1;

    .overlay
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(238,238,238,0.8);
      overlay: hidden;
      opacity: 0;
      font-size: 12px;
      padding: 18px;
      text-align: center;
      transition: opacity 0.2s ease-in;
</style>
