<template>
  <v-dialog
    v-model="value"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!shop._id">
              Edit {{ shop.name }}
            </template>
            <template v-else>
              Create Shop
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <v-text-field
            v-model="shop.name"
            label="Name"
            required
          >
          </v-text-field>

          <v-text-field
            v-model="shop.slug"
            prefix="/"
            label="Slug"
          >
          </v-text-field>

          <v-textarea
            v-model="shop.description"
            label="Description"
          >
          </v-textarea>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Icon</div>
            <v-layout row wrap justify-center>
              <v-flex
                xs12
                lg6
                xl3
                v-if="!!shop.icon"
              >
                <img
                  :src="shop.icon"
                  style="max-width:100%;"
                />
              </v-flex>
              <v-flex
                xs12
                lg6
                xl3
              >
                <picture-input
                  ref="icon"
                  width="200"
                  height="200"
                  margin="16"
                  accept="image/jpeg,image/png,image/gif"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Drag & Drop Image Icon'
                  }"
                  @change="onChange"
                  v-if="value"
                >
                </picture-input>
              </v-flex>
            </v-layout>
          </div>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Inventory</div>

            <v-card
              flat
              v-for="(shopItem, i) in shop.inventory"
              :key="`shopItem-${i}`"
            >
              <v-card-text>
                <v-layout row wrap>
                  <v-flex grow>
                    <v-autocomplete
                      v-model="shopItem.item"
                      :items="items"
                      item-text="name"
                      item-value="_id"
                      label="Item"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-text-field
                      v-model="shopItem.stock"
                      type="number"
                      label="Stock"
                      :disabled="!!shopItem.unlimitedStock"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-checkbox
                      v-model="shopItem.unlimitedStock"
                      label="Unlimited Stock"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-select
                      v-model="shopItem.currency"
                      :items="currencies"
                      label="Currency"
                      item-text="label"
                      item-value="key"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-text-field
                      v-model="shopItem.price"
                      type="number"
                      label="Price"
                      required
                    />
                  </v-flex>
                  <v-flex shrink>
                    <v-btn
                      color="danger"
                      flat
                      icon
                      small
                      @click="deleteItem(shopItem)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>

            <v-card flat v-if="!shop.inventory || !shop.inventory.length">
              <v-card-text>
                No inventory. Please add items.
              </v-card-text>
            </v-card>

            <v-btn
              color="success"
              outline
              large
              block
              @click="addItem"
            >
              Add Item
            </v-btn>
          </div>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Pokemon Inventory</div>

            <v-card
              flat
              v-for="(shopCompanion, i) in shop.companionInventory"
              :key="`shopCompanion-${i}`"
            >
              <v-card-text>
                <v-layout row wrap>
                  <v-flex grow>
                    <v-autocomplete
                      v-model="shopCompanion.companion"
                      :items="companions"
                      item-text="name"
                      item-value="_id"
                      label="Companion"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-text-field
                      v-model="shopCompanion.stock"
                      type="number"
                      label="Stock"
                      :disabled="!!shopCompanion.unlimitedStock"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-checkbox
                      v-model="shopCompanion.unlimitedStock"
                      label="Unlimited Stock"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-select
                      v-model="shopCompanion.currency"
                      :items="currencies"
                      label="Currency"
                      item-text="label"
                      item-value="key"
                      required
                    />
                  </v-flex>
                  <v-flex grow>
                    <v-text-field
                      v-model="shopCompanion.price"
                      type="number"
                      label="Price"
                      required
                    />
                  </v-flex>
                  <v-flex shrink>
                    <v-btn
                      color="danger"
                      flat
                      icon
                      small
                      @click="deleteCompanion(shopCompanion)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>

            <v-card flat v-if="!shop.companionInventory || !shop.companionInventory.length">
              <v-card-text>
                No inventory. Please add Pokemon.
              </v-card-text>
            </v-card>

            <v-btn
              color="success"
              outline
              large
              block
              @click="addCompanion"
            >
              Add Pokemon
            </v-btn>
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import Vue from 'vue';
  import PictureInput from 'vue-picture-input';

  import formMixins from '@/mixins/form';
  import shopMixins from '@/mixins/shop';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      shop: {
        type: Object,
        required: true,
      },
      items: {
        type: Array,
        required: false,
        default: []
      },
      companions: {
        type: Array,
        required: false,
        default: []
      }
    },
    components: {PictureInput},
    mixins: [formMixins, shopMixins],
    data() {
      return {
        icon: null,
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.shop);

        if(!!this.icon)
          payload.icon = this.icon;

        const formData = this.createFormData(payload);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/shops/${payload._id}`,
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            await this.saveInventory();

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/shops',
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            Vue.set(this.shop, '_id', result._id);

            await this.saveInventory();

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }


      },
      onChange (image) {
        if (image) {
          this.icon = this.$refs.icon.file
        }
      },
      saveInventory: async function() {
        if(this.shop.inventory)
          for(let shopItem of this.shop.inventory) {
            if(!!shopItem._id) {
              await this.$axios.$patch(
                `/shop_items/${shopItem._id}`,
                shopItem
              );
            } else {
              await this.$axios.$post(
                '/shop_items',
                {
                  shop: this.shop._id,
                  ...shopItem
                }
              );
            }
          }

        if(this.shop.companionInventory)
          for(let shopCompanion of this.shop.companionInventory) {
            if(!!shopCompanion._id) {
              await this.$axios.$patch(
                `/shop_companions/${shopCompanion._id}`,
                shopCompanion
              );
            } else {
              await this.$axios.$post(
                '/shop_companions',
                {
                  shop: this.shop._id,
                  ...shopCompanion
                }
              );
            }
          }
      },
      addItem() {
        if(!this.shop.inventory)
          Vue.set(this.shop, 'inventory', [])


        this.shop.inventory.push({
          item: this.items[0],
          stock: 0,
          unlimitedStock: true,
        })
      },
      deleteItem: async function(shopItem) {
        if(!confirm(`Are you sure you want to delete "${shopItem.item.name}"?`))
          return;

        const i = this.shop.inventory.indexOf(shopItem);

        this.shop.inventory.splice(i, 1);

        if(!!shopItem._id) {
          try {
            await this.$axios.$delete(`/shop_items/${shopItem._id}`);
            this.$emit('deleteItem', shopItem);
          } catch (e) {
            console.error(e);

            this.$emit('error');
          }
        } else {
          this.$emit('deleteItem', shopItem);
        }
      },
      addCompanion() {
        if(!this.shop.companionInventory)
          Vue.set(this.shop, 'companionInventory', [])


        this.shop.companionInventory.push({
          item: this.items[0],
          stock: 0,
          unlimitedStock: true,
        })
      },
      deleteCompanion: async function(shopCompanion) {
        if(!confirm(`Are you sure you want to delete "${shopCompanion.companion.name}"?`))
          return;

        const i = this.shop.companionInventory.indexOf(shopCompanion);

        this.shop.companionInventory.splice(i, 1);

        if(!!shopCompanion._id) {
          try {
            await this.$axios.$delete(`/shop_companions/${shopCompanion._id}`);
            this.$emit('deleteCompanion', shopCompanion);
          } catch (e) {
            console.error(e);

            this.$emit('error');
          }
        } else {
          this.$emit('deleteCompanion', shopItem);
        }
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
        this.icon = null;
      }
    }
  }
</script>
