<template>
  <div>
    <wysiwyg
      v-model="body"
      box
      placeholder="Enter comment here..."
      label="Add comment"
    />
    <v-btn
      color="success"
      block
      @click="onSubmit"
    >
      Save
    </v-btn>
  </div>
</template>

<script>
  import "vue-wysiwyg/dist/vueWysiwyg.css";

  export default {
    props: {
      content: {
        type: String,
        required: false,
      },
      submission: {
        type: String,
        required: false,
      },
      comment: {
        type: Object,
        required: false,
      },
      parent: {
        type: String,
        required: false,
      },
    },
    data() {
      return {
        body: '',
      }
    },
    mounted() {
      if(!!this.comment) {
        this.body = this.comment.body;
      }
    },
    methods: {
      async onSubmit() {
        if(!this.body.length)
          return;

        const payload = {
          body: this.body,
        };

        if(this.content)
          payload.content = this.content;

        if(this.submission)
          payload.submission = this.submission;

        if(this.parent)
          payload.parent = this.parent;

        this.body = '';

        if(this.comment && this.comment._id) {
          try {
            const result = await this.$axios.patch(`/comments/${this.comment._id}`, payload);

            this.$bus.$emit('success', {
              message: 'Your comment has been updated!'
            });

            this.$emit('update', this.comment);
            this.$bus.$emit('comment');
          } catch (e) {
            console.error(e);

            this.$bus.$emit('error', {
              message: 'Your comment could not be updated. Please try again later.'
            });
          }
        } else {
          try {
            const result = await this.$axios.post(`/comments`, payload);

            this.body = '';

            this.$bus.$emit('success', {
              message: 'Your comment has been added!'
            });

            this.$emit('create', this.comment);
            this.$bus.$emit('comment');
          } catch (e) {
            console.error(e);

            this.$bus.$emit('error', {
              message: 'Your comment could not be added. Please try again later.'
            });
          }
        }

      }
    },
  }
</script>
