<template>
  <div class="comments">
    <Card
      :class="{
        'indent ml-4' : !!indent
      }"
      v-for="comment in comments"
    >
      <div
        class="grey lighten-4 mb-3"
      >
        <template v-if="editedComment._id === comment._id">
          <CommentForm
            v-if="content"
            :content="content"
            :comment="comment"
            @update="onCommentUpdate"
          />
          <CommentForm
            v-else-if="submission"
            :submission="submission"
            :comment="comment"
            @update="onCommentUpdate"
          />
        </template>

        <Comment
          :comment="comment"
          class="comment"
          v-else
        />

        <template v-if="!!authUser">
          <v-layout class="pt-3">
            <v-spacer />

            <v-btn
              v-if="
              comment.softDeleted === undefined
              && comment.body !== '[deleted]'
              "
              flat
              @click="toggleCommentForm(comment)"
            >
              {{ showCommentForm.indexOf(comment._id) === -1 ? 'Reply' : 'Close' }}
            </v-btn>
            <v-btn
              v-if="
                !!user
                && (!!isUser(comment) || !!canModerate)
                && (
                  comment.softDeleted === undefined
                  && comment.body !== '[deleted]'
                )
              "
              flat
              @click="editComment(comment)"
            >
              {{ editedComment._id !== comment._id ? 'Edit' : 'Close' }}
            </v-btn>
            <v-btn
              v-if="
                !!user
                && !!canModerate
                && (
                  comment.softDeleted === undefined
                  && comment.body !== '[deleted]'
                )
              "
              flat
              color="error"
              @click="deleteComment(comment)"
            >
              Delete
            </v-btn>
          </v-layout>
          <Card
            class="mt-2"
            v-if="showCommentForm.indexOf(comment._id) !== -1"
          >
            <CommentForm
              v-if="content"
              :content="content"
              :parent="comment._id"
              @create="onComment(comment)"
            />
            <CommentForm
              v-if="submission"
              :submission="submission"
              :parent="comment._id"
              @create="onComment(comment)"
            />
          </Card>
        </template>
      </div>
      <template v-if="!!comment.comments && !!comment.comments.length">
        <template v-if="show || level < 3">
          <CommentSection
            v-if="content"
            :comments="comment.comments"
            :content="content"
            :parent-level="level"
            indent
          />
          <CommentSection
            v-if="submission"
            :comments="comment.comments"
            :submission="submission"
            :parent-level="level"
            indent
          />
        </template>
        <template v-else>
          <a
            href=""
            @click.prevent="show=true"
            class="d-block text-xs-center py-2 grey lighten-3"
          >Show nested comments</a>
        </template>
      </template>
    </Card>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { mapGetters } from 'vuex';

  import userMixins from '@/mixins/user';

  import Comment from '@/components/Content/Comment';
  import CommentForm from '@/components/Content/CommentForm';

  export default {
    name: 'CommentSection',
    props: {
      comments: {
        type: Array,
        required: true,
      },
      content: {
        type: String,
        required: false,
      },
      submission: {
        type: String,
        required: false,
      },
      indent: {
        type: Boolean,
        required: false,
        default: false,
      },
      parentLevel: {
        type: Number,
        required: false,
      },
    },
    components: {
      Comment,
      CommentForm
    },
    mixins: [userMixins],
    data() {
      return {
        show: false,
        showCommentForm: [],
        editedComment: {
          _id: '',
          body: '',
        },
      };
    },
    methods: {
      toggleCommentForm({_id}) {
        const i = this.showCommentForm.indexOf(_id);

        if(i !== -1) {
          this.showCommentForm.splice(i, 1);
        } else {
          this.showCommentForm.push(_id);
        }
      },
      async deleteComment(comment) {
        if(
          confirm('Are you sure you want to delete this comment?')
        )
          try {
            const result = await this.$axios.$delete(`/comments/${comment._id}`);
            comment.body = result.body;
            Vue.set(comment, 'softDeleted', result.softDeleted);

            this.$emit('delete');
            this.toggleDialog();
          } catch (e) {
            console.error(e);
            this.$emit('error');
          }
      },
      editComment(comment) {
        if(this.editedComment._id === comment._id) {
          this.resetEditedComment();
        } else {
          this.editedComment = comment;
        }
      },
      onComment(parentComment) {
        this.showCommentForm.splice(this.showCommentForm.indexOf(parentComment._id), 1);
      },
      onCommentUpdate(comment) {
        this.resetEditedComment();
      },
      resetEditedComment() {
        this.editedComment = {
          _id: '',
          body: '',
        };
      }
    },
    computed: {
      ...mapGetters('auth', ['authUser']),
      level() {
        let level = 1;
        if(this.parentLevel)
          level = this.parentLevel+1;

        return level;
      }
    },

  }
</script>
<style lang="stylus" scoped>
  .indent
    padding-left: 12px;

    .comment
      border-left: 1px solid #b2bba2;

</style>
