<template>
  <Card
  :id="commentId"
  class="grey lighten-3"
  noMargin
  >
    <v-card-title
      class="grey--text text--darken-1"
    >
      <a :href="commentUrl">{{ hoomenTime(comment.createdAt) }}</a>
      <span class="mx-1">by</span>
      <a
        v-if="comment.user"
        :href="`/u/${comment.user.username}`"
        target="_blank"
      >
        {{ comment.user.username }}
      </a>
      <template v-else>
        [Deleted user]
      </template>
    </v-card-title>
    <v-card-text v-html="comment.body">
    </v-card-text>
  </Card>
</template>

<script>
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    mixins: [dateTimeMixins],
    props: {
      comment: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        body: '',
      }
    },
    methods: {
    },
    computed: {
      commentUrl() {
        return `${this.$route.path}#${this.commentId}`
      },
      commentId() {
        return `comment-${this.comment._id}`;
      }
    }
  }
</script>
