<template>
  <v-dialog
    v-model="value"
    persistent
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!!content._id">
              Edit {{ content.name }}
            </template>
            <template v-else>
              Create Content
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>

        <v-card-text>
          <v-text-field
            v-model="content.slug"
            label="Slug"
            prefix="/"
            required
          >
          </v-text-field>

          <v-text-field
            v-model="content.title"
            label="Title"
            required
          >
          </v-text-field>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Body</div>
            <v-switch
              v-model="showPreview"
              label="Preview"
            ></v-switch>

            <MonacoEditor
                language="html"
                v-model="content.body"
                class="editor"
                :options="{minimap: { enabled: false }}"
                v-if="showEditor && !showPreview"
                >
            </MonacoEditor>

            <v-card v-else-if="!!showPreview">
              <v-card-title class="pb-0">
                <span class="caption">Preview</span>
              </v-card-title>
              <v-card-text v-html="content.body"></v-card-text>
            </v-card>
          </div>

          <v-select
            v-model="content.category"
            :items="categories"
            label="Category"
          >
          </v-select>

          <v-switch
            v-model="content.hasComments"
            label="Has Comments"
          >
          </v-switch>

          <v-select
            v-model="content.parent"
            :items="parents"
            label="Parent"
          >
          </v-select>

          <v-switch
            v-model="content.notifyUsers"
            label="Notify Users"
          >
          </v-switch>

          <v-text-field
            v-model="content.notificationMessage"
            label="Notification Message"
            v-if="!!content.notifyUsers"
          >
          </v-text-field>
        </v-card-text>
      </v-form>

    </v-card>
  </v-dialog>
</template>
<script>
  import formMixins from '@/mixins/form';
  import MonacoEditor from 'vue-monaco';

  export default {
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      content: {
        type: Object,
        required: true,
      }
    },
    mixins: [formMixins],
    components: {
      MonacoEditor
    },
    watch: {
      value() {
        this.$nextTick(() => {
          this.showEditor = this.value;
        })
      }
    },
    data() {
      return {
        categories: ['content', 'activity', 'news'],
        showEditor: false,
        showPreview: false,
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.content);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(`/content/${payload._id}`, payload);

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post('/content', payload);

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
    }
  }
</script>
<style scoped>
.editor {
  height: 800px;
}
</style>
