<template>
  <v-alert
    color="success"
    outline
    :value="true"
    class="pointer"
    @click="goToNews"
    v-if="!!hasNews"
  >
    {{ news.notificationMessage }}
  </v-alert>
</template>
<script>
  import userMixins from '@/mixins/user';

 export default {
   mixins: [userMixins],
   methods: {
     async goToNews() {
       try {
         await this.$axios.patch(`/users/${this.user._id}`, { news: null });
       } catch (e) {

       } finally {
         this.$router.push(`/c/${this.news.slug}`);
       }
     }
   },
   computed: {
     news() {
       return this.user.news;
     },
     hasNews() {
       return !!this.user && !!this.user.news;
     }
   }
 }
</script>
