<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Activity Check
        </v-card-title>
        <v-card-title>
          <v-spacer />
          <div>
            <v-select
              v-model="filter"
              label="Filter"
              :items="['with activity check', 'without activity check', 'all']"
              single-line
              hide-details
              class="mr-2"
            ></v-select>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </div>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="filteredUsers"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.username }}</strong>
            </td>
            <td class="grey--text text--darken-2">
              {{ !!props.item.activityCheck ? props.item.activityCheck : 'No activity check.' }}
            </td>
            <td>
              {{ !!props.item.activityCheckDate ? dateTime(props.item.activityCheckDate) : 'No date.' }}
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                :to="`/u/${props.item.username}`"
                target="_blank"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';
  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    layout: 'admin',
    mixins: [
      appMixins,
      dialogMixins,
      userMixins,
      dateTimeMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/users');
      return {
        users: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Username', value: 'username', width: '5%' },
          { text: 'Activity Check', value: 'activityCheck' },
          { text: 'Submitted', value: 'activityCheckDate' },
          { text: '', value: '' },
        ],
        filter: 'all',
        showDialog: false,
      }
    },
    computed: {
      filteredUsers() {
        let result = this.users;
        if(this.filter == 'with activity check') {
          result = result.filter(({activityCheck}) => !!activityCheck);
        } else if(this.filter == 'without activity check') {
          result = result.filter(({activityCheck}) => !activityCheck);
        }

        return result;
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/users');
          this.users = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },

    },
  }
</script>
