<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Users
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add User
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-flex shrink>
            <v-switch
              v-model="includeDeleted"
              label="Include deleted users"
              single-line
              hide-details
            ></v-switch>
          </v-flex>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            class="ml-2"
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="filteredUsers"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td :class="{
              'deleted' : props.item.deletedAt
              }">
              <strong>{{ props.item.username }}</strong>
            </td>
            <td class="grey--text text--darken-2">
              {{ props.item.dA }}
            </td>
            <td class="text-xs-right">
              <template v-if="props.item.deletedAt">
                <v-btn
                  color="primary"
                  class="mx-0"
                  flat
                  icon
                  small
                  @click="restoreUser(props.item)"
                >
                  <v-icon>restore</v-icon>
                </v-btn>
              </template>
              <template v-else>
                <v-btn
                  color="primary"
                  class="mx-0"
                  flat
                  icon
                  small
                  :to="`/u/${props.item.username}`"
                  target="_blank"
                >
                  <v-icon>remove_red_eye</v-icon>
                </v-btn>
                <v-btn
                  color="primary"
                  class="mx-0"
                  flat
                  icon
                  small
                  @click="selectUser(props.item)"
                >
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-btn
                  color="danger"
                  class="mx-0"
                  flat
                  icon
                  small
                  @click="deleteUser(props.item)"
                >
                  <v-icon>delete</v-icon>
                </v-btn>
              </template>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :edited-user="selectedUser"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Users/UserDialog';

  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';
  import userMixins from '@/mixins/user';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [
      appMixins,
      dialogMixins,
      userMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/users');
      return {
        users: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Username', value: 'username' },
          { text: 'dA', value: 'dA' },
          { text: '', value: '' },
        ],
        selectedUser: {
          username: '',
          permissions: [],
          currency: 0,
          premium_currency: 0,
          hasTemporaryPassword: true,
          password: this.randString(12),
        },
        includeDeleted: false,
        showDialog: false,
      }
    },
    computed: {
      filteredUsers() {
        if(!this.includeDeleted)
          return this.users.filter(({deletedAt}) => !deletedAt)

        return this.users
      },
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/users');
          this.users = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'User has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'User has been successfully updated.'
        });
      },
      selectUser(user) {
        this.selectedUser = JSON.parse(JSON.stringify(user));
        this.toggleDialog();
      },
      async restoreUser({_id, username}) {
        if(
          confirm(`Are you absolutely certain you want to restore "${username}"?`)
        )
          try {
            const result = await this.$axios.post(`/users/${_id}/restore`);
            this.get();
            this.$bus.$emit('success', {
              message: 'User has been successfully restored.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'User could not be restored.'
            });
          }
      },
      async deleteUser({_id, username}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${username}"?`)
        )
          try {
            const result = await this.$axios.delete(`/users/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'User has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'User could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedUser = {
          username: '',
          permissions: [],
          currency: 0,
          premium_currency: 0,
          hasTemporaryPassword: true,
          password: this.randString(12),
        };
      }
    },
  }
</script>
