<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Staff
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Staff
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="users"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.username }}</strong>
            </td>
            <td class="grey--text text--darken-2">
              {{ props.item.dA }}
            </td>
            <td class="grey--text text--darken-2">
              <v-icon
                small
                v-if="!!props.item.hiatus"
              >
                check
              </v-icon>
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                :to="`/u/${props.item.username}`"
                target="_blank"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                @click="selectUser(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                class="mx-0"
                flat
                icon
                small
                @click="deleteUser(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
              <v-btn
                class="mx-0"
                flat
                icon
                small
                @click="props.expanded = !props.expanded"
              >
                <v-icon small>
                  {{ props.expanded ? 'expand_less' : 'expand_more' }}
                </v-icon>
              </v-btn>
            </td>
          </template>
          <template v-slot:expand="props">
            <div class="pa-4">
              <template v-if="!!props.item.modActivityCheck">
                {{ props.item.modActivityCheck }}
                <br />
                <br />
                <strong>
                  <template v-if="props.item.modActivityCheckDate">
                    Submitted at {{ dateTime(props.item.modActivityCheckDate) }}
                  </template>
                  <template v-else>
                    No date.
                  </template>
                </strong>
              </template>
              <template v-else>
                No mod activity check.
              </template>
            </div>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :edited-user="selectedUser"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/Users/UserDialog';

  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';
  import userMixins from '@/mixins/user';
  import dateTimeMixins from '@/mixins/dateTime';

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [
      appMixins,
      dialogMixins,
      userMixins,
      dateTimeMixins
    ],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/users/staff');
      return {
        users: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Username', value: 'username' },
          { text: 'dA', value: 'dA' },
          { text: 'Hiatus', value: 'hiatus' },
          { text: '', value: '' },
        ],
        selectedUser: {
          username: '',
          permissions: ['moderate'],
          currency: 0,
          premium_currency: 0,
          password: this.randString(12),
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/users/staff');
          this.users = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'User has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'User has been successfully updated.'
        });
      },
      selectUser(user) {
        this.selectedUser = JSON.parse(JSON.stringify(user));
        this.toggleDialog();
      },
      async deleteUser({_id, username}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${username}"?`)
        )
          try {
            const result = await this.$axios.delete(`/users/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Item has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Item could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedUser = {
          username: '',
          permissions: ['moderate'],
          currency: 0,
          premium_currency: 0,
          password: this.randString(12),
        };
      }
    },
  }
</script>
