<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Color Statuses
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Color Status
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="colorStatuses"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <strong>{{ props.item.name }}</strong>
            </td>
            <td>
              <ColorStatusCard :value="props.item" />
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                flat
                icon
                small
                @click="selectColorStatus(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                flat
                icon
                small
                @click="deleteColorStatus(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :color-status="selectedColorStatus"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import Dialog from '@/components/ColorStatuses/ColorStatusDialog';
  import ColorStatusCard from '@/components/ColorStatuses/ColorStatusCard';

  import dialogMixins from '@/mixins/dialog';

  export default {
    layout: 'admin',
    components: {
      Dialog,
      ColorStatusCard
    },
    mixins: [dialogMixins],
    async asyncData({ $axios, params }) {
      const result = await $axios.get('/color_statuses');
      return {
        colorStatuses: result.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Name', value: 'name' },
          { text: 'Preview', value: 'css' },
          { text: '', value: '' },
        ],
        selectedColorStatus: {
          name: '',
          value: '',
          icon: null,
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          const result = await this.$axios.get('/color_statuses');
          this.colorStatuses = result.data;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'ColorStatus has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'ColorStatus has been successfully updated.'
        });
      },
      selectColorStatus(book) {
        this.selectedColorStatus = JSON.parse(JSON.stringify(book));
        this.toggleDialog();
      },
      async deleteColorStatus({_id, name}) {
        if(
          confirm(`Are you absolutely certain you want to delete "${name}"?`)
        )
          try {
            const result = await this.$axios.delete(`/color_statuses/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'ColorStatus has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'ColorStatus could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedColorStatus = {
          name: '',
          slug: '',
          value: '',
          icon: null,
        };
      }
    },
  }
</script>
