<template>
  <v-layout row wrap>
    <v-flex
      xs12
      md2
    >
      <span class="bod-2 mr-2">
        {{ value.label }}
      </span>
    </v-flex>
    <v-flex
      grow
    >
    <template v-if="value.type === 'Boolean'">
      <v-switch
        v-model="value.value"
        class="ma-0 pa-0"
        hide-details
        @change="onChange"
      >
      </v-switch>
    </template>
    <template v-else-if="value.type === 'Text'">
      <v-text-field
        v-model="value.value"
        class="ma-0 pa-0"
        hide-details
        @change="onChange"
      >
    </v-text-field>
    </template>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      required: true,
    }
  },
  methods: {
    onChange() {
      try {
        this.$axios.patch(`/settings/${this.value.key}`, this.value)

        this.$emit('save', this.value);
      } catch (e) {
        console.error(e);

        this.$emit('error');
      }
    }
  }
}
</script>
