<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
    fullscreen
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            <template v-if="!editedQuickCatchEvent._id">
              Add Quick Catch Event
            </template>
            <template v-else>
              Edit Quick Catch Event
            </template>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              type="submit"
              flat
              dark
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-card-text v-if="serverErrors.length">
          <v-alert
            type="error"
            :value="true"
            v-for="(error, i) in serverErrors"
            :key="i"
          >
            {{ error }}
          </v-alert>
        </v-card-text>
        <v-card-text>
          <v-autocomplete
            v-model="editedQuickCatchEvent.companion"
            :items="companions"
            label="Companion"
            item-text="name"
            item-value="_id"
          >
          </v-autocomplete>

          <v-autocomplete
            v-model="editedQuickCatchEvent.pokeball"
            :items="pokeballs"
            label="Pokeball"
            item-text="name"
            item-value="_id"
          >
          </v-autocomplete>

          <v-layout
            row
            wrap
            justify-center
          >
            <v-flex xs12 md8 lg6>
              <date-pick
                v-model="editedQuickCatchEvent.schedule"
                :pickTime="true"
                :format="'YYYY-MM-DD | HH:mm'"
                :hasInputElement="false"
              ></date-pick>
            </v-flex>
          </v-layout>

          <v-text-field
            v-model="editedQuickCatchEvent.urlMatch"
            label="URL match"
            prefix="/"
            required
          >
          </v-text-field>

          <div class="my-4">
            <div class="body-1 grey--text text--darken-2 mb-2">Image</div>
            <v-layout row wrap justify-center>
              <v-flex
                xs12
                lg6
                xl3
                v-if="!!editedQuickCatchEvent.image"
              >
                <img
                  :src="editedQuickCatchEvent.image"
                  style="max-width:100%;"
                />
              </v-flex>
              <v-flex
                xs12
                lg6
                xl3
              >
                <picture-input
                  ref="image"
                  width="200"
                  height="200"
                  margin="16"
                  accept="image/jpeg,image/png,image/gif"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Drag & Drop Image Icon'
                  }"
                  @change="onChange"
                  v-if="value"
                >
                </picture-input>
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import 'vue-date-pick/dist/vueDatePick.css';

  import moment from 'moment';

  import DatePick from 'vue-date-pick';
  import PictureInput from 'vue-picture-input';

  import formMixins from '@/mixins/form';

  const DATE_FORMAT = 'YYYY-MM-DD | HH:mm';

  export default {
    components: { DatePick, PictureInput },
    mixins: [formMixins],
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      companions: {
        type: Array,
        required: true,
      },
      items: {
        type: Array,
        required: true,
      },
      editedQuickCatchEvent: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        serverErrors: [],
        valid: false,
        image: null,
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload(this.editedQuickCatchEvent);

        if(!!this.image)
          payload.image = this.image;

        if(!!payload.companion && !!payload.companion._id)
          payload.companion = payload.companion._id;

        if(!!payload.pokeball && !!payload.pokeball._id)
          payload.pokeball = payload.pokeball._id;

        if(!!payload.schedule)
          payload.schedule = moment(payload.schedule, DATE_FORMAT).toDate();

        const formData = this.createFormData(payload);

        if(!!payload._id) {
          try {
            result = await this.$axios.$patch(
              `/quickCatchEvents/${payload._id}`,
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('update', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        } else {
          try {
            result = await this.$axios.$post(
              '/quickCatchEvents',
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              }
            );

            this.$emit('create', result);
            this.toggleDialog();
          } catch (e) {
            console.error(e);

            if(
              !!e.response
              && !!e.response.data
            ) {
              if(!!e.response.data.errors)
                this.serverErrors = e.response.data.errors;
            }

            this.$emit('error');
          }
        }
      },
      onChange (image) {
        if (image) {
          this.image = this.$refs.image.file
        }
      },
      reset() {
        this.serverErrors = [];
        this.valid = false;
        this.image = null;
      }
    },
    computed: {
      pokeballs() {
        return this.items.filter(({category}) => category === 'Poke Ball')
      }
    }
  }
</script>
