<template>
  <div
    class="quick-catch-event-preview"
    @click="setDialog(true)"
  >
    <img :src="value.image" />
  </div>
</template>

<script>
  import { mapMutations } from 'vuex';

  export default {
    props: {
      value: {
        type: Object,
        required: true,
      }
    },
    methods: {
      ...mapMutations('quickCatchEvent', ['setDialog'])
    }
  }
</script>

<style lang="stylus" scoped>
  .quick-catch-event-preview
    position: fixed;
    bottom: 24px;
    right: 24px;
    max-width: 240px;
</style>
