<template>
  <v-dialog
    v-model="value"
    max-width="800"
    persistent
  >
    <v-card>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-toolbar
          color="rgb(141, 183, 118)"
          class="white--text px-2"
          flat
        >
          <v-btn
            icon
            dark
            @click="toggleDialog"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>
            A wild {{ quickCatchEvent.companion.name }} appeared
          </v-toolbar-title>
        </v-toolbar>

        <v-card-text v-if="status === 'wild'">
          <v-layout
            row
            wrap
            justify-center
          >
            <v-flex
              xs12
              md8
              lg6
            >
              <img
                :src="quickCatchEvent.image"
              />
            </v-flex>
          </v-layout>
          <v-autocomplete
            v-model="pokeball"
            :items="pokeballs"
            label="Pokeball"
            item-text="item.name"
            item-value="_id"
          >
          </v-autocomplete>

          <v-btn
            type="submit"
            color="success"
            block
            :disabled="!pokeballSelected"
          >
            Catch!
          </v-btn>
        </v-card-text>

        <v-card-text v-else>
          <v-alert
            type="success"
            :value="status === 'caught'"
            class="mb-4"
          >
            You caught a <strong>{{ quickCatchEvent.companion.name }}</strong>!
          </v-alert>
          <v-alert
            type="error"
            :value="status === 'failed'"
            class="mb-4"
          >
            Too late! <strong>{{ quickCatchEvent.companion.name }}</strong> was caught by someone else already.
          </v-alert>
          <v-btn
            color="success"
            block
            @click="toggleDialog"
          >
            Close
          </v-btn>
        </v-card-text>

      </v-form>
    </v-card>
  </v-dialog>
</template>
<script>
  import formMixins from '@/mixins/form';

  export default {
    mixins: [formMixins],
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      items: {
        type: Array,
        required: true,
      },
      quickCatchEvent: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        serverErrors: [],
        status: 'wild',
        pokeball: null,
      }
    },
    methods: {
      async onSubmit() {
        let result;

        this.serverErrors = [];

        const payload = this.createPayload({
          pokeball: this.pokeball
        });

        try {
          result = await this.$axios.$post(
            `/quickCatchEvents/${this.quickCatchEvent._id}/catch`,
            payload
          );

          this.status = 'caught';
          this.$emit('catch', result);
        } catch (e) {
          console.error(e);

          if(
            !!e.response
            && !!e.response.data
          ) {
            if(!!e.response.data.errors) {
              this.serverErrors = e.response.data.errors;
            }
          }

          this.$emit('error');
        }
      },
      reset() {
        this.serverErrors = [];
        this.pokeball = null;
      }
    },
    computed: {
      canBeCapturedWithPityball() {
        return this.quickCatchEvent.status === 'pityball'
      },
      pokeballs() {
        return this.items.filter(({item}) => {
          return item.category === 'Poke Ball'
                 && (
                   this.quickCatchEvent.pokeball.modifier <= item.modifier
                   || !!this.canBeCapturedWithPityball
                 );
        });
      },
      pokeballSelected() {
        return (
                 !!this.pokeball
                 && (
                   this.quickCatchEvent.pokeball.modifier <= this.pokeball.modifier
                   || !!this.canBeCapturedWithPityball
                 )
               )
      }
    }
  }
</script>
