<template>
  <div class="item">
    <v-card
      color="grey lighten-3"
      class="text-xs-center fill-height"
      flat
    >

      <div
        v-if="empty"
        class="pa-1 pb-0"
      >
        <div class="empty-image" />
      </div>
      <div
        v-else-if="!!value.icon"
        class="pa-1 pb-0"
      >
        <img
          :src="value.icon"
          height="150px"
        />
      </div>

      <v-card-title
        primary-title
        class="item--title d-block caption"
      >
        <template v-if="empty">
          <span>No item selected.</span>
        </template>
        <template v-else>
          <span
            class="item--count"
            v-if="value.userItems"
          >

            {{ value.userItems.length }}x
          </span>
          <span v-html="value.name"></span>
          <v-avatar
            color="rgb(141, 183, 118)"
            size="18"
            icon
            small
            label
            v-if="!!soulbound"
          >
            <v-icon
              color="white"
              size="8"
              class="mx-0"
            >
              star
            </v-icon>
          </v-avatar>
        </template>
      </v-card-title>
    </v-card>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: Object,
        required: false
      },
      soulbound: {
        type: Boolean,
        required: false,
        default: false,
      },
      empty: {
        type: Boolean,
        required: false,
        default: false,
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .item
    width: 162px
    height: 100%
    cursor: pointer

  .empty-image {
    width: 150px;
    height: 150px;
    background: white;
    margin: 0 auto;
  }
</style>
