<template>
  <v-layout wrap justify-center>
    <v-flex xs12 md10 lg6>
      <v-card light>
        <v-card-title class="title">
          Quick Catch Events
        </v-card-title>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            outline
            small
            @click="toggleDialog"
          >
            Add Quick Catch Event
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="quickCatchEvents"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              {{ props.item.companion.name }}
            </td>
            <td>
              {{ props.item.urlMatch }}
            </td>
            <td>
              {{ props.item.schedule }}
            </td>
            <td>
              <v-chip
                label
              >
                {{ props.item.status }}
              </v-chip>
            </td>
            <td class="text-xs-right">
              <v-btn
                color="primary"
                class="mx-0"
                flat
                icon
                small
                @click="selectQuickCatchEvent(props.item)"
              >
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn
                color="danger"
                class="mx-0"
                flat
                icon
                small
                @click="deleteQuickCatchEvent(props.item)"
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <Dialog
      :edited-quick-catch-event="selectedQuickCatchEvent"
      :companions="companions"
      :items="items"
      v-model="showDialog"
      @create="onCreate"
      @update="onUpdate"
      @error="onError"
      @close="reset"
    />
  </v-layout>
</template>

<script>
  import moment from 'moment';

  import Dialog from '@/components/QuickCatchEvents/EditQuickCatchEventDialog';

  import appMixins from '@/mixins/app';
  import dialogMixins from '@/mixins/dialog';

  const DATE_FORMAT = 'YYYY-MM-DD | HH:mm';

  const formatScheduleDates = (quickCatchEvent) => {
    quickCatchEvent.schedule = moment(quickCatchEvent.schedule).format(DATE_FORMAT);

    return quickCatchEvent;
  }

  export default {
    layout: 'admin',
    components: {Dialog},
    mixins: [
      appMixins,
      dialogMixins
    ],
    async asyncData({ $axios, params }) {
      let [quickCatchEvents, companions, items] = await Promise.all([
        $axios.get('/quickCatchEvents'),
        $axios.get('/companions'),
        $axios.get('/items')
      ]);

      quickCatchEvents = quickCatchEvents.data.map(formatScheduleDates);

      return {
        quickCatchEvents,
        companions: companions.data,
        items: items.data,
        search: '',
      };
    },
    data() {
      return {
        headers: [
          { text: 'Pokemon', value: 'companion' },
          { text: 'URL Match', value: 'urlMatch' },
          { text: 'Scheduled at', value: 'schedule' },
          { text: 'Status', value: 'status' },
          { text: '', value: '' },
        ],
        selectedQuickCatchEvent: {
          companion: null,
          pokeball: null,
          image: null,
          urlMatch: '*',
          schedule: moment().format(DATE_FORMAT),
        },
        showDialog: false,
      }
    },
    methods: {
      async get() {
        try {
          let {data:quickCatchEvents} = await this.$axios.get('/quickCatchEvents');
          this.quickCatchEvents = quickCatchEvents.map(formatScheduleDates);;
        } catch (e) {
          console.error(e);
          this.onError();
        }
      },
      toggleDialog() {
        this.showDialog = !this.showDialog;
      },
      onCreate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Quick catch event has been successfully created.'
        });
      },
      onUpdate() {
        this.get();
        this.$bus.$emit('success', {
          message: 'Quick catch event has been successfully updated.'
        });
      },
      selectQuickCatchEvent(quickCatchEvent) {
        this.selectedQuickCatchEvent = JSON.parse(JSON.stringify(quickCatchEvent));
        this.toggleDialog();
      },
      async deleteQuickCatchEvent({_id}) {
        if(
          confirm(`Are you absolutely certain you want to delete this quick catch event??`)
        )
          try {
            const result = await this.$axios.delete(`/quickCatchEvents/${_id}`);
            this.get();
            this.$bus.$emit('success', {
              message: 'Quick catch event has been successfully deleted.'
            });
          } catch (e) {
            console.error(e);
            this.$bus.$emit('error', {
              message: 'Quick catch event could not be deleted.'
            });
          }
      },
      reset() {
        this.selectedQuickCatchEvent = {
          companion: null,
          pokeball: null,
          image: null,
          urlMatch: '*',
          schedule: moment().format(DATE_FORMAT),
        };
      }
    },
  }
</script>
