<template>
    <div>
        <button
          v-for="(color, i) in colors"
          :key="`color-${i}`"
          class="color-button"
          type="button"
          @click="insertColoredText(color)"
        >
          <div :style="`background:${color}`"></div>
        </button>
    </div>
</template>

<script>
import bus from '../bus.js';

export default {
    title: "textColor",
    description: "Text Color",
    icon: '<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="palette" class="svg-inline--fa fa-palette fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M204.3 5C104.9 24.4 24.8 104.3 5.2 203.4c-37 187 131.7 326.4 258.8 306.7 41.2-6.4 61.4-54.6 42.5-91.7-23.1-45.4 9.9-98.4 60.9-98.4h79.7c35.8 0 64.8-29.6 64.9-65.3C511.5 97.1 368.1-26.9 204.3 5zM96 320c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm32-128c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128-64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z"></path></svg>',
    data() {
      return {
        colors: [
          'red',
          'blue',
          'yellow',
          'green',
          'aqua',
          'blue',
          'plum',
          'pink',
          'brown',
          'white',
          'gray',
          'black'
        ]
      }
    },
    methods: {
        insertColoredText(color){
            const sel = bus.utils.getHTMLOfSelection();
            this.$emit("exec", "insertHTML", `<span style="color:${color}">${sel}</span>`);
            this.$parent.closeDashboard();
        }
    }
};
</script>
<style lang="stylus" scoped>
  .color-button > div
    width: 12px
    height: 12px
</style>
