<template>
  <v-card color="grey lighten-4">
    <v-card-text class="ma-0 pa-2">
      <v-layout row wrap>
        <v-icon
          class="draggiboi pointer icon-border mx-3"
        >
          drag_indicator
        </v-icon>
        <v-flex
          class="mx-1"
          md5
          lg1
        >
          <v-text-field
            v-model="value.icon"
            small
            hide-details
            solo
            label="Icon"
            required
            width="20"
          >
          </v-text-field>
        </v-flex>
        <v-text-field
          v-model="value.label"
          hide-details
          solo
          small
          label="Label"
          class="mx-1"
          required
        >
        </v-text-field>
        <v-text-field
          v-model="value.url"
          hide-details
          solo
          small
          label="URL"
          class="mx-1"
          required
        >
        </v-text-field>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-switch
              v-model="value.authOnly"
              class=" shrink mt-2 mx-1"
              hide-details
              required
              v-on="on"
            >
            </v-switch>
          </template>
          <span>Is authentication required to see this menu item?</span>
        </v-tooltip>
        <v-btn
          color="error"
          class="mx-1"
          icon
          @click="$emit('delete', value)"
        >
          <v-icon small>
            delete
          </v-icon>
        </v-btn>

        <v-btn
          class="mx-1"
          icon
          flat
          @click="show=!show"
        >
          <v-icon>
            {{ show ? 'expand_less' : 'expand_more' }}
          </v-icon>
        </v-btn>
      </v-layout>
    </v-card-text>
    <v-card-text
      v-show="show"
       class="ma-0 pa-2"
    >
      <draggable
        :list="value.children"
        :group="value._id"
        handle=".draggiboi"
        @change="onSort($event, value.children)"
      >
        <v-card
          class="mb-2"
          v-for="(childMenuItem, index) in value.children"
          :key="`${value.id}-${index}`"
        >
          <v-card-text>
            <v-layout row wrap>
              <v-icon
                class="draggiboi pointer icon-border mr-3"
              >
                drag_indicator
              </v-icon>
              <v-text-field
                v-model="childMenuItem.label"
                hide-details
                solo
                small
                label="Label"
                class="mx-1"
                required
              >
              </v-text-field>
              <v-text-field
                v-model="childMenuItem.url"
                hide-details
                solo
                small
                label="URL"
                class="mx-1"
                required
              >
              </v-text-field>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-switch
                    v-model="childMenuItem.authOnly"
                    class=" shrink mt-2 mx-1"
                    hide-details
                    required
                    v-on="on"
                  >
                  </v-switch>
                </template>
                <span>Is authentication required to see this menu item?</span>
              </v-tooltip>
              <v-btn
                color="error"
                class="mx-1"
                icon
                @click="deleteMenuItem(childMenuItem)"
              >
                <v-icon small>
                  delete
                </v-icon>
              </v-btn>
            </v-layout>
          </v-card-text>
        </v-card>
      </draggable>
      <v-btn
        color="primary"
        block
        @click="addMenuItem"
      >
        Add Menu Item
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
  import draggable from "vuedraggable";

  export default {
    props: {
      value: {
        type: Object,
        required: true,
      },
    },
    components: {
      draggable,
    },
    data() {
      return {
        show: false,
      }
    },
    methods: {
      addMenuItem() {
        this.value.children.push({
          label: '',
          url: '',
          order: -1,
        })
      },
      deleteMenuItem(menuItem) {
        if(!confirm('Are you sure you want to delete this menu item?'))
          return;

        const i = this.value.children.indexOf(menuItem);

        if(i < 0)
          return;

        this.value.children.splice(i, 1);
      },
      onSort({added, moved}, list) {
        this.value.children.forEach((menuItem, i) => {
          if(menuItem.order != i) {
            menuItem.order = i;
          }
        })
      },
    },
  }
</script>
